<div id="cart_data" class="bootstrap">
    <span><span class="dollar">$</span>{{cart.totals_as_pretty_dict.grand_total}} </span>
    <a style="float:right;margin-right:10px" href="/cart/update_info" id="checkout-btn" class="btn btn-primary ">Checkout</a> 
</div>
<table id="cart_items" class="item-list" data-length="{{cart.count}}">
    {% for item in cart reversed %}
    <tr>
      <td id="product-item-{{item.product.pk}}">
            <div>
               <img style="width:40px;display:inline;float:left" class="product_image" src="{{ item.get_image.tiny.url }}">
               <div style="display:inline">
               <span class="item-label">{{ item.get_name }}</span>
               <span>by {{ item.retailer }}</span>
               <span>${{ item.unit_price|floatformat:2 }}</span>
                </div>
            </div>

        <!--    <p class='quantity'>
                Quantity: <span class='cart-item-quantity'>{{ item.quantity }}</span><a class='cart-change-quantity' href="/cart/update_cart/{{item.product.pk}}">change</a>
            </p>
            <input type="hidden" class="path" value="/cart/update_cart/{{item.product.pk}}/"/>
            <a class='cart-remove' href="/cart/remove_from_cart/{{item.product.pk}}/">remove item</a> -->
        </td>
    </tr>
    {% endfor %}
</table>
