{% extends 'clean_base.html' %}
{% block title %}Stunable | Cart{% endblock %}
{% block body_class %}common{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% load thumbnail %}

{% block content %}


<div class="content cart" id="page-content">
    <div  class="inner-page-content">


{% if cart_failed %}
    <div id="cart_fail">   
            Bad news.  These items got snapped up since you added them to your cart. 

        {% for item in cart_failed.failed_inventory_check %}
        <div>
            <img src="{{item.picture}}">
            <span>{{item.retailer}}: {{item.item_name}}</span>
        </div>
        {% endfor %}

    </div>
{% endif %}

    
    {% block inner_content %}

        <div class="stunable-tabs-nav">
            <ul class="cart-progress">
                <li class="stunable-tab{% if request.path == '/cart/'%} active{% endif %}">1. Shopping Cart</li>
                <li class="stunable-tab{% if shipping_form %} active{% endif %}">2. Payment/Shipping</li>
                <li class="stunable-tab{% if checkouts %} active{% endif %}">3. Confirmation</li>
            </ul>
         </div>


        <div id="cart-totals" class="bootstrap">
            <div>
                <a style="font-size:.8em" href="" class="click-toggle" data-target="#cart-totals-table .hidden">click for details</a>
            <table id="cart-totals-table" width="100%">   
            {% include 'cart/includes/cart_totals_table.html' %}
           </table>
           {% if request.user.is_authenticated %}
               <a class="btn big btn-primary " href="{{SECURE_ROOT}}/cart/check_checkout">checkout</a>
               {% else %}
               <a class="btn big btn-primary login-check" data-href="{{SECURE_ROOT}}/cart/details">checkout</a>

           {% endif %}
                <br>
                <span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=ivQdn3RL4lueVeL1jgWLAYbAzRDMqbDXIXoHqfYGc2IjmOx6PgB"></script></span>
               <!-- <img src="{{ STATIC_URL }}images/gui/godaddy.gif"> -->
            </div>
        </div> 

        {% if cart.get_count %}
        <div id="cart-item-list">
            {% regroup cart by retailer as item_list %}
            {% for retailer_group in item_list %}
                <div class="cart-retailer-group group-header">
                    
                    <table cellpadding="0" cellspacing="0" width="100%" border="0" class="retailer-item-group">
                        <tr>
                            <td colspan="2" class="retailer-header">
                                <span class="item-retailer">{{retailer_group.grouper}}</span><br>
                                <span class="small">Return Policy:{{retailer_group.grouper.return_policy}}</span>
                            </td>
                            <td>
                                <div class="shipping-options">
                                {% for m in cart.available_shipping_options %}
                                    <label>{{m.name}} {{m.estimated_arrival_time}} {{m.price_description}}</label><br>
                                {% endfor %}
                                </div>
                            </td>
                            <td class="cart-item-shipping-edit">
                                {{retailer_group.list.0.get_shipping_form.shipping_method}}
                                <span style="display:none">{{retailer_group.list.0.get_shipping_form.retailer}}</span>
                            </td>

                        </tr>
                        {% for item in retailer_group.list %}
                        <tr class="item-name cart-item-{{item.id}} item-list_item">
                            <td colspan="4">
                                {{ item.item_name }}
                            </td>
                        </tr>
                        <tr id="cart-item-{{item.id}}" class="item cart-item-{{item.id}}">  
                            {% include "cart/includes/cart_list_item.html" %}  
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <h1>
            Your cart is empty...
            <a href="/">Go Buy Things!!!</a>
        </h1>
        {% endif %}
        
    </div>
    {% endblock %}
</div>
{% endblock %} 
