{% extends 'user_base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}styles/screen/cart.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block left_panel %}{%endblock%}
{% block body_class %}common{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% load thumbnail %}
{% block content %}
<style>
	.common td input[type="text"] {
		width: 40px;
	}
	.common th {
		border: thin solid #EBEBEB;
		vertical-align: middle;
	}
	.common table, .common .no-border td {
		border: none;
	}
	.update-zipcode {
		display: none;
		cursor: pointer;
	}

	.cart-items p{
        font-size:.9em;
    }
	html.wait, html.wait * { cursor: wait !important; }
	
</style>

<div class="section-intro">
    <h2><span>Checkout</span></h2>
    <div class="body-copy">
        {% if cart.grand_total %}
        <div class='cart-items'>
            {% for item in cart %}
            <div class="cart-item round-corner-shadow" id="product-item-{{item.product.pk}}">
                <div class='image_wrapper'>
                    {% thumbnail item.product.item.get_image "100x200" as im %} <img class="product" src="{{ im.url }}">
                    {% empty %} <img class="product"src="{{item.product.get_image}}" alt="" />
                    {% endthumbnail %}
                </div>
                <h4>{{ item.product.name }}</h4>
                <p class="retailer">
                    by {{ item.product.item.retailer }}
                </p>
                <p class="price-each">
                    ${{ item.product.get_current_price|floatformat:2 }}
                </p>
                <p class='size'>
                    Size: <span class='cart-item-size'>{{ item.size }}</span>
                </p>
                <p class='color'>
                    Color: <span class='cart-item-size'>{{ item.color }}</span>
                </p>
                <p class='quantity'>
                    Quantity: <span class='cart-item-quantity'>{{ item.quantity }}</span><a class='cart-change-quantity' href="/cart/update_cart/{{item.product.pk}}">change</a>
                </p>
                <input type="hidden" class="path" value="/cart/update_cart/{{item.product.pk}}/"/>
                <a class='cart-remove' href="/cart/remove_from_cart/{{item.product.pk}}/">remove item</a>
            </div>
            {% endfor %}
        </div>
        <div class='cart-action bootstrap'>
            <table class='no-border cart-summary'>
            	<form action="" method="POST">
                <tr>
                    <td>Before Tax:</td><td><strong><span id='cart-total'>{{cart.total|floatformat:2}}</span></strong></td>
                </tr>
                <tr>
                    <td>(estimated) Tax: </td><td><strong><span id='cart-tax'>{{cart.tax|floatformat:2}}</span></strong></td>
                </tr>
                <tr>
                    <td>Shipping method</td><td>
                    <select id="shipping_option_select" name="shipping-method" style="width:auto;">
                        {% for option in cart.get_shipping_options %}
                            <option {% if option.name == cart.get_shipping_method.name %}selected="selected"{%endif%}value="{{option.name}}">{{option.name}}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td>Zipcode</td>
                    <td>
                    <input type="text" name="zipcode" value="{{request.session.recipient_zipcode}}"/>
                    </td>
                </tr>
<!--                 <tr>
                    <td colspan="2"><span class="btn btn-primary update-zipcode" style="display:none">Re-calculate shipping cost</span></td>
                </tr> -->
                <tr>
                    <td>Processing fee:</td>
                    <td><strong><span id='cart-processing'>{{cart.processing|floatformat:2 }}</span></strong></td>
                </tr>
                <tr>
                <tr>
                    <td>Shipping and handling:</td>
                    <td><strong><span id='cart-shipping'>{{cart.cart.shipping_and_handling_cost|floatformat:2 }}</span></strong></td>
                </tr>
                <tr>
                
                    <td>Grand total:</td><td><strong><span id='cart-grand-total'>{{cart.grand_total|floatformat:2}}</span></strong></td>
                </tr>
                <tr>
                    <td colspan="2">
                    	<a href="#" id="checkout-btn" class="btn btn-primary {% if not cart.checkout_ok %}disabled{% endif %}">Checkout</a>
                    	<a href="/" class="btn btn-primary">Continue Shopping</a></td>
                </tr>
                
                </form>
            </table>
            <div class="clearfix"></div>
            {% else %}
            <div class='cart-action bootstrap'>
            <p>
                Cart is empty
            </p>
            <div class='cart-action bootstrap'>
                <a href="/" class="btn btn-primary">Continue Shopping</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} 
{% block extra_script %}
<script type="text/javascript">
    valid_shipping_info = false;

    $(function(){
        function updateCartTotals(totals) {
            $("#cart-total").html(totals.total.toFixed(2));
            $("#cart-tax").html(totals.tax.toFixed(2));
            $("#cart-shipping").html(totals.shipping_and_handling.toFixed(2));
            $("#cart-grand-total").html(totals.grand_total.toFixed(2));
        }

        $('#checkout-btn').click(function(e) {
            e.preventDefault();

            if ($(this).hasClass('disabled')){
                return false;
            }
            // alert("Hang in there, we're not quite ready to go there yet.  Soon!")
            // return false;

            var zipcode = $('input[name="zipcode"]').val();
            
            if (valid_shipping_info && zipcode.length > 0)
                window.location.href = '{% url update_cart_info %}';
            
            if (zipcode.length == 0) {
                alert("Please enter zipcode");
            }
                
            if ($('html').hasClass('wait')) {
                alert('Please be patient, shipping and handling cost is being calculated');
            }
        });

        $(".cart-item").on('click', '.cart-remove', function(event) {
            event.preventDefault();
            var item = $(this).closest('.cart-item');
            $.ajax({
                url : $(this).attr('href'),
                type : 'post',
                success : function(data, textStatus, jqXHR) {
                    update_shipping_handling_fee();
                    item.fadeOut();
                    updateCartTotals(data);
                }
            })
        });

        $(".cart-item").on('click', '.cart-change-quantity', function(event) {
            event.preventDefault();
            var url = $(this).attr('href');
            $(this).hide();
            // TODO: JS templating
            $(this).parent().append("<div class='bootstrap' style='margin-top: 5px;'><form class='item-change-form form-horizontal' action='" + url + "' method='post'>" + "<div class='control-group'><input type='text' class='cart-new-quantity' name='quantity'>" + "<input style='margin-left: 5px;' type='submit' class='btn btn-primary' value='submit'></div></form></div>");
        });

        function update_shipping_handling_fee(){
            
            var zipcode = $('input[name="zipcode"]').val();
            valid_shipping_info = false;                
            if (zipcode.length == 5) {
                $('html').addClass('wait');
                $.ajax({
                    url : "{% url update_zipcode %}",
                    data : {
                        recipient_zipcode : $('input[name="zipcode"]').val(),
                        shipping_method : $('select[name="shipping-method"] option:selected').val()
                    },
                    type : 'post',
                    success : function(data, textStatus, jqXHR) {
                        $('html').removeClass('wait');
                        
                        if(data.success == true) {
                            valid_shipping_info = true;
                            updateCartTotals(data);
                            $('.update-zipcode').hide();
                        } else {
                            alert(data.message);
                        }
                    }
                });
            } else {
                $("#cart-shipping").text('0.00');   
            }
        }

        update_shipping_handling_fee();
        $('input[name="zipcode"]').keyup(update_shipping_handling_fee);

        $('#shipping_option_select').change(update_shipping_handling_fee);

        $(".cart-item").on('submit', '.item-change-form', function(event) {         
            event.preventDefault();
            var url = $(this).attr('action');
            var data = $(this).serialize();
            var quantity_el = $(this).siblings().filter('.cart-item-quantity');
            var size_el = $(this).siblings().filter('.cart-item-size');
            var change_link = $(this).siblings().filter(".cart-change-quantity");
            var form = $(this);
            $.ajax({
                url : url,
                data : data,
                type : 'post',
                success : function(data, textStatus, jqXHR) {
                    update_shipping_handling_fee();
                    updateCartTotals(data);
                    quantity_el.html(data.quantity);
                    size_el.html(data.size);
                    change_link.show();
                    form.remove();
                }
            });
        });
    });
</script>

{% endblock %}