<div id="cart_data" class="bootstrap">
    
</div>
<table id="cart_items" class="item-list" data-length="{{cart.count}}">
    {% for item in cart.by_date %}
    <tr>
      <td id="product-item-{{item.product.pk}}">
            <div>
               <img style="width:40px;display:inline;float:left" class="product_image" src="{{ item.picture }}">
               <div style="display:inline">
               <span class="item-label">{{ item.item_name }}</span>
               <span>by {{ item.retailer }}</span>
               <span>${{ item.unit_price|floatformat:2 }}</span>
                </div>
            </div>

        </td>
    </tr>
    {% endfor %}
</table>
