{% extends 'user_base.html' %}
{% block left_panel %}{%endblock%}
{% block body_class %}common{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% block content %}

<style>
	.common #page-content h2{
		background-color: white;
		font-family: 'Advent Pro', sans-serif;
		font-weight: 600;
		font-size: 25px;
		color: gray;
		background: none;
	}
	
	#btn-place-an-order {
		float: right;
	}
	
	.common #page-content .body-copy label {
		text-transform: uppercase;
	}
	
	#id_expdate_0, #id_expdate_1 {
		width: auto;
	}
		
</style>

<div>

	{% if default_ccS %}
	<div class="section-intro">
		<h2><span>Payment</span></h2>
	</div>
	<div class="body-copy bootstrap" style="width:50%;margin-left:0px;text-align:right">
		<div>You can pay with one of your saved credit cards: </div>
		{% for cc in default_ccS %}
		<div style="right:0px;clear:both;margin:8px">{{ cc.cc_name }} <a href="/cart/wpp?card={{cc.token}}" class="btn btn-primary">Pay</a>{% if cc.is_default %}<span style="position:absolute;margin-left:5px"> (default)</span>{% endif %}</div>
		{% endfor %}	

		
	</div>
	<h3 style="margin-left:40px">OR</h3>
	
	{% endif %}
	
	<div class="section-intro">
		<h2><span>Credit Card</span></h2>
	</div>
	<div class="body-copy bootstrap">			
		<form method="POST" id="payment-form" class="form-horizontal">
			
		{{ errors }}
		
		{% csrf_token %}
		
		{% for field in form %}
		<div class="control-group">
			<label class="control-label">{{ field.label }}</label>
			<div class="controls">
				{{ field }}
				<span class="help-inline">{{ field.errors }}</span>
			</div>
		</div>
		{% endfor %}

		
		<div class="form-actions">
			<input type="submit" class="btn btn-primary" value="Submit" id="Submit" />
		</div>
		</form>
	</div>

	<form id="wepay_info" method="post" action="{% url express_checkout %}">
		{% csrf_token %}
		<input id="wepay_id" type="hidden" name="credit_card_id">
		<input id="wepay_state" type="hidden" name="state">
	</form>


</div>

{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="https://stage.wepay.com/min/js/tokenization.v2.js">
</script>
<script type="text/javascript">
	WePay.set_endpoint("{{mode}}"); // change to "production" when live
</script>
<script>
	$.fn.serializeObject = function()
	{
	    var o = {};
	    var a = this.serializeArray();
	    $.each(a, function() {
	        if (o[this.name] !== undefined) {
	            if (!o[this.name].push) {
	                o[this.name] = [o[this.name]];
	            }
	            o[this.name].push(this.value || '');
	        } else {
	            o[this.name] = this.value || '';
	        }
	    });
	    return o;
	};

	$(document).ready(function () {

		$('#payment-form').validate({
			submitHandler:function(form) {

				var d = $(form).serializeObject();
				console.log(d)
				var data ={
					"client_id":"{{wepay_client_id}}",
					"user_name":d.firstname+' '+d.lastname,
					"email":'{{request.user.email}}',
					"cc_number":d.acct,
					"cvv":d.cvv2,
					"expiration_month":d.expdate_0,
					"expiration_year":d.expdate_1,
					"address":
						{
							"address1":d.street,
							"city":d.city,
							"state":d.state,
							"country":d.countrycode,
							"zip":d.zip
						}
				}

				console.log(data)


				var response = WePay.credit_card.create( data, function(data) {
					if (data.error) {
						console.log(data);
						// handle error response
					} else {
						$('#wepay_id').val(data.credit_card_id)
						$('#wepay_state').val(data.state)
						$('#wepay_info').submit()
					}
				} );

				if (response.error) {
					console.log(response);
					// handle error response
				}
			},
			rules: {
				firstname: "required",		// simple rule, converted to {required:true}
				lastname: "required",
				street: "required",
				city: "required",
				state: "required",
				countrycode: "required",
				zip: "required",
				acct: "required",
				expdate_0: "required",
				expdate_1: "required",
				cvv2: "required"
			
			},
			messages: {
				
			}
		});	
	});
</script>
{% endblock %}






