{% extends 'cart/cart.html' %}

{% block inner_content %}



<div class="container-box bootstrap">
	<input type="submit" class="btn btn-primary btn-place-an-order" value="Place an order" id="btn-place-an-order" />
	<br><br>
<div id="payment_shipping_info">

	
<div id="payment-form-container" class="body-copy bootstrap">
	
	<div class="section-intro">
		<h2><span>Payment Methods</span></h2>
	</div>

	<div class="bootstrap existing_payment_option">
		
		<form id="payment-choice-form" class="choiceform {% if not default_ccS %}hidden{% endif %}">
		<div>You can pay with one of your saved credit cards: </div>
		
		{% include "includes/credit_card_choices.html" %}

		</form>
		
	</div>

	
	<br>
	{% if default_ccS|length > 0%}Or <a data-target="#payment-form" class="click-toggle">enter a new credit card</a>
	{% else %}
	<span style="color:black">Enter a Credit Card</span>
	{% endif %}

	<form id="payment-form" class="form-horizontal {% if default_ccS|length > 0%}hidden{% endif %} clear_choice_on_change" data-choicetarget="#payment-choice-form" novalidate="novalidate"> 
                    {% csrf_token %}           
	{% include "cart/includes/payment_info_form.html" %}
	</form>

</div>

<div id="shipping-form-container">
	<div class="section-intro">
		<h2><span>Shipping Info</span></h2>
		</div>


	

		<form id="shipping-choice-form" class="choiceform {% if not shipping_addresses %}hidden{% endif %}">
		<div class="bootstrap existing_payment_option">
		<div>You can choose an existing address that you've used before... </div>
			
			{% include "includes/shipping_address_choices.html" %}
			
		</div>
		</form>
	
	
	
	{% if shipping_addresses|length > 0%}Or <a data-target="#shipping-form" class="click-toggle">Enter a new Shipping Address</a>
	{% else %}
	<br>
	<span style="color:black">Enter a new Shipping Address</span>
	{% endif %}


	<div class="body-copy bootstrap">
		<form action="/cart/validate_address" method="POST" id="shipping-form" class="form-horizontal validated_address_form {% if shipping_addresses|length > 0%}hidden{% endif %} clear_choice_on_change" data-choicetarget="#shipping-choice-form">
		{% include "includes/shipping_address_form.html" %}
		</form>
	</div>
</div>

</div>

<form id="wepay_info" method="post" action="/cart/validate_cc">
		{% csrf_token %}
		<input id="wepay_id" type="hidden" name="credit_card_id">
		<input id="wepay_state" type="hidden" name="state">
	</form>
<script type="text/javascript" src="https://wepay.com/min/js/tokenization.v2.js">
</script>
<script type="text/javascript">
	WePay.set_endpoint("{{mode}}"); // change to "production" when live
	var WEPAY_CLIENT_ID = "{{wepay_client_id}}";
	var USER_EMAIL = "{{request.user.email}}"
</script>

{% endblock %}




