<li>
    <div class="friend-img-item">
        {% thumbnail user.get_profile.avatar_image "21x21" as im %}
            <img src="{{ im.url }}">
            {% empty %}
            <img class="friend-img" src="{{ user.get_profile.avatar_image }}"/>
        {% endthumbnail %}
        <div class="friend-name">{{ user }}</div>
        {% if user.id not in pending_from_list and user.id not in pending_to_list %}
        <a href="{% url friend_add user.id %}" class="icon plus-icon plus-inline" title="Add Friend">Add Trendsetter</a>
        {% endif %}
    </div>
</li>