<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>

<!--
<![if IE -lte 7]><meta http-equiv="refresh" content="0;url=http://www.shopwithstella.com/SplashUnderConstruction.html"><![endif]>
-->

<HEAD>
	
<TITLE>Stella Team</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">


<link href="style.css" rel="stylesheet" type="text/css"/>

<!--[if IE 7]>
<link href="IE7style.css" rel="stylesheet" type="text/css"/>
<![endif]-->	

<!--[if lte IE 6]>
<link href="IE6style.css" rel="stylesheet" type="text/css"/>
<![endif]-->



<script type="text/javascript" src="js/jquery.js"></script>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

<script type="text/javascript" src="js/offtherack.js"></script>
<!--[if IE 8]>
	<script type="text/javascript" src="js/offtherack8.js">
</script>
<![endif]-->
<!--[if lte IE 7]>
	<script type="text/javascript" src="js/offtherack6.js">
</script>
<![endif]-->

<!-- Google Analytics --> 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24575928-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</HEAD>
<BODY>
	
    <div class="logo">
    	
    	<a  href="splash_construction.html"><div class="logo" id="homeLink"></div></a>	
    	
    </div>
    <div class="under">
    	<img src="images/groupPhoto-bridge4.jpg">
    </div>
    <div class="Content">
    	<div class="PinkBar">
    		&nbsp;
    	</div>
    	<div class="Names" id="names">
    		<ul>
    			
	    		<li><a id="sam" href="javascript:changePic(0)">sam</a></li>
	    		<li><a href="javascript:changePic(1)">lizzy</a></li>
	   			<li><a href="javascript:changePic(2)">brie</a></li>
	   			<li><a href="javascript:changePic(3)">mish</a></li>
	   			
	    	</ul>		
   		 </div>
   		 <div class="info">
   	
	   		
   			<div class="photo">
   				<img src="images/sam_about.jpg" name="portrait"/>
   				
  			</div>
  			<div></div>
  			<div class="text" id="bio">
            <br/>NAME:<br/> Sam Radocchia<br/><br/>EDUCATION:<br/> Colgate University and an MA in digital media from NYU<br/><br/>ROLE AT STELLA:<br/> CEO and multi-tasker<br/>
   			</div>
   			<div class ="social">
	   			<div class="blog">	
	   				<a id="blog" href="http://www.shopwithstella.com/blog/sam"><img src="images/blogButton.jpg"/></a>
	   			</div>
	   			<div class="twitter">
	   		   		<a id="twit" href="http://twitter.com/ShopwithStella" class="twitter-follow-button" data-show-count="false" data-link-color=#a70047 >Follow @ShopwithStella</a>
				</div>
			</div>
			<div class="undertext"id="bio2">
            What made you want to be a part of Stella?<br/>I'd probably get fired if I wasn't my own boss.<br/><br/>You have 10 minutes to give a speech at a high school. What is your message?<br/>Your parents always know when you're lying so cut the BS and be good to them!<br/><br/>Out of the top 25 most played songs on your iPod, which song is number 1?<br/>"Shine On" by Sunloverz (Heiko & Maiko remix)<br/><br/>Any tattoos?<br/>Too many.<br/><br/>How do you feel about Vespas?<br/>I bought a red one and sold it two weeks later. Judging by the dents in my car, me on a motorcycle of any sort equals certain death.<br/><br/>What is your favorite Dr. Suess book?<br/><i>The Sneetches</i>
   			</div>
   			<div class="foot">
   				stella
   				</div>
   		</div>
    </div>
   
    

<!-- ImageReady Slices (fashion2.psd) --><!-- End ImageReady Slices -->
</BODY>
</HTML>