# Emacs generated backups
\#*
.\#*

outdata/*
./outdata/*
bin
build
include
lib
.Python
*.pyc
/joc
_static
media
local_settings.py
*.komodoproject

dev.py

hack.py

*.sql
mydatabase

.DS_Store

_fixtures/outdata.tar.gz

_fixtures/media.tar.gz
