{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Home {% endblock %}

{% block body_class %}login {% endblock %}"

{% block content-class%}round-corner-shadow{%endblock%}

{% block body_id %}homepage{% endblock %}



{% block inner_content %}


	<div class="center retailer login">
{% if form.errors %}

<p id="bigform-error">
	{{form.non_field_errors}}
</p>
{% endif %}
		<form action="{% url auth_login %}" class="user-entry php-form bootstrap" id="signin-form" method="POST">
			{% csrf_token %}
			<div><input width:"32" id="tester" class="txt" name="email" type="text" placeholder="email address"/>
<input  class="txt pass" name="password" type="password" placeholder="password"/></div>
			<div><input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url retailer_information %}{% endif %}" />
				<input class="btn" type="submit" value="login" />
			</div>
				
				<div>or</div>
				<div><a class="btn reverse" href="{% url create_retailer_profile %}">create account</a></div>

			<div class="forgot-pass">
				<a href="/accounts/password_reset" title="Click here to retrieve your password."><span style="display: block">-- FORGOT PASSWORD? --</span></a>
			</div>
		</form><!--/.section.user-entry#signin-form-->
	</div>

{% endblock %} 

  {% block login_modal_box %}
  {% endblock %}


