{% extends "user_base.html" %}

{% block title %} Stunable | Reset Password {% endblock %}

{% block body_class %}reset-form invite{% endblock %}"

{% block body_id %}homepage{% endblock %}

{% block left_panel %}
{% endblock %}

{% block rack %}
{% endblock %}

{% block content1 %}
<div id="page-content" class="section clearfix round-corner-shadow">
    <div class="section intro">
        <h2><span class="font-bella">Password</span></h2>
        <p>RESET</p>
    </div>
    <p>
Please enter your new password!
    </p>
	<form action="" method="post" id="reset-form" style="text-align:center;">
		{% csrf_token %}
		<ul class="bootstrap">
            {% for error in form.errors.values %}
            <li class="error_msg">
                {{error}}
            </li>
            {% endfor %}
        </ul>
		<input required class="txt pass" name="new_password1" type="password" value="" placeholder="NEW PASSWORD" />
		<input required class="txt pass" name="new_password2" type="password" value="" placeholder="NEW PASSWORD CONFIRMATION" />
		<span class="bootstrap">
		<input type="submit" class="btn btn-primary" value="Reset Password" />
		{{ form.non_field_errors }}
		</span>
	</form>
	<center>
        <p id="bigform-error"></p>
    </center>
</div>
{% endblock %} 
