{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Stylist Administration {% endblock %}

{% block body_class %}common large_common pad-bottom{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% load pagination %}

{% block local_nav %}
{% endblock %}


{% block inner_content %}

<div class="center">
<div class="left">
<div class="section intro clearfix">
            <h2><span>Account</span></h2><h3><span class="big">Password RESET</span></h3>
</div>

{% block pw_reset %}
    <p>
    
Forgot your password?
    </p>
	<form action="" class="user-entry php-form bootstrap" id="reset-form" style="margin:20px" method="POST">
		{% csrf_token %}
		<ul>
            {% for error in form.errors.values %}
            <li class="error_msg">
                {{error}}
            </li>
            {% endfor %}
        </ul>
		<label for="username" class="unseen">Email</label>
		<input required class="txt" name="email" type="text" placeholder="Email"/><br><br>

			<input type="submit" class="btn btn-primary" value="Reset Password" />

	</form>
	<center class="bootstrap" style="margin-top: 15px;">
        <div id="bigform-error" class="alert"></div>
    </center>
    {% endblock %}
</div>
</div>

{% endblock %} 
