<div class='trend-item-sender'>
    {{ sender.get_full_name|upper }}
</div>
<div class="avatar">
    <div class='user_info'>
        <div class='image_wrapper'>
            {% load thumbnail %}
            {% thumbnail sender.get_profile.avatar_image "50x50" as im %}
                <img src="{{ im.url }}">
                {% empty %}
                <img src="{{ sender.get_profile.avatar_image }}"/>
            {% endthumbnail %}
        </div>
    </div>
</div>
<div class="info">
    <div class='trend-item-text'>{{ text }}</div>
</div>
<div class="share-item-info item-detail-info">
    <a class="item-ref" href="{% url item_modal item_id=item.id %}">
            <img src="{{ item.get_image.tiny.url }}">
    </a>
</div>
<div class="action bootstrap">
    <a class='item-ref trend_view btn btn-primary' href='{% url item_modal item_id=item.id %}'>VIEW</a>
<!--     <button class='btn reply'>Reply</button> -->
    <button class='btn btn-primary trend_delete'>Delete</button>
</div>