{% extends "user_base.html" %}

{% block body_class %}thank-you{% endblock %}

{% block body_id %}gallery{% endblock %}

{% block left_panel %}
{% endblock %}

{% block rack %}
{% endblock %}

{% block content1 %}
<div id="page-content" class="section clearfix round-corner-shadow">
    <div class="section intro">
        <h2><span class="font-bella">Stunable Thanks You</span></h2>
    </div><!--/.section.intro-->
    <div class="section body-copy">
        <p>Thanks for signing up.</p>
        <p>Keep an eye out in your email for login credenticals</p>
    </div>
</div>
{% endblock %} 