{% extends 'cart/cart.html' %}

{% block inner_content %}

<h1>Your Account Info</h1>
<div class="indent_format">

    <div class="section">
        <div class="well">
                
            <img style="width:50px" src="{{ profile.avatar_image }}" alt="[username]" class="acct-avatar" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ profile.user.get_full_name }}
           
            <div>
                email:&nbsp;&nbsp;&nbsp;&nbsp;{{ profile.user.email }}
            </div>
        </div>




            
        <div id="payment-form-container" class="body-copy bootstrap">
            <div class="existing_payment_option">
                <form id="payment-choice-form" {% if not default_ccS.count %}class="hidden"{% endif %}>
                <div>Your saved credit cards: </div>
                    {% with "True" as can_delete %}
                        {% include "includes/credit_card_choices.html" %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>

    <div class="section" id="shipping-form-container">
        
        <div>
            <div>
            <h2>Shipping Info</h2>
            </div>


            <form id="shipping-choice-form" class="choiceform {% if not shipping_addresses.0 %}hidden{% endif %}">
                <div class="bootstrap existing_payment_option">
           
                <div>Here are your current Shipping Addresses 
                    {% with "True" as can_delete %}   
                        {% include "includes/shipping_address_choices.html" %}  
                    {% endwith %}   
                </div>
                </div>   
            </form>
            
            <br>
            <div><a data-target="#shipping-form" class="click-toggle">Enter a new Shipping Address</a></div>
           


            <div class="body-copy bootstrap">
                
                <form action="/cart/validate_address" method="POST" id="shipping-form" class="form-horizontal validated_address_form {% if shipping_addresses|length > 0%}hidden{% endif %} clear_choice_on_change" data-choicetarget="#shipping-choice-form">
                {% with "True" as make_submit_button %}
                 {% include "includes/shipping_address_form.html" %}
                {% endwith %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}