{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Stylist Administration {% endblock %}

{% block body_class %}common large_common{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% block content %}
<style type="text/css">
	.edit {
		display: inline;
		margin-left: 10px;
	}
	table {
	    margin-bottom: 20px;
	}
    .first {
        width: 10%;
    }
    .common td input {
        width: 150px;
    }
</style>

<div class="section intro clearfix">
    <h2><span>Account Information</span></h2><h3><span>{{ retailer_profile.name }}</span></h3>
</div>
<div class="section body-copy bootstrap">
        <table class="account_info">
            <tr>
                <td class="first"><label>Email: </label></td>
                <td>
                    <p>
                       <a class="edit">Edit</a> 
                    </p>
                    <p class="static">
                        {{ retailer_profile.email_address }} 
                    </p>
                
                    <div class="editable" style="margin-left: 10px;">
                        <form action='' class="form-horizontal" method="POST">
                        	<div class="control-group">
	                            <input type="text" name="email_address" value="{{ retailer_profile.email_address }}" />
	                            <input type="submit" class="btn btn-primary" value="Save"/>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="first"><label>Password: </label></td>
                <td>
                    <p>
                       <a class="edit">Edit</a> 
                    </p>
                    <p class="static">
                        *****
                    </p>
                    <div class="editable" style="margin-left: 10px;">
                        <form action="" class="form-horizontal" method="POST">
                        	<div class="control-group">
                            	<input type="password" name="password">{{ retailer_profile.password }}</input>
                            	<input type="submit" class="btn btn-primary" value="Save"/>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
        <div class="wrapper">
                <h4> If you would like to make changes to your company name, company address, or have issues with your WePay Account, please contact us here: <a href="mailto:support@stunable.com?subject=Stylist Company Info Change Request">Stunable Stylists Support</a>
                    <br>
                    <br>
            <div class="company_address" style="float: left">
                <h3>Company Address</h3>
                <ul>
                    <li style="display:inline">{{retailer_profile.address1}}</li>
                    <li style="display:inline">{{retailer_profile.address2}}</li>
                    <li>{{retailer_profile.city}}</li>
                    <li style="display:inline">{{retailer_profile.state}}</li>
                    <li style="display:inline">{{retailer_profile.zip_code}}</li>


                </ul>
                <div class="editable">
                    <form action="" method="POST">
                    <p>
                        {{ retailer_profile.name }}
                    </p>
                    <input type="text" name="address1" value="{{ retailer_profile.address1 }}"/>
                    <br>
                    <input type="text" name="address2" value="{{ retailer_profile.address2 }}"/>
                    <br/>
                    <input type="submit" class="btn btn-primary" value="Save"/>
                    </form>
                </div>
            </div>
            <div class="billing_information" style="float: left; margin-left: 100px;">
                <h3>Billing information</h3>
    
                <div class="static">
                    <p style="display: inline">
                        WePay Account #: <a href="http://wepay.com">{{ retailer_profile.wepay_acct }}</a>
                    </p>
                </div>
                <div class="editable">
                    <form action="" class="form-horizontal" method="POST">
                    <p>
                        {{ retailer_profile.name }}
                    </p>
                    <div class="control-group">
	                    <input type="submit" class="btn btn-primary" value="Save"/>
                    </div>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %} 

{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#account-information-menu-item').addClass('active-menu');
        
        // make inline edit
    $('.editable').hide();
        
    $('.edit').click(function(event){
        event.preventDefault();
        if ($(this).html() == 'Edit'){
            $(this).html("Close");
        }else{
            $(this).html("Edit");
        }
        
        var stc = $(this).parent().parent().find('.static');
        var editable = $(this).parent().parent().find('.editable');
        
        if ($(stc).css('display')=='none'){
            $(stc).css('display', '');
            $(editable).css('display', 'none');
        }else{
            $(stc).css('display', 'none');
            $(editable).css('display','');
        }
    });
    })
</script>
{% endblock %}
