{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Edit Items {% endblock %}

{% block body_class %}common large_common others{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% block content %}
<style type="text/css">
    .edit-item-img {
        width: 100px;
        height: 100px;
    }
    .plus-icon {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 50px;
    }
    select{
        display: inline;
        max-height: 94px;
    }
    #size-wrapper {
        display: inline;
        max-height: 95px;
    }
</style>

<div class="section intro clearfix">
    <h2><span>{{ retailer_profile.name }}</span></h2>
    <h3>Edit a Product in your Inventory</h3>
</div>
<div class="section body-copy">
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<table>
	{{ form.as_table }}
	</table>
    
	<p>
		<input type="submit" class="btn" value="Update" />
	</p>
</form>
	{% endblock %} 

{% endblock %}
