<!--{{ inventory_form.as_table  }}-->
{% load thumbnail %}
	<tr>
		<td colspan="2">
			Image for this variation
			</br>
			{{inventory_form.image}}
		</div>
		</td>
	</tr>
			{% for hidden in inventory_form.hidden_fields %}
	    		{{ hidden }}
	    	{% endfor %}
	<tr>
		<td>Color Name</td><td>{{ inventory_form.custom_color_name }}</td>
	</tr>
	<tr>
		<td>Price for this size/color</td><td>$ {{inventory_form.price}}</td>
	</tr>
	<tr>
		<td>Size</td>
		<td><span class="size-select"> {{ inventory_form.size }} <span class='add-size-popup-btn'><span class='icon plus-icon'></span></span>( Add more custom sizes for your company )</span></td>
	</tr>
	<tr>
		<td>Inventory</td> 
		<td>{{ inventory_form.inventory }}</td>
	</tr>
	<tr>
		<td>SKU</td> 
		<td>{{ inventory_form.SKU }}</td>
	</tr>
	{% if inventory_form.inventory.value %}
	<tr>
		<td>Delete</td>
		<td>{{ inventory_form.DELETE }}</td>
	</tr>
	{% endif %}
	
