{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Retailer Administration {% endblock %}

{% block body_class %}common large_common pad-bottom{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% block content %}
<style type="text/css">
	.account #page-content {
		margin-top: 0px;
	}
	select {
	    display: inline;
	}
	input {
		display: block;
	  }
	  .inner-table td{
	      width: 20%;
	  }
</style>

<div class="section intro clearfix">
    <h2><span>Product List</span></h2><h3><span>{{ retailer_profile.name }}</span></h3>
</div>
<div class="section body-copy bootstrap">
    
    {% if confirm %}
    <form class="action_submit" action="/retailers/item_action?next={% url product_list %}" method="post">
        <p> Are you sure you want to delete the following items?</p>
        <input type="hidden" name="confirm_{{confirm.action_name}}" value="True">
        <input type="hidden" name="action_name" value="{{confirm.action_name}}">
    {% else %}
    <div style="padding:8px;border-radius:5px;border:1px solid #ccc;width:300px;float:right;margin:10px;position:relative;">
        <p style="margin:10px">If you have lots items to sell, and would like to upload them in large batches, download <a href="{{ STATIC_URL }}/upload_example.zip" target="blank"><strong>this example file </strong></a> and <strong style="color:#ff6666">format your upload the same way</strong>.</p>  <p>Uploads need to be <strong>.zip</strong> files with a .XLS file and then an image for each item.  Upload it here and you'll know what to do next.  Email us if you have questions</p>
        <form style="float:right" action="/retailers/item/bulk_upload" method="POST"enctype="multipart/form-data">
            {{bulk_upload_form.as_p}}
            {{bulk_upload_form.errors}}
            {% csrf_token %}
        <input type="submit" value="Submit">
        </form>
    </div>
    <form class="action_submit" action="/retailers/item_action?next={% url product_list %}" method="post">
        <select name="action_name">
            <option value="-------------">-------------</option>
            <option name="action" value="delete">Delete Selected</option>
        </select>

        <input style="display:inline;margin-right:20px;margin-bottom:5px" type="submit" value="Go">
        <a href="{% url add_item %}">Add Item</a>
    {% endif %}
    {% csrf_token %}
    <table>
        <tbody>
            {% for product in product_list %}
            <tr>
                {% if confirm %}
                <input type="hidden" value="{{product.item.pk}}" name="selected_items">
                {% else %}
                <td class="action-checkbox"><input type="checkbox" value="{{product.item.pk}}" name="selected_items">
                    <a class="edit-link" href="{% url edit_item product.item.pk %}">Edit</a>
                </td>
                {% endif %}
                <td>
                    {% load thumbnail %}
                    {% thumbnail product.item.get_image "50" as im %}
                        <img src="{{ im.url }}">
                        {% empty %}
                        <img src="{{ product.item.get_image }}" style="width: 50px;" alt=""/>
                    {% endthumbnail %}
                    
                </td>
                <td>
                <table class="inner-table">
                    <thead>
                        <th>SIZE</th>
                        <th>PRICE</th>
                        <th>RETAILER</th>
                        <th>INVENTORY</th>
                        <th>STATUS</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                {% for it in product.item.types.all %}
                                {{ it.size }}{% if not forloop.last%},{% endif %}
                                {% endfor %}                                
                            </td>
                            <td>{{ product.item.price }}</td>
                            <td>{{ product.item.retailer }}</td>
                            <td>{% for it in product.item.types.all %}
                                {{ it.inventory }}{% if not forloop.last%},{% endif %}
                                {% endfor %}   </td>
                            <td>{{ product.item.status }}</td>
                        </tr>
                    </tbody>
                </table></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if confirm %}
    <a href="{% url product_list %}"><input type="button" value="Cancel"></a>
    <input style="display:inline;margin-right:20px;margin-top:15px" type="submit" value="Yes. I'm sure.">
    {% endif %}
</form>
</div>
{% endblock %} 