{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Retailer Administration {% endblock %}

{% block body_class %}common large_common pad-bottom{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% block content %}
<style type="text/css">
	.account #page-content {
		margin-top: 0px;
	}
	select {
	    display: inline;
	}
	input {
		display: block;
	  }
	  .inner-table td{
	      width: 20%;
	  }
    .big.red{
        font-size:1.4em;
    }
    .small{
        font-size:.9em;
    }
    .product_list_table th,td{
        text-align: center
    }
    .nodeets .variation{
        display: none;
        border-bottom:none;
    }
    .item_pic{
        display:none;
    }
    .nodeets .item_pic{
        display:block;
    }

    .deetsclick{
        color:#EC67F0;
        cursor:pointer;
    }
  
</style>

<div class="section intro clearfix">
    <h2><span>Product List</span></h2><h3><span>{{ retailer_profile.name }}</span></h3>
</div>
<div class="section body-copy bootstrap">
    
    {% if confirm %}
    <form class="action_submit" action="/retailers/item_action?next={% url product_list %}" method="post">
        <p> Are you sure you want to delete the following items?</p>
        <input type="hidden" name="confirm_{{confirm.action_name}}" value="True">
        <input type="hidden" name="action_name" value="{{confirm.action_name}}">
    {% else %}
    <div style="padding:8px;border-radius:5px;border:1px solid #ccc;width:300px;float:right;margin:10px;position:relative;">
        <p style="margin:10px">If you have lots items to sell, and would like to upload them in large batches,  just follow these two steps:<br><br>
            1.&nbsp <a href="{{ STATIC_URL }}stunable_upload_example.zip" target="blank"><strong class="big red">download this example file </strong></a> <br><br>

            2.&nbsp unzip it, put your own files and information in it, and send it back right here.

              <p>Uploads need to be <strong>.zip</strong> files with a .XLS file and then an image for each item.  Upload it here and you'll know what to do next.  Email us if you have questions</p>
        <form style="float:right" action="/retailers/item/bulk_upload" method="POST"enctype="multipart/form-data">
            {{bulk_upload_form.as_p}}
            {{bulk_upload_form.errors}}
            {% csrf_token %}
        <input type="submit" value="Submit">
        </form>
        
    </div>
    <form class="action_submit" action="/retailers/item_action?next={% url product_list %}" method="post">
        <select name="action_name">
            <option value="-------------">-------------</option>
            <option name="action" value="delete">Delete Selected</option>
        </select>

        <input style="display:inline;margin-right:20px;margin-bottom:5px" type="submit" value="Go">
        <a href="{% url add_item %}">Add Item</a>
    {% endif %}
    {% csrf_token %}
    <table class="product_list_table">
        <tbody>
            {% for product in product_list %}
            <tr class="product_row nodeets">
            {% if confirm %}
                <input type="hidden" value="{{product.item.pk}}" name="selected_items">
                {% else %}
                <td class="action-checkbox"><input type="checkbox" value="{{product.item.pk}}" name="selected_items">
                    <a class="edit-link" href="{% url edit_item product.item.pk %}">Edit</a>
                </td>
            {% endif %}
                <td >
                    {% load thumbnail %}
                    {% thumbnail product.item.get_image "50" as im %}
                        <img class="item_pic" src="{{ im.url }}">
                        {% empty %}
                        <img class="item_pic" src="{{ product.item.get_image }}" style="width: 50px;" alt=""/>
                    {% endthumbnail %}
                    
                </td>
                <td>
                    <table class="inner-table">
                        <thead>
                            <th>PRODUCT NAME</th>
                            <th>RETAIL PRICE RANGE</th>
                            <th class="small">INVENTORY QUANTITY</th>
                            <th>STATUS</th>
                            <th>DATE ADDED</th>
                        </thead>

                        <tbody>
                            <tr>
                                <td>{{product.item.name}}</td>
                                <td>${{product.item.price_range.min}}{% if not product.item.price_range.max == product.item.price_range.min %} - ${{product.item.price_range.max}}{%endif%}</td>
                                <td>{{product.item.total_inventory}}</td>
                                <td>{{product.item.display_approval_status|safe}}</td>
                                <td>{{product.item.created_date}}</td>
                            </tr>
                            <tr class="deetsclick"><td colspan=5>Click to Show/Hide Details</td></tr>
                            {% with product.item.types_by_color as styles %}
                                {% for it in styles.styles %} 
                                <tr class="variation">
                                    <td><img class="var_pic" src="{% thumbnail it.list.0.pic "50" as im %}{{im.url}}{% endthumbnail %}"></td>
                                    <td colspan=4>
                                        <table>
                                            <tr><td>Color</td>
                                                <td colspan={{styles.longest}}>{{it.color}}</td>
                                            </tr>
                                            <tr>
                                                <td>Size</td>{% for s in it.list %}<td>{{s.size}}</td>{% endfor %}
                                            </tr>
                                            <tr>
                                                <td>Quantity Available</td>{% for s in it.list %}<td>{{s.inv}}</td>{% endfor %}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endwith %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if confirm %}
    <a href="{% url product_list %}"><input type="button" value="Cancel"></a>
    <input style="display:inline;margin-right:20px;margin-top:15px" type="submit" value="Yes. I'm sure.">
    {% endif %}
</form>
</div>
{% endblock %} 