{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Stylist Administration {% endblock %}

{% block body_class %}common large_common{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% block content %}

<style type="text/css">
	.retailer-logo {
		float: none;
	}
	textarea {
		width: 100%;
	}
</style>
<div class="section intro clearfix">
    <h2><span>Company Information</span></h2><h3><span>{{ retailer_profile.name }}</span></h3>
    <p>
        This information will be visible to Stunable Shoppers 
    </p>
</div>
<div class="section body-copy bootstrap">
    <div class="retailer-wrapper">
        <form style="margin: 0px; height: 0px;" action="{% url retailer_logo_upload %}" method="POST" id="avatar-upload-form" enctype="multipart/form-data" >
            {% csrf_token %}
            <input style="visibility: collapse" type="file" id="upload_avatar" name="company_logo">
        </form>
        {% load thumbnail %}
        {% thumbnail retailer_profile.logo_image "120x100" as im %}
            <img src="{{ im.url }}" class="retailer-logo">
            {% empty %}
            <img src="{{ retailer_profile.logo_image }}" class="retailer-logo" />
        {% endthumbnail %}
        &nbsp;<a class="quest">Update Logo</a>
    </div>
    <p id="bigform-error"></p>
    <div class="description">
        <div>
            <h3 class="inline">Company Description</h3><a class="edit" href="#">Edit</a>
        </div>
        <p class="static">
            {{ retailer_profile.description }}
        </p>
        
        <div class="editable">
            <form action='{% url update_retailer_profile %}' method="POST">
                <textarea name="description">{{ retailer_profile.description }}</textarea>
                <input type="hidden" name="account_page" value="yes" />
                <input type="submit" class="btn btn-primary" value="Save"/>
            </form>
        </div>
    </div>
    <div class="return_policy">
        <div>
            <h3 class="inline">Return Policy</h3>
        </div>
        {% if retailer_profile.accept_refund %}
            {{CMS.retailer_return_policy|safe}}
        {% else %}
        <p>
            You currently do not allow returns from your customers
        </p>
        {% endif %}
    </div>
    <div class="shipping_options">
        <div>
            <h3 class="inline">Shipping</h3>
        </div>
        <p class="static">
            We currently offer shipping exclusively through Fedex.  Stunable strongly prefers that all orders are shipped within <strong>two business days.</strong> If this is not acceptable to you, please don't hesitate to <a href="mailto:stylists@stunable.com"><span style="font-size:1em;font-weight:bold">Email Us</span></a> 
        </p>
        <div class="editable">
            <form action="{% url update_retailer_profile %}" method="POST">
                {{ form.shipping_type }}
                <input type="hidden" name="account_page" value="yes" />
                <label class="checkbox">
	                <input type="checkbox" id="others" name="others" value="others"/>
	                Other
                </label>
                <input class="txt" id="new_shipping_type" name="new_shipping_type" placeholder="Please enter your shipping method" />
                <br/>
                <input type="submit" class="btn btn-primary" value="Save"/>
            </form>
        </div>
    </div>
</div>
{% endblock %} 
