{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Browse Retailers {% endblock %}

{% block left_panel %}
{% endblock %}

{% block content1 %}
<style type="text/css">
{% if user.is_anonymous %}
    .internal #page-content{
        margin: 0;
        margin-left: 121px;
    }
{% endif %}
    .retailer-logo {
/*        width: auto;*/
        max-height: 90px;
    }
</style>

<div class="section clearfix" id="page-content">
    <div class="section main-column round-corner-shadow">
	<div class="section intro">
	    <h2>Stunable Stylists</h2>
	</div>
	    <div class="special" id="item-viewer">
		    {% for retailer in retailer_list %}
		    <div class="retailer">
			<div class="vcard">
			    <div class='img-col'>
			        {% load thumbnail %}
			        {% thumbnail retailer.logo_image "120" as im %}
                        <img src="{{ im.url }}" class="retailer-logo photo">
                        {% empty %}
                        <img class="retailer-logo photo" src='{{ retailer.logo_image }}'/>
                    {% endthumbnail %}
			    </div>
			    <div class='text-col'>
				<h3 class="org fn">{{ retailer.name }}</h3>
				<div class="address">
				    <span class="locality">{{ retailer.city }}</span>
				    <span class="region">{{ retailer.state }}</span>
				</div>
				    <a class='action' href="http://www.stunable.com/shop/stylist/{{retailer.id}}">View Products</a>
			    </div>
			</div>
		    </div>
		    <div class="separator"></div>
		    {% endfor %}
	    </div>
    </div>
</div>
{% endblock %}
