{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Create Stylist Account {% endblock %}

{% block body_class %}stylist common{% endblock %}"

{% block body_id %}homepage{% endblock %}

{% block content %}
<style type="text/css">
	select {
		display: inline;
	}
	span {
		margin-right: 6px;
	}
	input, select {
		margin-right: 6px;
	}
	tr {
		height: 30px;
	}
	td {
		vertical-align: top;
	}
	.more-details {
		width: 50%;
		margin-left: 28px;
	}
	table {
		margin-left: 10px;
	}
	h2 {
		color: gray;
		text-align: left;
	}
	.small-size {
		width: 65px;
	}
	table {
		margin: 0;
	}
	h3 span {
		margin-left: 31px;
	}
	.common table, .common table td {
		border: none;
	}
	.common .txt {
		min-width: 198px;
	}
	h3 {
		text-shadow: none;
		text-transform: uppercase;
		font-size: 1em;
	}
	td span {
		/*		width: 50px;*/
		/*		display: inline-block;*/
	}
    .form_errors{
        position:absolute;
        top:340px;
        right:0px;
        text-align:right;
        margin-right:25%;
        font-size: 1.2em;
    }
</style>

<div id="page-content" class="section clearfix round-corner-shadow">
	<div class="page-header">
		<div class="section intro">
			<h2><span>Interested in Becoming a Stylist?</span></h2>
			<h3><span>Please complete our application below and we'll be in touch.</span></h3>
		</div>
	</div>
	<div class="section body-copy bootstrap">
		<form action="" method="POST" class="user-entry" id="account-form" enctype="multipart/form-data">
			{% csrf_token %}
            <div class="form_errors">
                {{form.non_field_errors}}
            </div>
			<table style="width: 100%">
				<tbody>
					<tr>
						<td>Company Name</td>
						<td>
						<input type="text" class="inline txt" value="{{ form.name.value|default_if_none:'' }}" id="name" name="name"/>
						{{form.name.errors}}
						</td>
						
					</tr>
					<tr>
						<td>First Name</td>
						<td>
						<input type="text" class="inline txt" value="{{ form.first_name.value|default_if_none:'' }}" id="first_name" name="first_name"/>
						{{form.first_name.errors}}
						</td>
						
					</tr>
					<tr>
						<td>Last Name</td>
						<td>
						<input type="text" class="inline txt" value="{{ form.last_name.value|default_if_none:'' }}" id="last_name" name="last_name"/>
						{{form.last_name.errors}}
						</td>
						
					</tr>
					<tr>
						<td>Address 1</td>
						<td>
						<input type="text" class="inline txt" value="{{ form.address1.value|default_if_none:'' }}" id="address1" name="address1"/>
						{{form.address1.errors}}
						</td>
						
					</tr>
					<tr>
						<td>Address 2</td>
						<td>
						<input type="text" class="inline txt" value="{{ form.address2.value|default_if_none:'' }}" id="address2" name="address2"/>
						{{form.address2.errors}}
						</td>
						
					</tr>
					<tr>
						<td>City</td>
						<td>
						<input type="text" class="inline txt" value="{{ form.city.value|default_if_none:'' }}" id="city" name="city"/>
						{{form.city.errors}}
						</td>
						
					</tr>
					<tr>
						<td><span>State</span></td><td>{{ form.state }} {{form.state.errors}}
						</td>	
					</tr>
				
                    <tr>
                        <td>
                        <span style="margin: 6px; width: 46px; display: inline-block;">Zip</span>
                        </td>
                        <td>
                                                <input type="text" class="inline txt" value="{{ form.zip_code.value|default_if_none:'' }}" id="zip_code" name="zip_code"/>
                                                {{form.zip_code.errors}}
                        </td>
                    </tr>
					<tr>
						<td>Phone Number</td>
						<td>
						<input type="text" class="inline txt" value="{{ form.phone_number.value|default_if_none:'' }}" id="phone_number" name="phone_number"/>
						{{form.phone_number.errors}}
						</td>
						
						
					    
					</tr>
					<tr>
						<td>Email Address</td>
						<td>
						<input type="text" class="inline txt" value="{{ form.email_address.value|default_if_none:'' }}" id="email_address" name="email_address"/>
                        {{form.email_address.errors}}
						</td>
						
					</tr>

					<tr>
						<td>Company Logo</td>
						<td>
						<input type="file" name="company_logo" id="company_logo" />
						{{form.company_logo.errors}}
						</td>
						
					</tr>
					<tr>
						<td>Description</td>
						<td>						
						    <textarea class="inline txt" 
						    placeholder="Tell us a little something about yourself and the products you sell. Hit us with your best elevator pitch in under 600 words!"
						     id="description" name="description">{{ form.description.value|default_if_none:'' }}</textarea>
						     {{form.description.errors}}
						</td>
					</tr>
					<tr>
						<td>Password</td>
						<td>
							<div class="password-container">

										<input class="strong-password" id="password" name="password" type="password" value="{{form.password.value}}"/>
										<br>
						                <input class="strong-password" id="password_confirm" name="password_confirm" type="password" value="{{form.password_confirm.value}}" />
						                <br>
						                {{form.password.errors}}<br>{{form.password_confirm.errors}}
						            <div class="strength-indicator">
						                <div class="meter">
						                </div>
						                8-16 characters, no common words or names,
						                and combine uppercase letters, lowercase letters, numbers, and symbols.
						            </div>
						    </div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>{{ form.accept_refund }} I accept <a href="#return-policy" class="item-ref">Stunable Return Policy</a> 
                            {{ form.accept_refund.errors }}
							<!-- <span>{{ form.not_accept_refund }}<span>I do not accept</span> -->
						</td>
					</tr>

					<tr>
						<td colspan="2">
						<div style="margin-left: auto; margin-right: auto; text-align: center">
							<p id="bigform-error" class="alert"></p>
						</div></td>
					</tr>
					<tr>
						<td colspan="2">
						<div>
							<input type="submit" class="btn btn-primary" value="Sign Up" />
						</div></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<div id="hidden-items">
		<div id="return-policy" class="item-details clearfix sub-page">
            <p class="close">
                <a class="close-box" href="#">Close</a>
            </p>
            <div class="section intro">
                <h2><span>Standard Return Policy</span></h2>
            </div>
            <div class="user-entry sub-page-content">
                {{CMS.retailer_return_policy|safe}}
            </div>
        </div>
		<!-- ********************************************* Modal-Window for Invite Friends START ********************************************* -->
		{% include 'retailers/retailer_terms_and_cons.html' %}
	</div>
</div>
{% endblock %} 

{% block extra_script %}

<script type="text/javascript">
(function ($) {
    $.fn.extend({
        pschecker: function (options) {
            var settings = $.extend({ minlength: 8, maxlength: 16, onPasswordValidate: null, onPasswordMatch: null }, options);
            return this.each(function () {
                var wrapper = $('.password-container');
                var password = $('.strong-password:eq(0)', wrapper);
                var cPassword = $('.strong-password:eq(1)', wrapper);

                cPassword.removeClass('no-match');
                password.keyup(validatePassword).blur(validatePassword).focus(validatePassword);
                cPassword.keyup(validatePassword).blur(validatePassword).focus(validatePassword);

                function validatePassword() {
                    var pstr = password.val().toString();
                    var meter = $('.meter');
                    meter.html("");
                    //fires password validate event if password meets the min length requirement
                    if (settings.onPasswordValidate != null)
                        settings.onPasswordValidate(pstr.length >= settings.minlength);

                    if (pstr.length < settings.maxlength)
                        meter.removeClass('strong').removeClass('medium').removeClass('weak');
                    if (pstr.length > 0) {
                        var rx = new RegExp(/^(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{7,30}$/);
                        if (rx.test(pstr)) {
                            meter.addClass('strong');
                            meter.html("Strong");
                        }
                        else {
                            var alpha = containsAlpha(pstr);
                            var number = containsNumeric(pstr);
                            var upper = containsUpperCase(pstr);
                            var special = containsSpecialCharacter(pstr);
                            var result = alpha + number + upper + special;

                            if (result > 2) {
                                meter.addClass('medium');
                                meter.html("Medium");
                            }
                            else {
                                meter.addClass('weak');
                                meter.html("weak");
                            }
                        }
                        if (cPassword.val().toString().length > 0) {
                            if (pstr == cPassword.val().toString()) {
                                cPassword.removeClass('no-match');
                                if (settings.onPasswordMatch != null)
                                    settings.onPasswordMatch(true);
                            }
                            else {
                                cPassword.addClass('no-match');
                                if (settings.onPasswordMatch != null)
                                    settings.onPasswordMatch(false);
                            }
                        }
                        else {
                            cPassword.addClass('no-match');
                            if (settings.onPasswordMatch != null)
                                settings.onPasswordMatch(false);
                        }
                    }
                }

                function containsAlpha(str) {
                    var rx = new RegExp(/[a-z]/);
                    if (rx.test(str)) return 1;
                    return 0;
                }

                function containsNumeric(str) {
                    var rx = new RegExp(/[0-9]/);
                    if (rx.test(str)) return 1;
                    return 0;
                }

                function containsUpperCase(str) {
                    var rx = new RegExp(/[A-Z]/);
                    if (rx.test(str)) return 1;
                    return 0;
                }
                function containsSpecialCharacter(str) {

                    var rx = new RegExp(/[\W]/);
                    if (rx.test(str)) return 1;
                    return 0;
                }


            });
        }
    });
})(jQuery);

	function get_time_text() {
		var day_1 = $('#day_1').val();
		var day_2 = $('#day_2').val();
		var time_1 = $('#time_picker_1').val();
		var time_2 = $('#time_picker_2').val();

		var text = day_1 + ' through ' + day_2 + " from " + time_1 + ' to ' + time_2;
		$('#hours').val(text);
	}


	$(document).ready(function() {

		$('.password-container').pschecker();

				
		$('input[name=selling_options]').change(function() {
			$('input[name="selling_options"]').attr('checked', false);
			$(this).attr('checked', true);
			
			$('li > input').each(function() {
				$(this).remove();
			});
			if($('input[name=selling_options]:checked').val() == 'no yes' || $('input[name=selling_options]:checked').val() == 'yes yes') {
				$(this).parent().parent().append("<input class='more-details inline txt' type='text' name='more_details' placeholder='Please enter your web address' />");
			} else if($('input[name=selling_options]:checked').val() == 'yes no') {
				$(this).parent().parent().append("<input class='more-details inline txt' type='text' name='more_details' placeholder='Where do you currently sell online?' />");
			}
		});
		if($('input[name=selling_options]:checked').val() == 'no yes' || $('input[name=selling_options]:checked').val() == 'yes yes') {
			$(this).parent().parent().append("<input class='more-details inline txt' type='text' name='more_details' placeholder='Please enter your web address' />");
		} else if($('input[name=selling_options]:checked').val() == 'yes no') {
			$(this).parent().parent().append("<input class='more-details inline txt' type='text' name='more_details' placeholder='Where do you currently sell online?' />");
		}



	
		
	})



</script>
{% endblock %}
