<style>
    ol {
        list-style-type:upper-roman;
    }
    ol .second{
        list-style-type:upper-alpha;
        margin-left: 10px;
    }
    ol .third{
        list-style-type:decimal;
        margin-left: 20px;
    }
    ol .fourth{
        list-style-type:lower-alpha;
        margin-left: 30px;
    }
</style>
<div  class="inner-page-content retailer profile">
<div id="terms-and-cons-modal" class="clearfix sub-page">
    <div class="user-entry sub-page-content">
        {{CMS.retailer_tos|safe}}    
    </div>
</div>
</div>