{% extends "user_base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}styles/imageselect.css" type="text/css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}styles/screen/retailers.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/blitzer/jquery-ui.css" type="text/css" media="all" />
{% endblock %}
{% block body_class %}feed{% endblock %}

{% block page_tab %}
{% endblock %}
{% block facebook %}
{% endblock %}


{% block left_panel %}

    <div class="retailer-left-panel">
        <div class="panel-header clearfix">
            <div class="panel-tab active my-closet begin-tab clearfix one-tab">
                <span class="text-link">Stylist Admin</span>
                <div class="tab-content hidden">
                    <h4 class="list-header" id="company-information-menu-item">
                    	<a href="{% url retailer_information name=retailer_profile.name %}{% if request.user.is_staff %}?retailer={{retailer_profile.id}}{% endif %}">Account Information</a></h4>
                    
                    
                    <div class="separator"></div>
                    <h4 class="list-header" id="product-inventory-menu-item">
                    		<a href="{% url product_list %}{% if request.user.is_staff %}?retailer={{retailer_profile.id}}{% endif %}">Product Inventory</a></h4>
                    
                    <div class="separator"></div>
                    <h4 class="list-header" id="order-history-menu-item">
                    	<a href="{% url retailer_order_history %}{% if request.user.is_staff %}?retailer={{retailer_profile.id}}{% endif %}">Order history</a></h4>

                    <div class="separator"></div>
                    <h4 class="list-header" id="order-history-menu-item">
                      <a href="{% url retailer_help %}{% if request.user.is_staff %}?retailer={{retailer_profile.id}}{% endif %}">Help</a></h4>
                </div>
            </div>
            <div class="fake-tab"></div>
            <div class="panel-content">
                <div class="panel-inner-content">
                </div>
                <p class="p-bottom"></p>
            </div>
        </div> 
    </div>

{% endblock %}
{% block login_modal_box %}
{% endblock %}
{% block login_modal_script %}
{% endblock %}
{% block content %}
{% endblock %}
{% block extra_script%}


{% endblock %}
