{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Retailer Administration {% endblock %}

{% block body_class %}common large_common{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% block content %}
<style>
	.common #page-content {
/*		margin: 41px 10px 200px auto;*/
		position: relative;
		padding-bottom: 0;
		float: right;
		min-height: 667px;
	}
	.common .body-copy {
		font-family: 'Advent Pro', sans-serif;
		margin: 0px 40px;
	}
	.common td input[type="text"] {
		width: 40px;
	}
	.common th {
		border: thin solid #EBEBEB;
		vertical-align: middle;
		text-align: center;
		background-color: #eee;
		font-weight: 600;
	}
	.common table, .common .no-border td {
		border: none;
	}
	h3 {
		text-transform: uppercase;
		text-align: center;
	}
	
	.bootstrap input {
		width: 100px;
	}
	.order-action ul {
		position:absolute;top: 0; left:0;display:none;background-color: white;width: 200px;cursor: pointer;
		border: gray 1px solid;
	}
	
	.order-action ul li {
	}
	
	.order-action {
		position:relative; cursor: pointer;
	}
</style>


<div class="body-copy">
    <p>This customer has ordered the following items to be shipped to the same address.  Check the items you will inlcude in this shipment.</p>
    <p>You can ship the rest later.</p>

    <p class="error_msg">{{error_message}}</p>
    <form action="{% url print_shipping_label ref=purchases.0.ref %}" method="post">
    {% csrf_token %}
    <table id="checkout-table">
        <tr>
            <th>name</th>
            <th>size</th>
            <th>color</th>
            <th>quantity</th>
            <th>shipping<br>now? <input id="select_all" type="checkbox"></th>
        </tr>
        
        {% for purchase in purchases %}
        {% with item=purchase.item %}   
            <tr id="product-item-{{item.product.pk}}">
                <td>{{ item.product.item.name }}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.color }}</td>
                <td align="center">{{ item.quantity }}</td>
                <td><input class="ship_check" name="ship_item" value="{{item.id}}" type="checkbox"></td>
            </tr>
        {% endwith %}
        
    <br />
    {% empty %}
    <p>
        There is no entry
    </p>
    {% endfor %}
    </table>
    <button class="btn btn-primary" action="submit"><h3>Get Label</h3></button>
    </form>
</div>

{% endblock %}


{% block content1 %}{% endblock %}

{% block extra_script %}
<script>
$('document').ready(function(){
    $('#select_all').click(function(e){
        $('.ship_check').attr('checked',$(this).attr('checked')==='checked');
    })
})

</script>

{% endblock %}