{% extends "retailers/retailer_base.html" %}

{% block title %} Stunable | Create Stylist Account {% endblock %}

{% block body_class %}stylist common{% endblock %}"

{% block body_id %}homepage{% endblock %}

{% block inner_content %}
<style type="text/css">
	#terms-and-cons-modal {
		border: 1px gray solid;
		height: 500px;
		overflow: scroll;
		border-image: initial;
		margin-bottom: 10px;
	}
</style>


<div  class="center">
    <div class="profile">
	<div class="page-header">
		<div class="section intro">
			<h2><span>Stunable Stylist Terms of Use</span></h2>
		</div>
	</div>
	<div class="section body-copy">
		{% include 'retailers/retailer_terms_and_cons.html' %}
		
		<p class="bootstrap">
			<input data-href="{% url retailer_terms_complete retailer_id %}" type="checkbox" name="terms" id="terms-input" /><span style="color:gray; margin-left:10px;" id="terms-label">I Agree to the Stunable Term Of Use</span>
			<br/><br/>
			<a type="button" href="#" class="btn disabled" value="Continue" id="terms-continue-btn">Continue</a>
			<br /><br />
		</p>
	</div>
</div></div>
{% endblock %} 

