				{% if request.user.is_authenticated %}
					<div class="clearfix">
	                    <div class="nav bar clearfix" id="local-nav">
	                    	<div id="local-nav-begin"></div>
	                    	
	                        <ul class="horizontal-list menu">
	                            
	                            <li class="navlink" id="nav-signout">
	                                <a href="/accounts/logout" title="Sign out of Stunable." class="text-link">Log Out</a>
	                            </li>
	                            
	                        </ul><!--/.horizontal-list -->
	                        
	                        <div id="local-nav-end"></div>
	                    </div><!--/.section#local-nav-->
                    </div>
                   {% endif %}