                            <ul id="stunable-top-nav" class="horizontal-list menu">
                                <li class="navlink" id="nav-about">
                                    <div><span>About</span></div>
                                    <ul class="dropdown">
                                        <li>
                                            <a class="text-link" href="{% url hiw %}">What we do</a>
                                        </li>
                                       <!--  <li>
                                            <a class="text-link" href="{% url retailer_list %}">Stunable Stylists</a>
                                        </li> -->
                                      <!--   <li>
                                            <a class="text-link" href="{% url news_index %}">News</a>
                                        </li> -->
                                        <li>
                                            <a class="text-link" href="{% url team %}">Team</a>
                                        </li>
                                        
                                        <li>
                                            <a class="text-link" href="{% url faq %}">FAQ</a>
                                        </li>
                                        
                                        <li>
                                            <a class="text-link" href="{% url careers %}">Careers</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url main-privacy %}">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url terms %}">Terms of Use</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url return %}">Returns</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url main-contact %}">Contact Us</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url devs %}">API</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="navlink" id="nav-account">
                                    {% if request.user.is_authenticated %}
                                        <div class="personbox" ><img alt="your picture" src="{% if request.user.get_profile.avatar_image %}{{request.user.get_profile.avatar_image}}{% else %}/static/images/default_avatar.gif{%endif%}">
                                            <span>{% if request.user.first_name %}{{ request.user.first_name}}{% else %}{{request.user}}{% endif %}</span>
                                        </div>
                                    {% else %}
                                        <div class="personbox" ><img style="float:left" alt="default avatar image" src="/static/images/default_avatar.gif">
                                            <a style="color:#666" data-href="/" class="login-check">Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </div>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                    <ul class="dropdown offset-left">
                                        <li>
                                            <a class="text-link" href="{% url profile_edit %}">Account Settings</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url order_history %}">Order History</a>
                                        </li>
                                        <li class="navlink" id="nav-signout">
                                            <a href="/accounts/logout" title="Sign out of Stunable." class="text-link">Log Out</a>
                                        </li>
                                        
                                    </ul>
                                    {% endif %}
                                </li>
                                

                            </ul><!--/.horizontal-list -->
                