                    <div class="clearfix">
                        <div class="nav bar clearfix" id="local-nav">
                            <div id="local-nav-begin"></div>
                            <ul class="horizontal-list menu">
                                <li class="navlink" id="nav-about">
                                    <a href="#" title="Learn more about Stunable." class="text-link">What is Stunable?</a>
                                    <ul>
                                        <li>
                                            <a class="text-link" href="{% url main-about %}">About</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url team %}">Team</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url hiw %}">How it Works</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url faq %}">FAQ</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url retailer_list %}">Stunable Stylists</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url careers %}">Careers</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url main-contact %}">Contact Us</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url main-privacy %}">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url terms %}">Terms of Use</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url return %}">Returns</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url devs %}">API</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="navlink" id="nav-news">
                                    <a href="{% url blog_index %}" title="The latest about Stunable."  class="text-link">Blog</a>
                                </li>
                                <li class="navlink" id="nav-news">
                                    <a href="{% url news_index %}" title="The latest about Stunable."  class="text-link">News</a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li class="navlink" id="nav-trends">
                                    <a href="{% url home %}" title="Share your style." class="text-link">Shop</a>
                                </li>
                                <li class="navlink" id="nav-trends">
                                    <a href="{% url trend_notice_modal %}" title="Share your style." class="text-link item-ref">Trends({{ trends_unseen_count }})</a>
                                </li>
                                <li class="navlink" id="nav-account">
                                    <a href="{% url profile_edit %}" title="Go to your Account Preferences." class="text-link">Account</a>
                                </li>
                                <li class="navlink" id="nav-account">
                                    {# href="{% url get_cart %}"  #}
                                    <a title="Cart" class="text-link cart_slide_trigger">Cart(<span id="cartcount">{{cart.count}}</span>)</a>
                                    <div id="cart_slide"> 
                                        <div id="cart_contents_container">
                                            {% include "cart/cart_slideout.html" %}
                                        </div>
                                    </div>
                                </li>
                                <li class="navlink" id="nav-signout">
                                    <a href="{% url auth_logout %}" title="Sign out of Stunable." class="text-link">Log Out</a>
                                </li>
                                {% endif %}
                            </ul><!--/.horizontal-list -->
                            <div id="local-nav-end"></div>
                        </div><!--/.section#local-nav-->
                    </div>