[group:{{app_name}}]
programs=gunicorn,celery

[program:gunicorn]
command={{project_root}}/bin/python manage.py run_gunicorn -c gunicorn.conf.py -p {{appname}}.gunicorn.pid
directory={{manage_path}}
user={{project_user}}
autostart=true
stderr_logfile = /var/log/supervisor/{{app_name}}.gunicorn-stderr.log
stdout_logfile = /var/log/supervisor/{{app_name}}.gunicorn.log

[program:celery]
command={{project_root}}/bin/python manage.py celeryd -c 1 --settings celery_settings
directory={{manage_path}}
user={{project_user}}
autostart=true
autorestart=true
redirect_stderr=true