<tr  class="hidden">
                    <td>subtotal:</td>
                    <td>${{cart.totals_as_pretty_dict.total}}</td>
                </tr>
                <tr class="hidden">
                   
                    <td>total tax:</td>
                    <td>${{cart.totals_as_pretty_dict.tax}}</td>
                </tr>
                <tr class="hidden">
                  
                    <td>total shipping:</td>
                    <td>${{cart.totals_as_pretty_dict.shipping_and_handling}}</td>
                </tr>
                <tr class="hidden">
                   
                    <td>handling: </td>
                    <td>${{cart.totals_as_pretty_dict.processing}}</td>
                </tr>
                <tr class="big" >
                    <td >grand total:</td>
                    <td>${{cart.totals_as_pretty_dict.grand_total}}</td>
                </tr>