{% extends "clean_base.html"  %}

{% block title %} Stunable | Blog {% endblock %}
{% block body_class %}feed{% endblock %}

{% block local_nav %} <!--LOCAL NAVIGATION LINKS-->
<div class="nav bar clearfix" id="local-nav">
	<ul class="horizontal-list menu">
		{% if user.is_authenticated %}
		<li class="navlink member" id="nav-closet">
			<a href="{% url 'racks_index' %}" title="Peek inside your closet." class="text-link">{{ user.get_full_name }}'s Closet</a>
		</li>
		<li class="navlink member" id="nav-admirers">
			<a href="{% url 'friend_index' %}" title="Browse your admirers List." class="text-link">Admirers</a>
		</li>
		{% endif %}
		<li class="navlink" id="nav-about">
			<a href="{% url main-about %}" title="Learn more about Stunable." class="text-link">What is Stunable?</a>
		</li>
		<li class="navlink" id="nav-news">
			<a href="{% url 'news_index' %}" title="The latest about Stunable." class="text-link">News</a>
		</li>
		<li class="navlink" id="nav-blog">
			<a href="{% url 'blog_index' %}" title="Read the Stunable Blog." id="currentpage" class="text-link">Blog</a>
		</li>
	</ul><!--/.horizontal-list -->
</div><!--/.section#local-nav-->
{% endblock %}

{% block rack %}
{% endblock %}
