{% extends "news/news_base.html"  %}

{% load comments %}

{% block content1 %}
{% load blog %}
{% load archive %}
{% load tagging_tags %}
<div class="section clearfix" id="page-content">
	<div class="section main-column round-corner-shadow">
		<div class="section intro">
			<h2>follow stunable's blog</h2>
		</div><!--/.section.intro-->
		
		{% for post in wp_posts %}
		{% if forloop.counter == 1 %}
		{{post|safe}}
		{% else %}
		{{post|safe}}
		{% endif %}
		{% endfor %}

	</div><!-- /.main-column -->
	{% include "blog/side_bars.html" %}
	{% endblock %}
