{% extends "news/news_base.html"  %}

{% load comments %}

{% block title %} Stunable | News tagged {{tag.name }} {% endblock %}
{% block body_class %}feed{% endblock %}

{% block rack %}
{% endblock %}

{% block content1 %}
			{% load news %}
			{% load archive %}
			{% load tagging_tags %}
			
			
  <div class="section clearfix" id="page-content">		
						
			<div class="section main-column">
				<div class="section intro">
					<h2>news tagged {{tag.name}}</h2>
				</div><!--/.section.intro-->
				{% for post in object_list %}
				{% if forloop.counter == 1 %}
				<div class="article featured">
					<div class="hgroup">
						<h3 class="article-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
						<h5 class="byline">Posted by <span class="article-author"><a href="#">{{ post.author }}</a></span> on <span class="article-date">{{ post.publish|date:"Y F d" }}</span> at <span class="article-time">{{ post.publish|date:"P" }}</span></h5>
					</div><!--/.hgroup-->	
					<p>{{ post.tease|safe }} <span class="read-more"><a href="{{post.get_absolute_url}}">Read more&hellip;</a></span></p>
					<div class="article-footer">
						<h5 class="categories">Categories: {% for item in post.categories.values_list %} <a href="#">{{item.1}}</a>{% if forloop.last %} {% else %}, {%endif%}{% endfor %}</h5>
						{% get_comment_count for post as comment_count %}
						<h5><a href="#">{{ comment_count }} Comments</a></h5>
					</div><!--/.article-footer-->
				</div><!--/.article.featured-->
				{% else %}				
				<div class="article">
					<div class="hgroup">
						<h3 class="article-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
						<h5 class="byline">Posted by <span class="article-author"><a href="#">{{ post.author }}</a></span> on <span class="article-date">{{ post.publish|date:"Y F d" }}</span> at <span class="article-time">{{ post.publish|date:"P" }}</span></h5>
					</div><!--/.hgroup-->	
					<p>{{ post.tease|safe }} <span class="read-more"><a href="{{post.get_absolute_url}}">Read more&hellip;</a></span></p>
					<div class="article-footer">
						<h5 class="categories">Categories: {% for item in post.categories.values_list %} <a href="#">{{item.1}}</a>{% if forloop.last %} {% else %}, {%endif%}{% endfor %}</h5>
						{% get_comment_count for post as comment_count %}
						<h5><a href="#">{{ comment_count }} Comments</a></h5>
					</div><!--/.article-footer-->
				</div><!--/.article.featured-->
				{% endif %}
				{% endfor %}
			</div><!--/.main-column-->
			{% include "news/side_bars.html" %}
{% endblock %}