{% extends "user_base.html" %}

{% block title %}Stunable | 404{% endblock %}

{% block body_class %}about{% endblock %}
{% block body_id %}gallery{% endblock %}

{% block rack %}
{% endblock %}


{% block content1 %}
<div class="section clearfix round-corner-shadow" id="page-content">
	<div class="section intro">
		<h2><span class="font-static">There's Nothing Here</span></h2>
	</div>
	<!--/.section#intro-->
	<div class="section body-copy">
		<div class="header">
			<span class="bold">
				<p>Eek! Stella's assistant seems to have misplaced this page. Click <a href="/">here</a> to go back.</p>
			</span>
		</div>
	</div>
</div>
{% endblock %}
