{% extends "clean_base.html" %}

{% block title %}Stunable | 404{% endblock %}

{% block content %}

<div class="section clearfix round-corner-shadow" id="page-content">
	<div class="section intro">
		<h2><span class="font-static">There's Nothing Here</span></h2>
	</div>
	<!--/.section#intro-->
	<div class="section body-copy">
		<div class="header">
			<span class="bold">
				<p>Something bad happened and we don't know what yet. Don't worry, we'll fix it soon. In the meantime, click <a href="/">here </a>to go back.</p>
			</span>
		</div>
	</div>
</div>
{% endblock %}
