{% extends "user_base.html" %}

{% block body_class %}help{% endblock %}

{% block content %}
<div class="section intro">
	<h2>Help from <span class="identity">Stella<span></h2>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
</div><!--/.section#intro-->

<div class="table-container">
	<table id="seed-questions" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td class="response">
				<p class="icon-link yes-no no"><a href="#" class="icon disapprove">No way.</a></p>
				<p class="icon-link yes-no yes"><a href="#" class="icon approve">Yes, please!</a></p>
			</td>
			<td class="seed"><p>Duis autem vel eum iriure dolor in hendrerit?</p></td>
		</tr>
		<tr>
			<td class="response">
				<p class="icon-link yes-no no"><a href="#" class="icon disapprove">No way.</a></p>
				<p class="icon-link yes-no yes"><a href="#" class="icon approve">Yes, please!</a></p>
			</td>
			<td class="seed"><p>In vulputate velit esse molestie consequat, vel illum dolore?</p></td>
		</tr>
		<tr>
			<td class="response">
				<p class="icon-link yes-no no"><a href="#" class="icon disapprove">No way.</a></p>
				<p class="icon-link yes-no yes"><a href="#" class="icon approve">Yes, please!</a></p>
			</td>
			<td class="seed"><p>Eugiat nulla facilisis at vero eros et accumsan?</p></td>
		</tr>
		<tr>
			<td class="response">
				<p class="icon-link yes-no no"><a href="#" class="icon disapprove">No way.</a></p>
				<p class="icon-link yes-no yes"><a href="#" class="icon approve">Yes, please!</a></p>
			</td>
			<td class="seed"><p>Et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi?</p></td>
		</tr>
		<tr>
			<td class="response">
				<p class="icon-link yes-no no"><a href="#" class="icon disapprove">No way.</a></p>
				<p class="icon-link yes-no yes"><a href="#" class="icon approve">Yes, please!</a></p>
			</td>
			<td class="seed"><p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet?</p></td>
		</tr>
		<tr>
			<td class="response">
				<p class="icon-link yes-no no"><a href="#" class="icon disapprove">No way.</a></p>
				<p class="icon-link yes-no yes"><a href="#" class="icon approve">Yes, please!</a></p>
			</td>
			<td class="seed"><p>Doming id quod mazim placerat facer possim assum?</p></td>
		</tr>
		<tr>
			<td class="response">
				<p class="icon-link yes-no no"><a href="#" class="icon disapprove">No way.</a></p>
				<p class="icon-link yes-no yes"><a href="#" class="icon approve">Yes, please!</a></p>
			</td>
			<td class="seed"><p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem?</p></td>
		</tr>
		<tr>
			<td class="response">
				<p class="icon-link yes-no no"><a href="#" class="icon disapprove">No way.</a></p>
				<p class="icon-link yes-no yes"><a href="#" class="icon approve">Yes, please!</a></p>
			</td>
			<td class="seed"><p><p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius?</p></td>
		</tr>
		<tr>
			<td class="response">
				<p class="icon-link yes-no no"><a href="#" class="icon disapprove">No way.</a></p>
				<p class="icon-link yes-no yes"><a href="#" class="icon approve">Yes, please!</a></p>
			</td>
			<td class="seed"><p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum?</p></td>
		</tr>
		<tr>
			<td class="response">
				<p class="icon-link yes-no no"><a href="#" class="icon disapprove">No way.</a></p>
				<p class="icon-link yes-no yes"><a href="#" class="icon approve">Yes, please!</a></p>
			</td>
			<td class="seed"><p>Mirum est notare quam littera gothica?</td>
		<tr>
	</table>
</div>
{% endblock %}