Sign up boilerplate.

        <div class="row">
          <div class="span10">
            <h2>Sign up for our Beta!</h2>
			<form action="/account/signupbeta/" method="post">
			  <input class="input-large" type="text" placeholder="Your email">
			  <button class="btn" type="submit">Sign up</button>
			</form>
          </div>
          <div class="span4">
            <h3>Login</h3>
			<form action="/account/login/" method="post">
			  <input class="input-large" type="text" placeholder="Username">
			  <input class="input-large" type="password" placeholder="Password">
			  <button class="btn" type="submit">Sign in</button>
          </form>
          </div>
        </div>
