<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]><html class="ie6 ie no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if IE 7 ]>  <html class="ie7 ie no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if IE 8 ]>  <html class="ie8 ie no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if IE 9 ]>  <html class="ie9 ie no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if!(IE)]><!-->
<html class="not-ie no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<!--<![endif]-->
	{% block content_container %}
	{% endblock %}
</html>
