<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]><html class="ie6 ie no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if IE 7 ]>  <html class="ie7 ie no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if IE 8 ]>  <html class="ie8 ie no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if IE 9 ]>  <html class="ie9 ie no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}Stunable | Your Admirers{% endblock %}</title>
        <meta name="robots" content="index, follow" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta http-equiv="imagetoolbar" content="false" />
        <meta name="title" content="Welcome to Stunable" />
        <meta name="DC.title" content="Stunable" />
        <meta name="author" content="Stunable" />
        <meta name="description" content="Shopping online has never been sassier!" />
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/screen/main.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/screen/touchcarousel.css" type="text/css" media="screen, projection" />
        {% block extra_css %}{% endblock %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/gui/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/screen/jquery.tooltip.css"/>
        <style>
			.hidden {
				display: none;
			}

            body>#login_box{
                display:none;
            }
            #login_box{
                margin-left:10%;
                margin-top:10%;
                width:566px;
                height:350px;
                border:1px solid white;
                border-radius:20px;
                overflow:hidden;
                background-color:rgba(0,0,0,.2);
                     
            }
                #login_box .inner_content{
                    padding:60px;
                    padding-left:40px;
                    padding-right:40px;
                    height:200px;
                }
                    #login_options{
                        margin-top:50px;
                        width:100%;
                        text-align: center;
                    }
                        #login_options>div{
                            display:inline-block;
                        }
                        #login_options div{
                            border-radius: 8px;
                            width:278px;
                            height:59px;
                        }
                        .facebooklogin{

                            background: url('/static/images/login_with_facebook.png') no-repeat 0px 0px;
                        }


                #login_box .foot{
                    /*background-color:rgba(255,255,255,.7);*/
                    border-top:1px solid white;
                    height:30px;
                    width:100%;
                    overflow:hidden;
                }

                    #login_box .foot a{
                        vertical-align: middle;
                        margin:3px 10px 0px 19px;
                        float:right;
                        /*background-color:rgba(255,255,255,.1);*/
                        border-radius: 6px;
                        padding-left:6px;
                        padding-right:6px;
                        font-size:.8em;
                        /*color:black;*/
                    }
                    #login_box .foot a:hover{
                        color:inherit;
                    }

        </style>
        <script>
            {% if request.user.is_authenticated %}
                var logged_in = true;
            {% else %}
                var logged_in = null;
            {% endif %}
        </script>
<script type="text/javascript">
{% if not debug %}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34344571-2']);
  _gaq.push(['_setDomainName', 'stunable.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
{% endif %}
</script>
    </head>
    <body data-role="{{page_role}}" class="{{page_role}} internal {% block body_class %}account{% endblock %} gallery" id="{% block body_id %}gallery{% endblock %}">
        {% block facebook %}
             {% if not debug %}
                <div id="fb-root"></div>
                <script>
                  window.fbAsyncInit = function() {
                    FB.init({
                      appId      : {{FACEBOOK_APPID}}, // App ID from the App Dashboard
                      channelUrl : 'http://stunable.com/channel.html', // Channel File for x-domain communication
                      status     : true, // check the login status upon init?
                      cookie     : true, // set sessions cookies to allow your server to access the session?
                      xfbml      : true  // parse XFBML tags on this page?
                    });
                    // Additional initialization code such as adding Event Listeners goes here
                  };

                  // Load the SDK's source Asynchronously
                  (function(d, debug){
                     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                     if (d.getElementById(id)) {return;}
                     js = d.createElement('script'); js.id = id; js.async = true;
                     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
                     ref.parentNode.insertBefore(js, ref);
                   }(document, /*debug*/ false));
                </script>
                {% endif %}
                <!--[if IE]>
                <div class="container ie8 ie">
                <![endif]-->
                <!--[if IE 7]>
                <div class="container ie7 ie">
                <![endif]-->
                <!--[if lt IE 7]>
                <div class="container ie6 ie">
                <![endif]-->
                <!--[if !IE]><!-->
            
        {% endblock %}
        <div class="container non-ie">
            <!--<![endif]-->
            <div class="section content" id="header">
                <div class="nav bar clearfix" id="global">
                    <div class="wrap">
                        <!--SOCIAL MEDIA ICON LINKS -->
                        <ul class="horizontal-list icon-list">
                            <li class="navlink">
                                <a href="http://twitter.com/stunable" title="Follow Stunable on Twitter." class="icon" id="nav-twitter">Twitter</a>
                            </li>
                            <li class="navlink">
                                <a href="https://plus.google.com/u/0/b/100141127984777292620/100141127984777292620/posts" title="Add Stunable to Google+." class="icon" id="nav-googleplus">Google+</a>
                            </li>
                            <li class="navlink">
                                <a href="http://facebook.com/stunable" title="Subscribe to Stunable on Facebook." class="icon" id="nav-facebook">Facebook</a>
                            </li>
                        </ul><!--/.horizontal-list -->
                        <!--NAVIGATION LINKS -->
                        {% block navigation %}
                        {% endblock %}
                    </div><!--/.wrap-->
                </div><!--/.nav#global-->
                <div class="wrap" id="hdr-logo">
                    <h1 id="shop-with-stella"><a href="{% url home %}" class="logo">Stunable</a></h1>
                </div><!--/.wrap-->
            </div><!--/.header-->
            <div class="section" id="main">
                <div class="wrap" id="carousel-wrapper">
                    {% block local_nav %} <!--LOCAL NAVIGATION LINKS-->
                    <div class="clearfix">
                        <div class="nav bar clearfix" id="local-nav">
                            <div id="local-nav-begin"></div>
                            <ul class="horizontal-list menu">
                                <li class="navlink" id="nav-about">
                                    <a href="#" title="Learn more about Stunable." class="text-link">What is Stunable?</a>
                                    <ul>
                                        <li>
                                            <a class="text-link" href="{% url main-about %}">About</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url team %}">Team</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url hiw %}">How it Works</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url faq %}">FAQ</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url retailer_list %}">Stunable Stylists</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url careers %}">Careers</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url main-contact %}">Contact Us</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url main-privacy %}">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url terms %}">Terms of Use</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url return %}">Returns</a>
                                        </li>
                                        <li>
                                            <a class="text-link" href="{% url devs %}">API</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="navlink" id="nav-news">
                                    <a href="{% url blog_index %}" title="The latest about Stunable."  class="text-link">Blog</a>
                                </li>
                                <li class="navlink" id="nav-news">
                                    <a href="{% url news_index %}" title="The latest about Stunable."  class="text-link">News</a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li class="navlink" id="nav-trends">
                                    <a href="{% url home %}" title="Share your style." class="text-link">Shop</a>
                                </li>
                                <li class="navlink" id="nav-trends">
                                    <a href="{% url trend_notice_modal %}" title="Share your style." class="text-link item-ref">Trends({{ trends_unseen_count }})</a>
                                </li>
                                <li class="navlink" id="nav-account">
                                    <a href="{% url profile_edit %}" title="Go to your Account Preferences." class="text-link">Account</a>
                                </li>
                                <li class="navlink" id="nav-account">
                                    <a href="{% url get_cart %}" title="Cart" class="text-link">Cart({{cart.count}})</a>
                                </li>
                                <li class="navlink" id="nav-signout">
                                    <a href="{% url auth_logout %}" title="Sign out of Stunable." class="text-link">Log Out</a>
                                </li>
                                {% endif %}
                            </ul><!--/.horizontal-list -->
                            <div id="local-nav-end"></div>
                        </div><!--/.section#local-nav-->
                    </div>
                    {% endblock %}
                    {% block rack %}

                  
                    {% block left_panel %}
                    <div class="left-panel" id="left-panel">
                        <div class="panel-header clearfix">
                            <div class="panel-tab active my-closet begin-tab clearfix">
                                <span class="text-link"> MY CLOSET </span>
                                <div class="tab-content hidden">
                                    <table class="user_info">
                                        <tr>
                                            <td>
                                            <div class="image_wrapper">
                                                {% load thumbnail %}
                                                {% thumbnail request.user.get_profile.avatar_image "40x40" as im %} <a href="{% url profile_edit %}"><img src="{{ im.url }}"></a>
                                                {% empty %} <img src="{{ request.user.get_profile.avatar_image }}"/>
                                                {% endthumbnail %}
                                            </div></td>
                                            <td>
                                            <table>
                                                <tr>
                                                    <td class="username">{% if request.user.get_full_name %}{{ request.user.get_full_name }}{% else %}<a href="{% url auth_login %}">Create an Account</a>{% endif %}</td>
                                                </tr>
                                                <tr>
                                                    <!-- <td>{{ request.user.get_profile.location }}</td> -->
                                                </tr>
                                            </table></td>
                                        </tr>
                                    </table>
                                    <div class="separator"></div>
                                    <ul class="my-closet-menu link">
                                        <li>
                                            <a href="{% url trendsetters %}">My Closet</a>
                                        </li>
                                        <li>
                                            <a href="{% url my_closet_purchased_items %}">Purchased</a>
                                        </li>
                                        <li>
                                            <a href="{% url my_closet_recent_added_items %}">Recently added</a>
                                        </li>
                                        <li>
                                            <a href="{% url my_closet_sale_items %}">Sale</a>
                                        </li>
                                    </ul>
                                    <div class="separator"></div>
                                    <h4 class="list-header">Public Racks</h4>
                                    <ul class="my-closet-menu public-racks">
                                        {% load rack_tags %}
                                        {% for rack in public_racks %}
                                        <li class="drop_item">
                                            <span data-value="{{ rack.id }}"> <a href="{% url racks_detail rack.id %}">{{ rack.name }}</a> </span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <p id="add-rack">
                                        <a rel="modal:open" href="/racks/add?public=True" class="icon plus-icon item-ref" title="Create a New Rack">Add a New Rack</a>
                                    </p>
                                    <div class="separator"></div>
                                    <h4 class="list-header">Private Racks</h4>
                                    <ul class="my-closet-menu private-racks">
                                        {% for rack in private_racks %}
                                        <li class="drop_item">
                                            <span data-value="{{ rack.id }}"><a href="{% url racks_detail rack.id %}"> {% if rack.shared_users.all %}
                                                {{ rack.owner.first_name|first }}.{{ rack.owner.last_name|first }}: {{ rack.name }}
                                                {% else %}
                                                {{ rack.name }}
                                                {% endif %}</a></span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <p id="add-rack">
                                        <a rel="modal:open" href="/racks/add" class="icon plus-icon item-ref" title="Create a New Rack">Add a New Rack</a>
                                    </p>
                                </div>
                            </div>
                            <div class="panel-tab trend-setters end-tab clearfix" >
                                <span class="text-link"> STUNNERS
                                    {% if friend_notices_unseen_count|default_if_none:0 != 0 %} <img style="width:20px; margin:-21px 4px 14px 81px; background-color: transparent" src="{{ STATIC_URL }}images/red_flag.png" alt="red"/> {% endif %} </span>
                                <div class="tab-content hidden">
                                    {% if notice_unseen_count|default_if_none:0 != 0 %}
                                    {% include "notification/friend_requests_notes.html" %}
                                    {% endif %} <div class="separator"></div>
                                {% if not fb_token %}
                                    <div class="separator"></div>
                                    <ul class="friend-list" id="friend-list">
                                        {% for friendship in friendship_list %}
                                        <li class="share_item">
                                            <div class="friend-img-item">
                                                {% thumbnail friendship.friend.get_profile.avatar_image "21x21" as im %} <img src="{{ im.url }}">
                                                {% empty %} <img class="friend-img" src="{{ friendship.friend.get_profile.avatar_image }}"/>
                                                {% endthumbnail %} <a data-value={{ friendship.friend.id }} date-type="stunable" class="friend-name" href="{% url trendsetters friendship.friend.pk %}" style="color: #888" >{{ friendship.friend }}</a>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="separator"></div>
                                    <br>
                                    <p><a href="{% url socialauth_begin "facebook" %}">Login with Facebook</a> to see who else is on Stunable! </p> 
                                    {% else %}
                                        <div class="separator"></div>
                                        <form id="search-friend-form" method="GET" action="{% url friend_search %}" class="bootstrap">
                                            <input type="text" id="friend-search-box" autocomplete="off" name="q" class="friend-search-box" placeholder="Search Facebook" />
                                        </form>

                                    <div class="search-result">
                                    <ul class="friend-list" id="result-list">
                                        {% for f in fb_friend_list %}
                                            {% include "friends/fb_friend_in_list.html" %}
                                        {% endfor %}
                                    </ul>
                                    </div>

                                    {% endif %}
                                    <p id="add-friend">
                                        <a style="display:inline-block" href="{% url friend_invite %}" class="icon plus-icon item-ref" title="Invite a Trendsetter">Add Stunner</a><span style="display:inline">Invite Friends</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-content">
                            <div class="panel-inner-content"></div>
                            <p class="p-bottom"></p>
                        </div>
                    </div>
                    {% endblock %}
          
                    <div class="content {% block content-class%}{%endblock%}" id="page-content">
                        <div class="special" id="racks-gallery">
                            <div class="content">
                                {% block page_tab %}
                                {% endblock %}
                                
                                <!-- block content begin -->
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div><!--/.section#page-content"-->
                    </div><!--/.wrap-->
                    {% endblock %}
                    {% block content1 %}
                    {% endblock %}
                </div><!--/.section-->
            </div><!--/.container#viewport -->
            <div class="section content" id="footer">
                <div class="wrap">
                    <div class="nav bar" id="footer-nav">
                        <p class="horizontal list">
                            Copyright, Stunable, LLC 2012
                        </p>
                    </div><!--/.nav.bar#footer-nav -->
                </div><!--/.wrap -->
                {% if debug %}
                <div id="debug">
                  <h2>Queries</h2>
                  <p>
                    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
                    {% ifnotequal sql_queries|length 0 %}
                    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
                    {% endifnotequal %}
                  </p>
                  <table id="debugQueryTable" style="display: none;">
                    <col width="1"></col>
                    <col></col>
                    <col width="1"></col>
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">SQL</th>
                      <th scope="col">Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
                      <td>{{ forloop.counter }}</td>
                      <td>{{ query.sql|escape }}</td>
                      <td>{{ query.time }}</td>
                    </tr>{% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endif %}
            </div><!--/.footer -->
            <div class="item-send clearfix" id="send_to_admirer_reduced_form" style="opacity: 0; display: none; width: 270px;">
                <form action="{% url send_item_to_admirer %}" id="reduced_send_to_admirer_form" method="POST" >
                    {% csrf_token %}
                    <div class="item-send-right">
                        <textarea name="message" id="reduced_message" placeholder="PERSONAL MESSAGE: Less then 160 characters"></textarea>
                        <input type="hidden" id="reduced_item_id" name="item_id" value="" />
                        <input type="hidden" id="reduced_admirer_id" name="admirer" value=""/>
                        <input type="hidden" id="reduced_admirer_type" name="admirer_type" value=""/>
                        <input type="hidden" id="reduced_admirer_name" name="admirer_name" value=""/>
                        <div class="btn-wrap bootstrap" style="margin-bottom: 0">
                            <input type="button" class="btn btn-primary" id="send_it_to_admirer_reduced" value="Send It" />
                        </div>
                        <center>
                            <div id="loading2">
                                <div class="spinner"></div>
                            </div>
                            <span class="confirmation" id="send_item_confirmation_reduced">Sent!</span>
                            <!--                     <p id='bigform-error-reduced'></p> -->
                        </center>
                    </div>
                </form>
            </div>
        </div>

        {% block login_modal_box %}

        {% if not request.user.is_authenticated %}
      
       
        <div id="fancybox-overlay" style="background-color: rgb(0, 0, 0); opacity: 0.85; cursor: auto; height: 1191px; position: fixed; display: block;"></div>
        <div id="fancybox-wrap" style="display: inline-block; opacity: 1;"><div id="fancybox-outer"><div id="fancybox-content" style=""><div style="width:3000px;"><div class="special" id="login_box">
                     
             <div class="inner_content">
                 <div>
                     {{CMS.login_explain|safe}}
                 </div>                
                 <div id="login_options">
                     <div><a href="/login/facebook/"><div class="facebooklogin" style="cursor:pointer"></div></a>
                     </div>
                     <!-- <div class="fb-login-button" data-show-faces="true" data-width="500" data-max-rows="1"></div> -->
                 </div>
                 
             </div>
             <div class="foot">
                 <a href="/retailers/create_profile">become a stunable stylist</a>
                 <a href="/accounts/login">stylist login</a>
             </div>
          </div></div></div></div></div></div>

          {% endif %}
        {% endblock %}
        </div>

<!-- 
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/swipe.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/modernizr.js"></script>


        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.validate.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.form.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.transit-0.1.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/chosen.jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.timePicker.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/screen/timePicker.css"/>

        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.tooltip.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.iosslider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/portamento-min.js"></script>
        
 -->
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-ui-1.8.22.custom.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.spritely-0.6.1.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/chosen.jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.flip.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.touchcarousel-1.1.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.modal.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.validate.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/stunable.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/init.js"></script>

        
    </body>

</html>
