@charset "UTF-8";
/* CSS Document */


/* RESET a la Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height:100%;
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* TYPOGRAPHY */
body { font:300 1em/1.5 Helvetica,Arial,sans-serif; }

.btn,
#global .text-link, 
form p,
label,
.tab .text,
#rack-list h4,
#rack-list li {
	font-family:'Play','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue', Helvetica, Arial, sans-serif;
	}
h1, h2, h3, p,
input.txt, #account-form label, .customStyleSelectBox,
#local-nav .text-link, .tab .text-link {
	font-family:'Nothing You Could Do', Georgia, serif;
	}
#footer #copyright, 
#footer .text-link {
	font-family:Helvetica;
	font-size:0.8em;
	}
.landing #footer-nav .horizontal {
	text-align:center;
	}
.landing #copyright {
	display:block;
	}	
.home .logo {
	font-size:3em;
	font-weight:800;
	}
h2 {
	margin:0 0 0.25em 0;
	font-size:2.5em;
	line-height:1;
	text-align:center;
	text-shadow:0 0.05em 0.05em #111;
	}
h3 {
	margin:0 0 0.5em 0;
	font-size:1.5em;
	line-height:1;
	text-shadow:0 0.05em 0.05em #111;
	}
.home h2 {
	margin:0 0 0.2em 0;
	font-size:1.3em;
	}
p, li {
	margin:0 0 1em 0;
	line-height:1.5em;
	text-shadow:0 0.05em 0.05em #000;
	}
.bar li {
	margin:0;
	}
input.txt,
textarea {
	font-size:1.1em;
	}
.forgot-pass {
	margin:0;
	font-size:0.9em;
	text-align:center;
	}
input.btn {
	font-size:0.85em;
	}
#footer p {
	margin:0 30px;
	font-size:0.75em;
	}
strong {
	color:#ccc;
	}
	
/* LINKS */

a {text-decoration:none;}
a, form .btn {color:#e84e4b;}
a:hover, form .btn:hover {color:#fff;}
.gallery a:hover {color:#200a0a;}
.img-link { display:block; }

/* ICONOGRAPHY */
.icon {
	display:block;
	text-indent:-999em;
	}
#homepage-social .icon,
#global .icon-list .icon {
	background-image:url(../../images/gui/iconset-homepage-social.png);
	background-repeat:no-repeat;
	box-shadow:1px 1px 2px #111;
	}
#homepage-social .icon {
	height:30px;
	width:30px;
	}
#global .icon-list .icon {
	height:16px;
	width:16px;
	}
#homepage-social #nav-twitter {
	background-position:0 0;
	}
	#homepage-social #nav-twitter:hover {
		background-position:0 -50px;
		}
#homepage-social #nav-facebook {
	background-position:-60px 0;
	}
	#homepage-social #nav-facebook:hover {
		background-position:-60px -50px;
		}
#homepage-social #nav-googleplus {
	background-position:-120px 0;
	}
	#homepage-social #nav-googleplus:hover {
		background-position:-120px -50px;
		}
#global .icon-list #nav-twitter {
	background-position:-200px 0;
	}
#global .icon-list #nav-facebook {
	background-position:-200px -32px;
	}
#global .icon-list #nav-googleplus {
	background-position:-200px -64px;
	}
			
			
/* FORMS */

label {
	display:block;
	margin-bottom:10px;
	text-shadow:0 0.05em 0.05em #000;
	}
.txt, select, .customStyleSelectBox {
	display:block;
	margin:0 0 10px 0;
	border:1px solid #666;
	border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
	padding:4px 15px;
	background-color:#333;
	color:#999;
	text-transform:lowercase;
	box-shadow:1px 1px 2px #111;
	}
#closet select, #closet .customStyleSelectBox {
	margin:0;
	border-color:#a33f3d;
	padding:3px;
	background-color:#fff;
	color:#333;
	box-shadow:none;
	}
.inline {
	display:inline;
	}
/* PRETTY SELECT BOXES (JQUERY) */
.customStyleSelectBox {
	padding-right:10px;
	}
.customStyleSelectBox.changed {}
.customStyleSelectBoxInner {
	padding-right:30px;
	background:url(../../images/gui/icon-arrows.png) no-repeat 138px -100px;
	cursor:pointer;
	}
#closet .customStyleSelectBoxInner {
	padding-right:20px;
	background-position:0 -160px;
	}
#account-form select, #account-form option {
	border:0;
	cursor:pointer;
	}
.landing .txt {
	width:279px;
	}
form .btn, .btn-wrap .btn {
	display:block;
	width:185px;
	margin:0 0 10px 0;
	border:1px solid #e84e4b;
	border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;
	padding:9px 15px;
	background:#000;
	/* Gradient bg = WebKit (Safari, Google Chrome etc) */
	background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
	/* Gradient bg = Mozilla/Gecko (Firefox etc) */
	background:-moz-linear-gradient(top, #000, #333);
	text-decoration:none;
	text-shadow:0 1px 1px #101010;
	text-transform:uppercase;
	box-shadow:1px 1px 2px #111;
	cursor:pointer;
	}	
	form .btn:hover, .btn-wrap .btn:hover {
		background:#e84e4b;
		/* Gradient bg = WebKit (Safari, Google Chrome etc) */
		background:-webkit-gradient(linear, left top, left bottom, from(#e5796d), to(#e84e4b));
		/* Gradient bg = Mozilla/Gecko (Firefox etc) */
		background:-moz-linear-gradient(top, #e5796d, #e84e4b);
		text-shadow:0 1px 1px #a33f3d;
		}
.rack .btn-wrap .btn {
	width:120px;
	border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
	padding:3px 10px;
	background:#fff;
	/* Gradient bg = WebKit (Safari, Google Chrome etc) */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
	/* Gradient bg = Mozilla/Gecko (Firefox etc) */
	background:-moz-linear-gradient(top, #fff, #ddd);
	font-size:0.8em;
	text-shadow:0 1px 1px #ccc;
	}	
	form .btn:hover, .btn-wrap .btn:hover {
		background:#e84e4b;
		/* Gradient bg = WebKit (Safari, Google Chrome etc) */
		background:-webkit-gradient(linear, left top, left bottom, from(#e5796d), to(#e84e4b));
		/* Gradient bg = Mozilla/Gecko (Firefox etc) */
		background:-moz-linear-gradient(top, #e5796d, #e84e4b);
		text-shadow:0 1px 1px #a33f3d;
		}
#signin-form .btn {
	margin-top:25px;
	margin-bottom:3px;
	}
#account-form p {
	float:left;
	}
#account-form label {
	display:inline-block;
	width:155px;
	margin-right:10px;
	text-align:right;
	}
#account-form .txt,
#account-form select {
	width:204px;
	}
#account-form .customStyleSelectBox {
	width:177px;
	}
#account-form .email-field .txt {
	width:576px;
	}
#account-form .password-field {
	margin-bottom:40px;
	}
#welcome-form {
	margin-bottom:40px;
	}
#account-form .btn,
#welcome-form .btn {
	clear:both;
	margin:0 auto;
	}
#welcome-form .designer-field {
	text-align:center;
	}	
/* COLORS & BACKGROUNDS */
body {
	background-color:#fff;
	background-repeat:no-repeat;
	background-attachment:fixed;
	color:#666;
	}
.internal {
	background-image:url(../../images/gui/bg-internal.jpg);
	background-position:0 -250px;
	}
.landing, .account {
	background-image:url(../../images/gui/bg-homepage.jpg);
	background-position:-275px -300px;
	}
h2 {
	color:#fff;
	}
#footer,	
.landing .container,
.account #main {
	background:rgba(0, 0, 0, 0.85);
	}
.landing #footer {
	background:transparent;
	}
#header #global .text-link {
	color:#666;
	text-shadow:0 0.05em 0.05em #111;
	}
#header #global .text-link:hover {
	color:#ccc;
	}	
	
/* BASICS */
.landing .container {
	width:50%;
	min-width:320px;
	border-right:1px solid #000;
	box-shadow:45px 0 80px #000;
	text-align:center;
	}
#header, 
#main, 
#footer {
	text-align:center;
	}
.section {
	clear:both;
	}
.wrap {
	text-align:left;
	}
.internal #hdr-logo {
	position:relative;
	}
.internal .wrap {
	width:960px;
	margin:0 auto;
	}
.internal #main .wrap {
	padding-top:41px;
	}
.internal #page-content {
	margin:0 30px;
	padding-bottom:40px;
	}	
.landing .wrap {
	width:323px;
	margin:0 auto;
	}
.landing #main .wrap {
	padding-top:0;
	}
.landing #page-content {
	margin:0;
	padding:0 6px;
	}
.intro {
	margin-bottom:20px;
	border-bottom:1px dotted #666;
	}
.landing .intro {
	margin-bottom:30px;
	}
	.landing .intro p {
		margin-bottom:30px;
		}
.internal #footer .wrap {
	padding:30px 0;
	text-align:left;
	}

/* GLOBAL NAVIGATION */

.logo {
	display:block;
	background-color:#e84e4b;
	color:#000;
	text-align:center;
	text-indent:-999em;
	box-shadow:0 1px 2px #111;
	}
	.internal #shop-with-stella {
		position:absolute;
		z-index:101;
		}
	.landing #shop-with-stella {
		position:relative;
		z-index:101;
		}
	.logo {
		float:left;
		height:134px;
		width:205px;
		margin:0;
		background:url(../../images/gui/logo-small.gif) no-repeat 0 0;
		}
	.landing .logo {
		float:none;
		margin:0 auto 80px auto;
		}
	.home .logo {
		height:201px;
		width:323px;
		margin:0 0 28px 0;
		background:url(../../images/gui/logo-large.gif) no-repeat 0 0;
		}
	
#global {
	position:absolute;
	top:0;
	width:100%;
	border-bottom:1px solid #000;
	padding:10px 0;
	background:#333;
	text-align:center;
	box-shadow:0 5px 10px #111;
	z-index:100;
	}
#global .horizontal-list {
	float:right;
	}
#global .horizontal-list .navlink,
#local-nav .horizontal-list .navlink {
	float:left;
	margin-right:40px;
	}
#global .horizontal-list .navlink {
	font-size:0.8em;
	text-transform:uppercase;
	}
#global .icon-list .navlink {
	margin-right:7px;
	padding-top:1px;
	}
#currentpage {
	font-weight:800;
	}
.account #local-nav {
	display:none;
	}
#local-nav {
	float:right;
	margin:0 30px 43px 0;
	padding:10px 0 12px 0;
	background:rgba(232, 78, 75, 0.95) url(../../images/gui/bg-border.gif) repeat-x 0 44px;
	box-shadow:0 1px 3px #111;
	}
#local-nav .horizontal-list .navlink {
	margin:0;
	border-right:1px solid #fff;
	padding:4px 40px 0 40px;
	}
#local-nav .horizontal-list #nav-signout {
	border:0;
	}
#local-nav .text-link {
	color:#fff;
	text-shadow:0 0.05em 0.05em #a33f3d;
	}
#local-nav .text-link:hover {
	color:#200a0a;
	}
		
/* HOMEPAGE */

#signin-form, 
#waitlist-form,
#homepage-social {
	padding-bottom:25px;
	}
#homepage-social .navlink {
	float:left;
	margin:0 5px;
	padding:0;
	}
#signin-form .btn,
#waitlist-form .btn,
#homepage-social ul {
	margin-right:auto;
	margin-left:auto;
	}
.intro,
#waitlist-form {
	text-align:left;
	}
.intro,
#waitlist-form label {
	margin-left:4px;
	}
#homepage-social {
	text-align:center;
	}
#homepage-social ul {
	height:30px;
	width:120px;
	}

/* VISITOR PAGES (NO LOCAL NAV) */
.account #page-content {
	margin-top:130px;
	}

/* CAROUSEL */

.gallery #page-content {
	margin-top:150px;
	}
/* TABBED NAVIGATION */
.gallery .tabbed,
.gallery .tab-detail {
	box-shadow: 0 1px 10px #111111;
	}
.gallery .tabbed {
	background:#e84e4b url(../../images/gui/bg-border.gif) repeat-x 0 3px;
	}
.tabbed .tab {
	float:left;
	margin:0;
	background:url(../../images/gui/bg-shadow-bottom.png) repeat-x 0 bottom;
	}
	.tab .text-link, .tab .text, .tab form {
		display:block;
		padding:9px 18px 5px 18px;
		background:url(../../images/gui/bg-tab-shadow-left.png) no-repeat 0 0;
		color:#fff;
		font-size:0.95em;
		text-align:center;
		text-shadow:0 0.05em #a33f3d;
		}
	.tab form {
		padding:8px 10px 6px 18px;
		}
	.tab .text {
		background:url(../../images/gui/bg-tab-shadow-right.png) no-repeat right top;
		}
	#tab-choice .text-link {
		font-size:1.2em;
    	padding:9px 1.11em 5px 1.1em;
		}
	.tab .text-link:hover {
		color:#200a0a;
		}
	.tab #current-tab {
		background:#fff;
		color:#e84e4b;
		text-shadow:0 0.05em #999;
		}
	.tab-detail {
		clear:both;
		background-color:#fff;
		}
	#racks-gallery .tab form {
		width:584px;
		}
	.tab form select {
		float:right;
		margin-bottom:0;
		padding:3px 15px;
		}
	
/* RESULTS CAROUSEL */
#item-viewer {
	position:relative;
}
#carousel .directional .btn {
	position:absolute;
    top:175px;
    height:60px;
    width:33px;
	margin:0;
    background:#000 url(../../images/gui/icon-arrows.png) no-repeat 0 0;
	text-indent:-999em;
    cursor:pointer;
    z-index:3;
	}
#carousel .directional .btn:hover {
	background-color:#E84E4B;
	}
#carousel .directional .previous {
	left:15px;
	margin-left:10px;
	}
#carousel .directional .next {
	right:15px;
	margin-right:10px;
	background-position:-66px 0;
    }
.tab-detail .views {
	padding:0 30px;
	}
#carousel .views {
	visibility:visible;
	position:relative;
	left:0;
	width:730px;
	padding:0 85px;
	overflow:hidden;
	z-index:2;
	}
#carousel .item-list {
	position:relative;
    /*left:-775px;*/
	width:3496px;
	list-style-type:none;
	margin:0;
	padding:0;
	z-index:1;
	}
#rack-list {
	float:left;
	width:200px;
	margin:30px 0 0 0;
	}
#rack-list .menu {
	margin-bottom:30px;
	}
	#rack-list .menu #current-rack {
		color:#666;
		}
#rack-list li {
	margin:0 0 0.5em 0;
	font-size:0.9em;
	text-shadow:none;
	}
#rack-list .plus {
	height:16px;
	width:16px;
	background:url(../../images/gui/iconset-homepage-social.png) no-repeat -250px 0;
	}
#rack-contents {
	float:right;
	width:620px;
	}
#rack-contents h3 {
	margin:0;
	padding-bottom:20px;
	background:#fff url(../../images/gui/bg-border.gif) repeat-x 0 bottom;
	color:#e84e4b;
	text-shadow:0 0.05em 0.05em #999;
	}
#racks .item-list {
	list-style-type:none;
	float:right;
	width:100%;
	margin:0;
	padding:0;
	}
.rack {
	margin:30px 0;
	padding:0 0 20px 0;
	}
.gallery .item {
	float:left;
	padding:10px;
	background-color:#fff;
	text-shadow:none;
	box-shadow:0 1px 8px #111;
	overflow:hidden;
	}
#carousel .item {
	height:280px;
	width:200px;
	margin:25px 12px;
	}
#racks .item {
	height:166px;
	width:110px;
	margin:25px 12px;
	font-size:0.9em;
	}	
.item-label {
	margin-bottom:0.5em;
	font-size:0.65em;
	line-height:1;
	}
.item-name {
	margin-bottom:0.5em;
	font-size:0.9em;
	line-height:1;
	}
.item img {
	height:108px;
	width:108px;
	border:1px solid #999;
	}
	.item img:hover {
		border-color:#e84e4b;
		}
.icon-link {
	margin:0;
	text-indent:-999em;
	}
#carousel .icon-link {
	float:left;
	width:50%;
	}
	.item .icon-link .icon {
		display:block;
		height:32px;
		width:32px;
		background:#ccc;
		}
	.item .icon-link .trash {
		height:16px;
		width:16px;
		background:url(../../images/gui/iconset-homepage-social.png) no-repeat -250px -32px;
		}
	.item .icon-link .disapprove {
		float:left;
		margin-right:5px;
		}
	.item .icon-link .approve,
	.item .icon-link .trash {
		float:right;
		margin-left:5px;
		}
.btn-wrap {
	margin-bottom:30px;
	text-align:center;
	}
	.btn-wrap .btn {
		margin:0 auto;
		font-size:0.9em;
		}
.rack .btn-wrap {
	clear:both;
	padding-top:20px;
	background:#fff url(../../images/gui/bg-border.gif) repeat-x 0 0;
	}

/* MODALS */

.overlay {
     /*visibility:hidden;*/
	 position:absolute;
     left:0;
     top:0;
     height:100%;
     width:100%;
	 background:rgba(10,10,10,0.85);
     text-align:center;
     z-index:1000;
}
.item-details {
     width:600px;
     margin:100px auto;
     border:1px solid #111;
	 border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
     padding:20px;
     background-color:#fff;
	 box-shadow:0 1px 10px #000;
}
.item-details .close {
	float:right;
	margin:-30px -30px 0 0;
	border:1px solid #111;
	padding:2px;
	background:#fff;
	font-size:0.8em;
	}
.item-info {
	float:right;
	width:275px;
	}
.item-visuals {
	float:left;
	width:300px;
	}
	.item-visuals img {
		height:298px;
		width:298px;
		margin:0 0 10px 0;
		border:1px solid #999;
		}
.item-details .item-label {
	clear:both;
	margin-top:20px;
	font-size:1em;
	}

/* CLEARFIX & INVISIBLE */

.accessability, 
.landing #global,
.landing #local-nav,
.landing #footer-nav .breaker,
.home #footer,
.unseen {
	display:none;
	}
	
.clearfix:after,
.wrap:after {
	clear: both; 
	content: '.'; 
	display: block; 
	height: 0; 
	visibility: hidden;
}
.clearfix, .wrap { display: inline-block; }
/*Hide from IE Mac \*/
.clearfix, .wrap { display: block; }
/*End hide from IE Mac */

