@charset "UTF-8";
@import "chosen.css";

@charset "UTF-8";
@import "chosen.css";

/* CSS Document */


/* RESET a la Meyer
----------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 80%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* TYPOGRAPHY
----------------------------------------*/

html {
	height: 100%;
}

body {
	font:300 1em/1.5 Helvetica, Arial, sans-serif;
	height: 100%;
}
/* Custom sans-serif font = "play" */
.btn, #global .text-link, form p, label, .tab .text, .rack-list h4, .rack-list li, .share-info .admirers .name, .help .seed p, .static .body-copy p, .static .body-copy li, .feed #page-content .hgroup h3 {
	font-family:'Helvetica', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* Custom handwriting font = "Nothing You Could Do" */
h1, h2, h3, p, input.txt, .acct label, .acct .quest, .customStyleSelectBox, #local-nav .text-link, .tab .text-link, .item-actions label, #invitation-form label, #invitation-form1 label, .item-actions .confirmation {
/*	font-family:'Nothing You Could Do', Georgia, serif;*/
	font-family: 'Helvetica', sans-serif;
}

body {
	background-color:#FFFFFF;
	background-repeat:no-repeat;
	background-attachment:fixed;
	color:#888;
}

body {
	background: white url(/static/images/gui/background.png) repeat 0 0;
	font-family: 'Helvetica', sans-serif;
}


a { text-decoration:none; }

a, form .btn { color:#EC67F0; }

a:hover, form .btn:hover { color:#8D8791;}

#carousel a:hover { color:#EC67F0; }

/*@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  body {
    background: #ccc;
  }
}
*/
#shop-with-stella{
	z-index:10;
	position:absolute;
	top:42px;
}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.0s;
     -moz-transition-duration: 0.0s;
      -ms-transition-duration: 0.0s;
       -o-transition-duration: 0.0s;
          transition-duration: 0.0s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}


.isotope .isotope-item {
  -webkit-transition-property: top, left, opacity;
     -moz-transition-property: top, left, opacity;
      -ms-transition-property: top, left, opacity;
       -o-transition-property: top, left, opacity;
          transition-property: top, left, opacity;
}


.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

/*.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
*/

#page-content{
	border: 1px #ddcbdc solid;
	border-radius: 12px;
	-webkit-box-shadow: 4px 5px 18px 0 rgba(77,77,77,0.48);
	-moz-box-shadow: 4px 5px 18px 0 rgba(77,77,77,0.48);
	box-shadow: 4px 5px 18px 0 rgba(77,77,77,0.48);
	background-color: white;
	position: relative;	
	margin-top:125px;
		margin-left:20px;
		margin-right:20px;
		padding:40px;
		background-color:white;
		border-radius: 10px
}




/*@media all and (max-width: 800px){

	#page-content{
		margin-top:125px;
		margin-left:20px;
		margin-right:20px;
		padding:40px;
		background-color:white;
		border-radius: 10px
	}
}*/



.carouselbox{

   /* -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;*/
   
	background-color:white;
	width:100%;
	/*overflow:hidden;*/
	border-radius: 10px;
	overflow-x:auto;
	overflow-y:hidden;
	border:1px solid #eee;
}

	
	.content.carousel div#stunable-tabs-nav{
		width:100%;
		text-align: right;
		white-space: nowrap;
	}
	#stunable-tabs-nav ul{
		width:80%;
		overflow-x:auto;
		overflow-y:hidden;
		white-space: nowrap;
		float:left;
	}

	#stunable-tabs-nav div#new_tab_field{
		width:90px;
		float:right;
		height:20px;
		padding:12px;
	}


	.tab-begone{
		display:none;
		top:1px;
		right:3px;
		position:absolute;
		cursor:pointer;
		color:#ccc;
	}

	.tab-begone:hover{
		color:#EC67F0;
	}

	.stunable-tab:hover .tab-begone{
		display:inline-block;
	}


	.content.carousel div#stunable-tabs-nav li{
		display:inline-block;
		background-color:white;
		height:20px;
		padding:12px;
		border-right:1px solid #ccc;
		position:relative;
		border:1px solid #eee;
	}

	.tab.active{
		color:black !important;
	}

	.carouselbox #container{
		margin-top:32px;
		min-height:500px;
		width:100%;
	}


	div.item{
		/*overflow:hidden;*/
		/*white-space: nowrap;*/
		display:inline-block;
		border-radius:4px;
		background-color:white;
		margin:10px;
		padding:10px;
		border:1px solid #aaa;

	    height:390px;
	   
	    width:201px;
	    		font-size:.9em;
		text-align:center;

	}


	div.item>div{
		margin-top:3px;
		margin-bottom:3px;
	}


	div.item a.pic-container {
		height:300px;
	}

	div.item .item-name{
		height:34px;
		line-height: 1em;
	}


	div.item .picbox{
		position:relative;
		height:300px;
		width:150px;
	}

	div.item .pic-container img{
/*		border:1px solid #ddd;*/
		position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	}


	div.item .item-label{
		background: white url(/static/images/gui/gray-dotted-bg.jpg) repeat-x 0 center;
	}

	div.item .item-label span{
		height: 18px;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #F05C68;
		
		text-transform: uppercase;
		font-weight: bold;
		font-family: 'Advent Pro', sans-serif;
		font-size: 1.1em;
	}

	div.item .item-ref{
		color: #8a8a8c;
		text-transform: uppercase;
		text-align: center;
		font-size: .8em;
	}


		.carousel_price_tag .sale {
			color: red;
		}

		span.dollar {
			font-size: .9em;
			vertical-align: top;
		}

		.carousel_price_tag {
			font-size: 1.1em;
			color: #888;
		}


