@charset "UTF-8";

/* CSS Document */


/* RESET a la Meyer
----------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow:hidden;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.common table { 
	border: #EBEBEB 1px solid;
	width: 100%;
}
.common td { 
	border: thin solid #EBEBEB;
	vertical-align: middle;
}

.common td input[type="text"] {
	min-width: 40px;
}

	.common th {
		border: thin solid #EBEBEB;
		vertical-align: middle;
		text-align: center;
		background-color: #eee;
		font-weight: 600;
	}
	.common table, .common .no-border td {
		border: none;
	}
	h3 {
		text-transform: uppercase;
		/*text-align: center;*/
	}

	
	.bootstrap .alert-info {
		background-color: #D9EDF7;
		border-color: #BCE8F1;
		color: #3A87AD;
	}


/* TYPOGRAPHY
----------------------------------------*/

html {
	height: 100%;
	overflow-x:hidden;
}

body {
	font:300 1em/1.5 Helvetica, Arial, sans-serif;
	/*height: 100%;*/
}
/* Custom sans-serif font = "play" */
.btn, .global .text-link, form p, label, .tab .text, .rack-list h4, .rack-list li, .share-info .admirers .name, .help .seed p, .static .body-copy p, .static .body-copy li, .feed #page-content .hgroup h3 {
	font-family:'Helvetica', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.3em;
	font-weight: bold;
	margin:0px 10px;
}

h2{
	font-size:1.1em;
	font-weight:bold;
	margin:10px 10px 10px 0px;
}


body {
	background-color:#FFFFFF;
	background-repeat:no-repeat;
	background-attachment:fixed;
	color:#888;
/*background: white url(/static/images/gui/background.png) repeat 0 0;*/
	font-family: 'Helvetica', sans-serif;
	/*overflow:hidden;*/
}


a { text-decoration:none; }

a, form .btn { color:#7f10b5; }

a:hover, form .btn:hover { color:#8D8791;}


#shipping-form label, #payment-form label{
	float:left;
	font-size:.9em;
	vertical-align: middle;
	margin:8px;
}

#shipping-form input, #payment-form input,#shipping-form select, #payment-form select, #shipping-form .controls, #payment-form .controls{
	float:right;
}

#payment-form .payment_deets div{
	float:right;
	display:inlinecart-item-list;
}
#payment-form .payment_deets select{
	float:none;
}

#payment-form select,#shipping-form select{
	width:200px;
	margin-top:10px;
	margin-bottom:10px;
}



#shipping-form, #payment-form{
	width:400px;
}

div.control-group{
	clear:both;
}

div.control-group .controls{
	width:200px;
	text-align: right;
}
div.control-group .controls input{
	float:right;
}
ul.errorlist{
	color:red;
}
div.control-group ul.errorlist{
	font-size:.8em;
	position:relative;
	top:30px;
	left:220px;
}


input[type="text"], select, input[type="password"]{
	padding: 5px;
	border-radius: 1px;
	border: 1px solid #cc78ff;
	font-size: 1.2em;
}

input[type="file"]{
	padding:6px;
	font-size: 1.2em;
	vertical-align: middle;
}

input.submit-button{
	background-color: #7f10b5;
	color:white;
	margin:20px;
	float:right;
}

.spinbox{
	float:right;
}

select{

	background-color: #eee;
	transparent;
	background-image: none;
	-webkit-appearance: none;
	border: 1px solid #cc78ff;
	box-shadow: none;
	padding:6px;
	width:100px;
	text-align: right;
	font-size: .9em;

}

select option{
	text-align: right;
}
/*@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  body {
    background: #ccc;
  }
}
*/

body.flatpage{
	overflow:auto;
}

#hidden-items {
	display: none;
}

.global{
	position: fixed;
	top: 0;
	width: 100%;
	background: #333;
	text-align: center;
	height: 50px;
	z-index: 100;
	background: url(../../images/gui/header_bg.png);
}

	#header.global{
		white-space: nowrap;
	}
	
	.global .logo {
		height: 42px;
		width: 278px;
		background: url(../../images/new_logo.png) no-repeat 0px 0;
		position: absolute;
		top:-2px;
		left:-40px;
	}


	.global>ul{
		white-space: nowrap;
		display:inline-block;
	}

	.global .social{
		float:right;
		margin-right: 12px
	}

	.global li{
		display:inline-block;
	}

	.global .icon-list .icon {
		height:16px;
		width:16px;
		background-color: #e3dbe3;
		border: #e3dbe3 3px solid;
		border-radius: 4px;
	}

	.icon.x{
		display: inline-block;
		height: 17px;
		width: 17px;
		background: url(../../images/gui/iconset-misc.png) no-repeat 0 -288px;
	}


	.global .menu li {
		position:relative;
	}

	#stunable-top-nav>li{
		line-height:48px;
		float:left;
	}



	.menu a {
		float: left;
	/*	padding: 12px 30px;*/
	/*	color: #999;*/
		text-transform: uppercase;
	/*	font: bold 12px Arial, Helvetica;*/
	/*	text-decoration: none;*/
	/*	text-shadow: 0 1px 0 #000;*/
	}

	#stunable-top-nav {
		float:right;
		color:white;
	}
	#stunable-top-nav a{
		color:white;
	}

	#stunable-top-nav .dropdown a{
		color:#7f10b5;
	}

	#stunable-top-nav li div{
		/*background-color: black;*/
		height: 45px;
		margin-top: -4px;
	}

	#stunable-top-nav li div span{
		vertical-align: top;
		line-height: 48px;
		font-size: 1em;
		margin-left:15px;
		margin-right:15px;
	}

	#stunable-top-nav .personbox{
		background-color:white;
		color:#666;
		cursor:pointer;
	}


	#stunable-top-nav #nav-account img{

		height:45px;
	}

	.menu li:hover > a {
		color: #fafafa;
	}

	*html .menu li a:hover { /* IE6 only */
		color: #fafafa;
	}

	.menu ul {
		margin: 20px 0 0 0;
		_margin: 0; /*IE6 only*/
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 40px;
		left: -30px;
		-webkit-transition: all .2s ease-in-out;  
		background-color: white;
		border: 1px #DDCBDC solid;	
		padding: 0px;
		margin: 0 0 0 0;
	}


	.menu li:hover > ul {
		opacity: 1;
		visibility: visible;
		margin: 0 0 0 -10px;
		z-index: 100;    
	}


	.menu ul ul {
		top: 0;
		left: 150px;
		margin: 10px 0 0 0;
		_margin: 0; /*IE6 only*/	
	}

	.menu  ul.offset-left{
		right:0px;
	}

	.menu ul li {
		float: none;
		display: block;
		_line-height: 0; /*IE6 only*/
	/*	box-shadow: 0 1px 0 #111, 0 2px 0 #666;*/
		border-top: 1px #ddd dashed;
		line-height: 15px;
		padding:5px;
	}


	.menu ul li:last-child {   
		box-shadow: none;    
	}

	.global #stunable-top-nav .dropdown>li:hover{
		color:white;
		background-color:#7f10b5;
	}

	.global #stunable-top-nav .dropdown li:hover a{
		color:white;
	}


	.menu ul a {    
		padding: 5px 10px ;
		width: 130px;
		_height: 10px; /*IE6 only*/
		display: block;
		white-space: nowrap;
		float: none;
		text-transform: none;
		line-height: 15px;
	}


#footer{
	height:300px;
	clear:both;
}

#footer .center{
	width:100%;
	text-align: center;
}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.scrollbox.carouselbox .isotope,
.scrollbox.carouselbox .isotope .isotope-item {
  -webkit-transition-duration: 0.0s;
     -moz-transition-duration: 0.0s;
      -ms-transition-duration: 0.0s;
       -o-transition-duration: 0.0s;
          transition-duration: 0.0s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}


.isotope .isotope-item {
  -webkit-transition-property: top, left, opacity;
     -moz-transition-property: top, left, opacity;
      -ms-transition-property: top, left, opacity;
       -o-transition-property: top, left, opacity;
          transition-property: top, left, opacity;
}


.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

/*.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
*/


#APIs td img, .modal.current img.logo{
	max-height:70px;
}


#main{
	margin-top:40px;
	margin-bottom:40px;
	white-space: nowrap;
}

.flatpage #main{
	white-space: normal;
}


#left-panel{
	float:left;
	display:inline;
	text-align:center;
	position:relative;
	top:-55px;
}

#left-panel .retailer-left-panel{
	text-align: right;
}

#left-panel .retailer-left-panel .list-header{
	margin:8px;
}



body.flatpage #left-panel{
	position:fixed;
}

	#left-panel>ul{
		margin-top:190px;
	}

	.modal.current ul.action-buttons>li, #left-panel>ul>li{
		height:90px;
		width:90px;
		overflow:hidden;
		/*border-radius: 4px 0px 0px 4px;*/
		cursor:pointer;
		position:relative;
		
		color:#444;
		/*box-shadow: 0px 4px 2px 2px rgba(0,0,0,.3);*/
	}
	#left-panel>ul>li{
		margin-top:16px;
		margin-bottom:16px;
		border:1px solid #ddd;
		border-right:0px;
	}


	#left-panel #shop-button{
		background:url('../../images/new_buttons/logo_hover.png');
		background-size: 60px;
		background-repeat: no-repeat;
		/*background-position-y: 30px;*/
		/*background-position-x: 16px;*/
		background-position:16px 26px;
	}

	#left-panel #shop-button:hover,#left-panel #shop-button.active{
		background:url('../../images/new_buttons/logo.png');
		background-size: 60px;
		background-repeat: no-repeat;
		background-position:16px 36px;
	}


	#left-panel #friends-button{
		background:url('../../images/new_buttons/people_dancing.png');
		background-size: 60px;
		background-repeat: no-repeat;
		background-position:16px 26px;
	}

	#left-panel #friends-button:hover,#left-panel #friends-button.active{
		background:url('../../images/new_buttons/people_dancing_hover.png');
		background-size: 60px;
		background-repeat: no-repeat;
		background-position:16px 36px;
		/*background-color: whitesmoke;*/
	}


	#cart-button{
		background:url('../../images/new_buttons/bag_hover.png');
		background-size: 50px;
		background-repeat: no-repeat;
		background-position:20px 30px;

	}

	#modal-cart-button,#cart-button.active,#left-panel #cart-button:hover, #left-panel>ul>li#cart-button.drop_item_hover,#left-panel>ul>li#cart-button.active .drop_item_hover{
		background:url('../../images/new_buttons/bag.png');
		background-size: 50px;
		background-repeat: no-repeat;
		background-position:20px 36px;
	}


	#modal-wish-button,#wish-button{
		background:url('../../images/new_buttons/heart_hover.png');
		background-size: 60px;
		background-repeat: no-repeat;
		background-position:16px 26px;

	}

	#modal-wish-button,#wish-button:hover,#left-panel #wish-button.active,#left-panel>ul>li#wish-button.drop_item_hover{
		background:url('../../images/new_buttons/heart.png');
		background-size: 60px;
		background-repeat: no-repeat;
		background-position:16px 36px;
	}

		#left-panel>ul>li.active,#left-panel>ul>li:hover{
		background-color: whitesmoke!important;
	}






    #left-panel>ul>li:hover>a,#left-panel>ul>li.drop_item_hover>a,#left-panel>ul>li.active>a{
		color:#7f10b5;
		/*background-color: whitesmoke;*/
    }





	.modal.current ul.action-buttons>li>a,#left-panel>ul>li>a{
		height: 90px;
		width: 100%;
		color:grey;
		vertical-align: top;
		font-size: 1em;
		position: absolute;
		top: -1px;
		left: 0px;
		text-align: center;
	}

	.modal.current ul.action-buttons>li>a{
		color:white;
	}

	.modal.current ul.action-buttons>li div{
		position:relative;
		top:4px;
	}

	#left-panel>ul>li.active{

		/*border:1px solid #7f10b5;*/
		/*height:59px;*/
	}


	#left-panel>ul>li>a div{
		padding-top:10px;
		width:100%;
		/*text-transform:uppercase;*/
		/*height:100%;*/
	}


	#left-panel>ul>li.drop_item_here {
		background-color:#eee;
		border-top: 1px #444 dashed;
		border-bottom: 1px #444 dashed;
		border-radius:3px;
		box-shadow: -4px 0px 4px 4px rgba(180,0,200,.2);
	}



	#page-content{
		display:inline-block;
	    border-left:1px solid #ccc;
	    width:100%;
	}

	.lt-ie9 #page-content{
		position: absolute;
		left:90px;
	}

	.flatpage #page-content{

		width: 60%;
		margin-top: 100px;
		margin-left:10%;
		margin-right:10%;
		/*background-color:#eee;*/
		border:none;
	}

	.retailers #page-content{
		padding:30px;
		width:100%;
		white-space: normal;
		float:none;
	}

		.inner-page-content{
			position:static;
			margin-top:40px;
			/*background-color:rgb(250,250,250);*/
			width:100%;
			border-radius: 10px;
			border:1px solid #eee;
			overflow:auto;
			min-height:600px;
		}




		.inner-page-content .content-message{
			width:40%;
			height:350px;
			/*border:1px solid #bbb;*/
			margin-left:100px;
			margin-top:50px;
			padding:20px;
			min-width:400px;
		}

		.inner-page-content.retailer{
			border:none;
		}

		.inner-page-content>div.center, .center{
			width:100%;
			text-align: center;
			padding-top:50px;
		}

		.inner-page-content .left{
			display:inline-block;
			text-align: left;
		}


		.inner-page-content>div{
			margin-top:10px;
			margin-bottom:10px;
		}
/*
		.center>div{
			display:inline-block;
			text-align: left;
		}*/


		.retailers .inner-page-content .profile{
			width:60%;
			min-width: 700px;
			float:none;
			overflow-x:hidden;
			text-align: left;
			display:inline-block;
			/*padding:50px;*/
		}




		#carousel-container{
			width:100%;
			overflow:hidden;
			height:550px;
			position:relative;
		}

		.carouselbox{
			-webkit-overflow-scrolling: touch;
			overflow-x:auto;
			overflow-y:hidden;
		}

		.listbox{
			overflow-x:hidden;
			overflow-y:auto;
			height:600px;
		}


		#page-content .section-intro{
			margin:20px;
		}


		.section.box{
			width:500px;
			display:inline-block;
			border:1px solid #7f10b5;
			padding:60px;
			margin-top:100px;
			border-radius: 8px;
		}

	/*	.inner-page-content .vertscroll{
			max-height:1280px;
			overflow:auto;
		}*/
	
	/*TABS*/

		#tabs-container-container{
			width:100%;
			max-width:1000px;
			display:inline-block;
			overflow-x:auto;

		}
		div#stunable-tabs-nav{
			/*width:90%;*/
			z-index:1;
			display:inline-block;
			top:80px;
			padding-top:10px;
			padding-right:60px;
			width:90%;
		}
		.shop #stunable-tabs-nav ul{
			white-space: nowrap;
			display:inline-block;
		}

		#stunable-tabs-nav div#new_tab_field{
			display:inline;
			margin-top:6px;
		}

		#stunable-tabs-nav .click-show{
			cursor: pointer;
			height:65px;
			position: relative;
			top:-1px;
			overflow:hidden;
			vertical-align: middle;
			display:inline-block;
			padding-right:8px;
			padding-left:8px;
			
			/*box-shadow: -3px 6px 6px 3px rgba(0,0,0,.1);*/

		}

		div#search_tab {
			margin:10px;
		}

		#stunable-tabs-nav li#more-tabs-tab{
			background-color:whitesmoke;
		}

		#stunable-tabs-nav li#more-tabs-tab div{
			display: inline;		}

		#tab-adder{
			font-size:.8em;
			padding:.5em;
			margin:10px;
			border-radius:4px;
		}


		.bigplus{
			font-size:1.7em;
			margin:5px;
		}

		.tab-begone{
			display:none;
			top:-20px;
			right:2px;
			padding:0px;
			position:absolute;
			cursor:pointer;
			color:#ccc;
		}

		.tab-begone:hover{
			color:#7f10b5;
		}

		.stunable-tab:hover .tab-begone{
			display:inline-block;
		}

		div#stunable-tabs-nav ul li {
			line-height:60px;
			position:relative;
			vertical-align: middle;
			display:inline;
			padding:20px;	
			border-right:1px solid #ccc;
			background-color:white;
			color:grey;
		}

		.cart div#stunable-tabs-nav ul li {
			border-right:none;
		}

		div #stunable-tabs-nav li a span{
			height:100%;
			display:inline-block;
			color:grey;
			text-transform: lowercase;
		}

		div#stunable-tabs-nav li.active{
			background-color:#bbb;
			color:white;

		}


		div#stunable-tabs-nav li.tab.active a,div#stunable-tabs-nav li.tab.active span{
			color:white;
		}

/*CAROUSEL*/


		.scrollbox #container{
			min-height:500px;
			min-width:2000px;
			white-space: nowrap;
		}

		.scrollbox.listbox.inner-page-content #container{
			white-space: auto;
			width:100%;
			min-width: 0px;
			height:auto;
		}




		.scrollbox{
			height:600px;

		}



		.shop .content div.item{
			/*overflow:hidden;*/
			white-space: normal;
			display:inline-block;
			border-radius:4px;
			background-color:white;
			margin:10px;
			margin-top:60px;
			/*padding:1px;*/
			border:1px solid #eee;	   
		    min-width:300px;
		    font-size:.9em;
			text-align:center;
			min-height:400px;
			display:none;

		}

		.shop .content div.item.isotope-item{
			display:inline-block;
		}

		.shop .content div.item>div{
			margin-top:3px;
			margin-bottom:3px;
		}



		div.item .item-info{
			position:absolute;
			bottom:0px;
			background-color:rgba(0,0,0,.5);
			width:100%;
			color:white;
		}

		.shop .content div.item:hover{
			border: 2px solid #7f10b5;
			/*padding: 9px;*/
			padding:0px;
		}

		div.item .pic-container img{
	/*		border:1px solid #ddd;*/
			position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    height:400px;
		}

		div.item.wide .pic-container img{
			height:auto;
			width:200px;
		}



		div.item .item-label span, .content.cart .retailer-header{
			height: 18px;
			text-overflow: ellipsis;
			white-space: nowrap;
			/*color: #F05C68;*/
			
			text-transform: uppercase;
			/*font-weight: bold;*/
			/*font-family: 'Advent Pro', sans-serif;*/
			font-size: .9em;
		}

		div.item .item-ref{
			color: #8a8a8c;
			text-transform: uppercase;
			text-align: center;
			font-size: .8em;
		}

		div.item .controls{
			position:absolute;
			top:-4px;
			width:100%;
			text-align: right;
		}

		div.item .controls .x{
			position: absolute;
			right:9px;
			top:-4px;
			overflow:hidden;
			text-indent:100px;
		}

			.carousel_price_tag .sale {
				color: red;
			}

			span.dollar {
				font-size: .9em;
				vertical-align: top;
			}

			.carousel_price_tag {
				font-size: 1.1em;
				color: #eee;
			}

			.directional{
				width:85%;
				white-space: nowrap;
				position:absolute;
				top:500px;
				/*height:200px;*/
				/*background-color: black;*/
				left:5%;
			}

			 .directional .btn {
				position:absolute;
				height:60px;
				width:60px;
				background:transparent url(../../images/gui/icon-arrows.png) no-repeat 0 0;
				text-indent:-999em;
				cursor:pointer;
				z-index:3;
				overflow:hidden;
			}


			 .directional .previous {
				left:0px;
			}
			 .directional .next {
				background-position:-66px 0;
				right:0px;
			}

			 .directional .next, .directional .previous  {
				padding: 0;
				border: none;
			}



.indent_format div{
	margin-top:3px;
	margin-left:10px;
}



.indent_format .section{
	margin-top:20px;
	padding-bottom:20px;
}



.shipping_label .inner-page-content{
	padding:20px;
}





	.shipping_label .common td input[type="text"] {
		width: 40px;
	}
	.shipping_label .common th {
		border: thin solid #EBEBEB;
		vertical-align: middle;
		text-align: center;
		background-color: #eee;
		font-weight: 600;
	}
	.shipping_label .common table, .common .no-border td {
		border: none;
	}
	.shipping_label h3 {
		text-transform: uppercase;
		text-align: center;
	}
	
	.shipping_label .bootstrap input {
		width: 100px;
	}
	.shipping_label .order-action ul {
		position:absolute;top: 0; left:0;display:none;background-color: white;width: 200px;cursor: pointer;
		border: gray 1px solid;
	}
	
	.shipping_label .order-action ul li {
	}
	
	.shipping_label .order-action {
		position:relative; cursor: pointer;
	}















/*CART*/


.cart .inner-page-content{
	width:90%;
}

.cart .container-box{
	background-color:white;
	padding:20px;
}
#cart-item-list{
	/*width:60%;*/
	min-width:558px;
	overflow-y:auto;
	overflow-x:hidden;
	height:600px;
}

#cart-item-list .item-retailer{
	color:#666;
}

.content.cart #cart-item-list.purchased{
	width:auto;
	max-width:80%;

}
.content.cart #cart-totals{
	float:right;
	padding:20px;
	margin-right:100px;
}


.content.cart #cart-totals table{
	margin:auto;
}
.content.cart #cart-totals table td{
	width:50%;
	text-align: right;
}

.content.cart #cart-totals table tr.hidden{
	display:none;
	color:#aaa;
}

.big {
	font-size:1.3em;
	font-weight: bold;
}
.emphasize{
	font-weight: bold;
}

.content.cart .small{
	font-size:.8em;
}

.content.cart .reference-number{
	font-weight:bold;
	color:#666;
}

#cart-totals .btn{
	margin-top:20px;
	margin-bottom:20px;
}


table.retailer-item-group{
	min-width:380px;
}

.cart-retailer-group{

	margin:20px;
}

.cart-retailer-group tr.item{
	/*height:100px;*/
	/*width:100%;*/
	overflow: hidden;
	/*white-space: nowrap;*/
	border-bottom:1px solid #ddd;
	vertical-align: middle;
}

.cart-retailer-group td,.cart-retailer-group th{
	/*display:inline-block;*/
	position:relative;
	/*margin-right:20px;*/
	border:1px solid #ddd;
	padding:10px;
	/*text-align: left;*/
	vertical-align: middle;

}

.cart-retailer-group:last-child{
	margin-bottom:425px;
}


.content.cart tr.item-name{
	font-size:1.2em;	
}



.content.cart .item{
	/*width:100%;*/
	position:relative;
}


.content.cart .item td.item-remove{
	vertical-align: top;
}


.content.cart .item .cart-remove{
	padding:2px 4px 2px 4px;
	background-color:white;
	/*border:1px solid #e5e5e5;*/
	display:inline;
	font-size:1em;
	position:relative;
	/*top:0px;*/
}

.content.cart .item .item-label{
	display:inline;
}


.cart-retailer-group td img{
	width:60px;
}

.content.cart .item-info{

}

.content.cart .item-info span{
	/*float:right;
	text-align:left;*/
	margin:30px;
}



.content.cart .retailer-header{
	padding:4px;
}

.content.cart .shipping-options{
	text-align: right;
	font-size:.8em;
}

.content.cart form{
	margin-top:20px;
}

#payment_shipping_info{
	min-width: 880px;
	overflow: auto;
}


#payment_shipping_info .errorlist,.form_error{
	color:red;
	font-size:.8em;
}

#payment_shipping_info #payment-form-container{
	width:50%;
	float:right;
	white-space: nowrap;
}

#payment_shipping_info #payment-form-container form#payment-form{
	margin-top:20px;
}

.cart.content form.hidden {
	display:none;
}


#payment_shipping_info #shipping-form-container{
	width:45%;
	float:left;
	margin:10px;
}



#btn-place-an-order{
	position: absolute;
	right: 100px;
}
#purchased_bottom{
	margin:20px;
}
#purchased_bottom a{
	margin:40px;
}


.click-toggle{
	cursor:pointer;
}


/* ICONOGRAPHY
----------------------------------------*/

	.icon {
		display:block;
		text-indent:-999em;
	}
	#homepage-social .icon, .global .icon-list .icon {
		background-image:url(../../images/gui/iconset-homepage-social.png);
		background-repeat:no-repeat;
	/*	box-shadow:1px 1px 2px #111;*/
	}
	#homepage-social .icon {
		height:30px;
		width:30px;
	}
	#homepage-social #nav-twitter {
		background-position:0 0;
	}
	#homepage-social #nav-twitter:hover {
		background-position:0 -50px;
	}
	#homepage-social #nav-facebook {
		background-position:-60px 0;
	}
	#homepage-social #nav-facebook:hover {
		background-position:-60px -50px;
	}
	#homepage-social #nav-googleplus {
		background-position:-120px 0;
	}
	#homepage-social #nav-googleplus:hover {
		background-position:-120px -50px;
	}
	.global .icon-list #nav-twitter {
		background-position:-200px 0;
	}
	.global .icon-list #nav-facebook {
		background-position:-200px -32px;
	}
	.global .icon-list #nav-googleplus {
		background-position:-200px -64px;
	}

	.icon.plus-icon {
			width: 20px;
			height: 20px;
			display: inline-block;
			background: transparent url(/static/images/gui/icons.png) no-repeat 0 -26px;
			/*margin: 15px;*/
			position:relative;
			top:8px;
		}



#login_options{
	width:100%;
	text-align: center;
}


#login_options div{
	margin:auto;
	margin-top:20px;
	display:block;
}




/* retailer signup */

.inner-page-content.retailer.login{
	min-height: 700px;
	border:none;
}

.retailer.login #bigform-error{
	color:purple;
	font-weight: bold;
}
.retailer.login form{
	width:500px;
	white-space: normal;
	display:inline-block;
}

.retailer.login form>div{
	white-space: nowrap;
}

.retailer.login form input,.retailer.login form div{
	margin:10px;
	display:inline;
	clear:both;
}



/* end retailer signup*/

.modal.current#login_box{
	padding:50px;
	background-color:rgba(255,255,255,.7);
}

.facebooklogin{
	border-radius: 0px;
	width:278px;
	height:60px;
	background: url('/static/images/login_with_facebook.png') no-repeat 0px 0px;
}


.googlelogin{
	border-radius: 0px;
	width:226px;
	height:39px;
	background: url('/static/images/login_with_google.png') no-repeat 0px 0px;
}

/*DRAGGING AND DROPPING*/


.item.ui-draggable-dragging {

	background-color:rgba(255,255,255,.4) !important;
	color:black;
	height:200px;

}

.item.ui-draggable-dragging .item-name{
	color:black !important;
	width:100%;
	text-align: center;
	/*display:none;*/
}

.item.ui-draggable-dragging .item-label{
	text-align: center;
	width:100%;
	background:none;
	/*display:none;*/
	/*background-color:rgba(255,255,255,.4) !important;*/	
}

.item.ui-draggable-dragging .touchable{
	/*visibility:hidden;*/
}


.item.ui-draggable-dragging .picbox{
	opacity:.8;
	position:static;
	margin:auto;
}

.item.ui-draggable-dragging .carousel_price_tag{
	display:none;
}

.item.ui-draggable-dragging img{
	width:80px;
	border:1px solid #F05C68 !important;
}





#tab-search{
	font-size:.7em;
	width:200px;
}


.ui-autocomplete{
	border: 1px solid #7f10b5;
/*	background: #333333;*/
	background: white;
    max-height: 245px;
    left: 338px;
    overflow: auto;
    position: absolute;
    /*width: 250px;*/
    z-index: 1;
	cursor: pointer;
}
.ui-autocomplete li{
	margin: 0;
}
.ui-autocomplete li:hover{
}

.ui-autocomplete li a{
    display:inline-block;
    font-size: 0.85em;
    height: 100%;
    /*width: 94%;*/
	padding: 4px;
	text-align: left;
}
.ui-autocomplete li .ui-state-hover{

	background-color: highlight;
}

.ui-autocomplete li .menu-space{
	width:50px;
	margin-right:10px;
}

.ui-autocomplete li.separator{
	background-color:#7f10b5;
	width:100%;
	height:1px;
}

li.menu-flavor:first-child{
	/*border-bottom:1px solid black!important;*/
}


/*MODAL*/
/*

MODAL CSS
*/

.modal {
  display: none;
  /*width: 400px;*/
  /*background: #fff;*/
  /*padding: 15px 30px;*/
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}

/*.modal.current .errorlist{
	background-color:white;
	text-align: center;
	min-height:200px;
	min-width:200px;
}*/



.close-modal {
	position: absolute;
	top: 0px;
	right:0px;
	height: 24px;
	width: 24px;
	margin: 0;
	padding: 0;
	background: url(../../images/gui/icons.png) no-repeat -24px -1px;
	text-indent: -999em;
	cursor: pointer;
	z-index: 1103;
}

div.item .close-modal{
	width:0px;
}

div.item:hover .close-modal{
	width:24px;
}



ul.address_confirm{
	white-space: nowrap;
	margin:10px;
}



.address_confirm li{
	display:inline;
	margin:0px;
}


.address_confirm li.diff{
	color:red;
}

.address_confirm .address_action{
	/*float:right;*/
	display:inline;
	text-align:center;
	border:1px solid;
	margin-left:10px;
}


.info_modal.modal.current{

}

form .info_modal{
	display:none;
}

.retailers form>div>.errorlist,.retailers form>div>.form_errors,.cart form>div>.errorlist,.cart>div>.form_errors{
	display:none;
}	

.modal.current.info_modal{
	max-width:50%;
	min-width:508px;
	padding:20px;
	overflow-y:auto;
	background-color:white;
	min-height:80px;
}

.info_modal ul{
	text-align: left;
	width:100%;
}

.info_modal h2{
	text-align: center !important;
	width:100%;
	font-size:1.4em;
	font-weight: bold;

}


/*.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(../../images/gui/spinner.png) #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}*/

/*END MODAL CSSS*/


/*.modal.current{
	overflow:hidden;
	margin-left:50%;
	margin-top:50%;
}*/

/*.wide.modal.current{
	height:620px;
}*/

#modal_contents{
	overflow:hidden;
	background-color:white;
	/*border-radius: 10px;*/
}

.damonzoomcontainer{
	position:absolute;
	overflow:hidden;
}

.modal_inner_frame{
	white-space: nowrap;
}

.modal.current .modal_inner_frame{
	min-width:600px;
	max-width:760px;
	height:620px;
	overflow:hidden;
	background-color:#bbb;
}

.lt-ie9 .modal.current .modal_inner_frame{
	max-width:700px;
}

.modal.current .modal_inner_frame>div{
	display:inline;

}

.modal_inner_frame .item-visuals{
	float:left;
}

.modal_inner_frame .item-visuals #item-header{
	height:75px;
	position:absolute;
	background-color:#555;
	opacity:.8;
	bottom:0px;
	padding:3px;
	width:99%;
}

.wide .modal_inner_frame .item-visuals #item-header{

	top:0px;
	bottom:100%;
}

.modal_inner_frame .item-visuals #item-header div{
	white-space: nowrap;
	/*font-family: serif;*/
	line-height: 25px;
}


.item-retailer{
	color:white;
	text-transform: uppercase;
}

.item-visuals #item-header .item-retailer{
	font-size:2em;
	text-transform: uppercase;
	/*line-height: .8;*/
}

#cart-item-list .item-retailer,#cart-item-list .reference-number{
	font-weight:bold;
}


.item-visuals #item-header .item-name{
	margin:auto;
	font-size:1.3em;
	color:#7f10b5;
	color:white;
	float:left;
	clear:left;
	text-transform: lowercase;
}


.modal.current .img_load_spin{
	opacity:.5;
	width:48px;
	height:48px;
	background:url('/static/images/spinner_48_w.gif') 0 0  no-repeat;
}


.modal.current .wide .img_load_spin{
	margin-top:80px;
}

.modal.current .item-price {
	font-size: 1.2em;
	/*width:100%;*/
	/*width: 230px;*/
	text-align: right;
	color:white;
	clear:left;
	float:left;
	font-style: italic;
	/*background: url(../../images/x_sm.png) no-repeat 155px -9px;*/
}


.modal.current .modal-item-details{
	float:right;
	color:black;

	padding:10px;
	height:600px;
	width:220px;
	/*border-radius:0px 0px 10px 0px;*/
}

.modal.current .wide .modal-item-details{
	height:200px;
	width:100%;
	display:block;
	float:left;
	clear:both;
	padding:0px;
	
}

.modal.current .short.wide .modal-item-details{
	width:700px;
}



.modal-item-details .item-data{
	height:350px;
	display:block;
}

.modal-item-details .item-data div{
	margin:5px;
}

.wide .modal-item-details .item-data{
	display:inline-block;
	width:50%;
	height:200px;
}


.modal-item-details .item-description{
	font-size:.8em;
	/*font-family: serif;*/
	max-height:250px;
	overflow:auto;
	width:100%;
	white-space: normal;
}

.modal-item-details .item-retailer{
	font-size:1.1em;
	margin-bottom:10px;
}


.modal-item-details .item-pictures{
	white-space: nowrap;
	overflow:auto;
	width:100%;
}
.modal-item-details .item-pictures img{
	width:40px;
	margin:1px;
	cursor:pointer;
}

.modal-item-details .item-pictures img:hover{
	border:1px solid black;
	margin:0px;
}

.modal-item-details .item-pictures img.active{
	border:1px solid #7f10b5;
	margin:0px;
	opacity:.5;
}




/*.wide .modal-item-details .item-description{
	font-size:.8em;
	font-family: serif;
	width:200px;
}
*/

.modal.current .wide .item-actions{
	float:right;
	width:auto;
	margin-right:10px;
	max-width:45%;
}

.modal.current  .item-actions{
	display:block;
	color:white;
	height:250px;
	text-align: right;
}

.modal.current  .item-actions .actionheader{
	text-align: left;
	width:100%;
	margin-top:10px;
}


.modal.current .item-actions .action-buttons{
	position:absolute;
	bottom:0px;
	right:0px;
	white-space: nowrap;
	/*background-color: white;*/
}

.action-buttons #modal-cart-button, .action-buttons #modal-wish-button{
	display:inline-block;
	height:76px;
}

.action-buttons #modal-wish-button{
	background-position: 16px 10px;
}
.action-buttons #modal-cart-button{
	background-position: 23px 16px;

}



.modal.current .item-visuals #images{
	width:420px;
	overflow:hidden;
}

.modal.current .item-visuals #images li{
	position:absolute;
}

.modal.current .wide .item-visuals #images li{
	position:relative;
	height:400px;
	width:100%;
	overflow:hidden;
	/*border-radius:10px;*/
}

.modal.current .item-visuals img.h540{
	height:540px;
}

.modal.current .item-visuals img.h300{
	/*width:600px;*/
	position:relative;
	top:90px;
}


.modal.current .wide.short .item-visuals img{
	position:relative;
	/*height:290px;*/
	top:80px;
}




 .modal.current .wide .item-visuals #images{

 	width:600px;
 	height:400px;
 	overflow:hidden;
 	display:block;

 }


.modal.current .item-price span.dollard-sign{
	font-size: .7em;
	margin: -3px -10px 0 0;
}


.modal.current .item-price span.dollar, span.dollar{
	font-size: .9em;
	vertical-align: top;
}

.modal.current .item-price span.dim{
	font-size: .7em;
}

.struck{
	text-decoration: line-through;
}

.modal.current .item-price .sale{
	line-height: .9em;
	font-weight: 300;
	color:red;
}

.modal.current label{
	text-transform: none;
}


.modal.current .item-size{
	color: white;
	font-size: .8em;
}

.modal.current .item-color-list,.modal.current .item-size-list{
	max-height:60px;
	overflow:hidden;
	padding:5px;
}

.modal.current .wide .item-color-list,.modal.current .item-size-list{
	max-height:60px;
	overflow:auto;
	padding:5px;
}

.modal.current .item-size-list a, .modal.current .item-color-list a{
	color: black;
	padding: 2px;
	display: inline-block;
	font-weight: bold;
	min-width: 21px;
}

.modal.current .item-size-list span, .modal.current .item-color-list span{
	display: inline-block;
	padding: 2px;
	/*border: 1px dashed #dec5df;*/
	margin-right: 5px;
	min-width: 22px;
	text-align: center;
	border-radius: 1px;
	margin-top:5px;
	float:left;
}

.modal.current .item-size-list span.onsale{
	border: 1px solid red;
}


.modal.current .item-size-list span.selected, .modal.current .item-size-list span:hover{
	background-color: white;
	/*border:1px solid black;*/
	color:black;
}

.modal.current .item-size-list span.selected a, .modal.current .item-size-list span:hover a{
	color: black;
	/*border: 1px dashed #db8ec1;*/
	border-radius: 5px;
}

.modal.current .item-color-list span.selected, .modal.current .item-color-list span:hover{
	border: 0;
	background-color: white;
	/*border:1px solid black;*/
	color:black;
}

.modal.current .item-color-list span.selected a, .modal.current .item-color-list span:hover a{
	color: black;
	/*border: 1px dashed #db8ec1;*/
	border-radius: 5px;
}}



.modal.current .item-color{
	text-transform: uppercase;
	font-weight: bold;
}


/*CART*/
	
#cart_slide{
	/*padding:5px;*/
	/*z-index: 2;*/
	/*background-color: rgba(255,255,255,.83);*/
	height: 0px;
	width: 200px;
	/*position: absolute;*/
	/*border: 2px solid #ccc;*/
	/*border-top: 0px;*/
	/*border-radius: 0px 0px 9px 9px;*/
	/*left: -70px;*/
	/*top:-60px;*/
	overflow:hidden;
	/*box-shadow: 3px 1px 10px rgba(0,0,0,.5);*/
}


#cart_items{
	height:162px;
	display:block;
	overflow:auto;
}

.add #cart_items{
	height:81px;
	overflow:hidden;
}
	#cart_items tr{

		font-size:.6em;
	}
	#cart_items td{
		border-bottom:1px dashed #ccc;
		padding-top:10px;
		padding-bottom:10px;
		text-align: right;
		height:60px;
		padding-right:;
	}
	#cart_items td span{
		vertical-align:top;
		display:block;
		line-height: 1.2em;
	}

	#cart_items.item-list .item-label{
		width: 100%;
		text-align: right;
		background:none;
	}

#cart_data{
	/*margin-top:71px;*/
	border-bottom:1px dashed #ccc;
	height:40px;
	width:100%;
	color:#aaa;
	vertical-align: middle;
}



.bootstrap .btn {
	padding:.5em;
   display: inline-block;
  *display: inline;
  font-weight: bold;
  *margin-left: .3em;
  font-size: 18px;
  line-height: 18px;
  *line-height: 20px;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color:#7f10b5;
  border:1px solid #7f10b5;
 
}

.bootstrap .btn.disabled{
	color:#bd4bf5;
}


.bootstrap .btn:hover {
   /*display: inline-block;*/
  /**display: inline;*/
  /*padding: 6px 12px 6px;*/
  /*margin-bottom: 0;*/
  /**margin-left: .3em;*/
  /*font-size: 13px;*/
  /*line-height: 18px;*/
  /**line-height: 20px;*/
  color: #7f10b5;
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*cursor: pointer;*/
  background-color:white;
  border:1px solid #7f10b5;
}


.bootstrap .btn.disabled:hover {
   /*display: inline-block;*/
  /**display: inline;*/
  /*padding: 6px 12px 6px;*/
  /*margin-bottom: 0;*/
  /**margin-left: .3em;*/
  /*font-size: 13px;*/
  /*line-height: 18px;*/
  /**line-height: 20px;*/
  color: #7f10b5;
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*cursor: pointer;*/
  background-color:#9a1ad8;
  border:1px solid #7f10b5;
}

.bootstrap .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}



/*THIS IS PROBABLY EVIL*/

#flatpage-content{
	min-height: 800px;
}

.flatpage h2 {
	text-transform: uppercase;
	margin: 20px 15px;
	background: white url(/static/images/gui/pink-dot-bg.png) repeat-x 0 center;
	width: 91%;
	text-align: left;
}

.flatpage h2 span{
	background-color: white;
} 
.flatpage .body-content{
	/*font-family: 'Advent Pro', sans-serif;*/
	width: 630px;
	margin: 10px auto;
}
.flatpage .body-content .header{
	font-weight: bold;
	margin-bottom: 0;
	font-size: 1.3em;
}

.flatpage .title{
	font-weight: bold;
}



.privacy .body-copy {
	padding: 0 20px;
}

.privacy .body-copy ul{
	list-style-type: disc;
	list-style-position: inside;
	font-family: 'Advent Pro', sans-serif;
}

.privacy .emphasize, .team .emphasize{
	font-style: italic;
}



.privacy h2 {
text-transform: uppercase;
margin: 20px auto;
background: white url(/static/images/gui/pink-dot-bg.png) repeat-x 0 center;
width: 91%;
text-align: left;
}

/*.privacy span {
background-color: white;
}
*/
.privacy .body-copy {
	width: 90%;
	margin: auto;
	outline: none;
	position: relative;
	padding-bottom: 0;
}


.terms-conditions .body-copy {
	padding: 0 20px;
}

.terms-conditions .emphasize {
	font-style: italic;
}


.about .body-copy, .team .body-copy, .return .body-copy{
	/*font-family: 'Advent Pro', sans-serif;*/
	padding: 0 20px;
}
.about h2, .team h2, .return h2 {
	text-transform: uppercase;
	margin: 20px 20px; 
	background: white url(/static/images/gui/pink-dot-bg.png) repeat-x 0 center;
	width: 91%;
	text-align: left;
}
.about h2 span, .team h2 span, .return h2 span{
	background-color: white;
}
.about .bold, .team .bold{
	font-weight: bold;
}
.about #page-content .separator {
	height:5px;
	width: 100%;
	border-bottom: 1px #e492be dashed;
	margin-bottom: 20px;
}
.about .header {
	display: block;
	text-align: center;
}

.about h1, .team h1, .return h1 {
	font-weight: bold;
	margin: 0 0;
	font-size: 1.1em;
}

.team .body-copy .section{
	margin-top: 30px;
}

.team .body-copy img{
	margin-right: 10px;
}

.team .interview {
	margin-top: 10px;
}

.team .heading {
	font-weight: bold;
	margin: 20px 0;
	text-align: center;
	font-size: 22px;
}

.return .body-copy ul{
	list-style-type: disc;
	list-style-position: inside;
}

.devs .body-copy{
	/*font-family: 'Advent Pro', sans-serif;*/
	margin: 10px 20px;
}

.devs h2 {
	text-transform: uppercase;
	margin: 20px 20px;
	background: white url(/static/images/gui/pink-dot-bg.png) repeat-x 0 center;
	width: 91%;
}
.devs h2 span, .devs h2 img {
	background-color: white;
}

.friend-img-item img{
	vertical-align: middle;
}

.friend-img-item{
	position: relative;
}

.devs h2 span {
	font-size: 40px;
	vertical-align: bottom;
	line-height: 51px;
	padding-left: 10px;
}
.devs .bold {
	font-weight: bold;
}

.careers .body-copy{
	/*font-family: 'Advent Pro', sans-serif;*/
	padding: 0 20px;
}
.careers h2 {
	text-transform: uppercase;
	margin: 20px 20px;
	background: white url(/static/images/gui/pink-dot-bg.png) repeat-x 0 center;
	width: 91%;
	text-align: left;
}
.careers h2 span{
	background-color: white;
}
.careers .bold {
	font-weight: bold;
}
.careers .no-space{
	margin-bottom: 0;
}

.careers .body-copy ul{
	list-style-type: disc;
	list-style-position: inside;
}

.careers #page-content .separator {
	height:5px;
	width: 100%;
	border-bottom: 1px #e492be dashed;
	margin-bottom: 20px;
}



.terms-conditions h2 {
	text-transform: uppercase;
	margin: 20px auto;
	background: white url(/static/images/gui/pink-dot-bg.png) repeat-x 0 center;
	width: 91%;
	text-align: left;
}

.terms-conditions h2 span {
	background-color: white;
}

.terms-conditions .body-copy {
	width: 90%;
	margin: auto;
}
 
.account_info td{
	padding:12px;
}
