{% extends "racks/rack_base.html" %} {% block title %} Stunable | Browse Items {% endblock %} {% block page_tab %}{% endblock %}
{% block content %}
<style>
	.iosSlider {
		width: 787px;
		height: 631px;
		overflow: hidden;
	}
	.slide {
		width: 787px;
	}
	#carousel-wrapper {
		overflow: hidden;
	}
	.prev {
		visibility: hidden;
	}
	.nxt {
		visibility: hidden;
	}
    .carousel_price_tag{
        font-size:1.1em;
        color:#888;
    }
</style>
{% load thumbnail %}
{% load voting_tags %} {% votes_by_user request.user on user_items as vote_dict %}
<div id="item_count" style="display: none">
    {{item_count}}
</div>
<body class="internal gallery" id="carousel-body">
    <div class="" id="page-content">
        <div id="happening-events">
            <div class="icon"></div>
            <div id="event-table" class="event-table" style="display:none;">
                {% if notice_unseen_count|default_if_none:0 != 0 and request.user.get_profile.view_happenings %}
                
                {% else %}
                    {% if not request.user.get_profile.view_happenings %}
                        You have disabled happenings. Feel free to enable using the settings page.
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div id="item_count" style="display: none">
            {{rack_items_list.count}}
        </div>
        <div id="item_per_page" style="display: none">
            3
        </div>
        <input type="hidden" value="{{page_count}}" name="page-count" />
        <div class="special" id="item-viewer">
            <ul id="stunable-tabs-nav" class="nav tabbed clearfix">
                <li class="tab" id="tab-all">
                    <a href="/" title="" class="text-link"><span>all</span></a>
                </li>
                <li class="tab" id="tab-new">
                    <a href="{% url new %}"  title="" class="text-link"><span class="identity">new</span></a>
                </li>
                <li class="tab" id="tab-all">
                    <a href="/shop/sale" title="" class="text-link"><span>sale</span></a>
                </li>
                
                {% include 'racks/includes/tag_tabs.html' %}

                <li id="new_tab_field">
                    <input data-target="#new_tab_field" data-href="{% url add_tab '' %}" class="refsubmit" placeholder="add a tab" type="text">
                </li>
               
            </ul>
            <div class="tab-detail clearfix" id="carousel">
                {% if rack_items_list %}
                <div class="nav directional">
                    <div class="blocker blocker-right"></div>
                    <a class="btn previous" id="prev" href="#">Previous</a>
                    <div class="blocker blocker-left"></div>
                    <a class="btn next" id="next" href="#">Next</a>
                </div>
                <div class="views" id="rotator">
<!--                     <div id="item-per-page-slider">
                        <span>PRODUCTS PER PAGE:</span>
                        <a class="products_per_page_links" {% if not item_per_page or item_per_page == 3 %}style="text-decoration: underline"{% endif %} href="?item_per_page=3&page=1">3</a>
                        <a class="products_per_page_links" {% if item_per_page == 6 %}style="text-decoration: underline"{% endif %} href="?item_per_page=6&page=1">6</a>
                        <a class="products_per_page_links" {% if item_per_page == 9 %}style="text-decoration: underline"{% endif %} href="?item_per_page=9&page=1">9</a>
                    </div> -->
                    <div class="iosSlider">
                        <!-- ********************************************* Recurring-Item-List START ********************************************* -->
                       {% block carousel_items %}
                        <ul class="item-list touchcarousel-container">
                            
                            {% for list_3_items in rack_items_list %}
                            {% for item in list_3_items %}
                                <li id="list_item_{{item.id}}" class="touchcarousel-item item some-crazy-class">
                                    {% include "racks/includes/item_list_content.html" %}
                                </li>
                            {% endfor %}
                            {% endfor %}
                           
                        </ul><!--/.item-list -->
                        {% endblock %}
                        <!-- ********************************************* Recurring-Item-List END ********************************************* -->
                    </div>
                </div><!--/.views -->
                {% else %}
                <div class="center">
                    <p style="line-height: 500px; text-align: center;">
                        There are no products in this category
                    </p>
                </div>
                {% endif %} <p class="p-bottom"></p>
            </div>
        </div><!--/.special#item-carousel"-->
    </div><!--/.section#page-content"-->
    {% endblock %}

{% block extra_script %}
    <script>
  
// $(document).ready(function(){
//     initSwipe($('.iosSlider'));
//     setupRackIt();
    
//     //initSliderTracking();
//     $('.iosSlider').css('overflow','hidden');
    
//     // setup the remove icon in the rack detail
//     $('.remove').click(function(){
//         var conf = confirm("Are you sure you want to remove this item from this rack?");
//         if (conf == true){
//             // call ajax to remove the item from rack
//             var current_item = $(this).parent();
//             $.getJSON($(this).attr('href'), function(result){
//                 if(result['result'] == true){
//                     $(current_item).remove();
//                 }else{
//                     alert(result['message']);
//                 }
//             });
//             return false;
//         }
//     });
    
//     // calls ajax when click on the products per page slider
//     $('.products_per_page_links').click(function(event){
//         event.preventDefault();
//         var link = $(this).attr('href');
//         $('.products_per_page_links').css('text-decoration', 'none');
//         $(this).css('text-decoration', 'underline');
//         $.ajax({
//             url: link,
//             success: function(returnData){
//                 $('.iosSlider').iosSlider('destroy', true);
//                 // return to the first slide
//                 slideNum = 0;
//                 $('.iosSlider .slider').html(returnData);
//                 initDesktopSwipe();
//                 initFancyBox();
//                 initDragDrop();
//                 fixDragDropIssue();
//             }
//         })
//     })
// });
// 
</script>
    {% endblock %}
