{% extends "racks/rack_base.html" %} {% block title %} Stunable | Browse Items {% endblock %} {% block page_tab %}{% endblock %}





{% block content %}
<div class="content {% block content-class%}carousel{%endblock%}wishlist" id="page-content" >

    <div data-type="list" data-orient="vertical" class="scrollbox listbox inner-page-content item-list medium">

        
            <!-- <div class="sizecontrols"><span>tiny</span><span>small</span><span>medium</span>large</span></div> -->
            <div  id="container" >

                                
                {% for f in rack_items_list %}
                   <div class="item">
                   		{{f.name}}
                   </div>

                {% empty %}
                <div class="content-message">
                    {{ CMS.friends_placeholder|safe }}
                </div>
                {% endfor %}
                               

            </div>
      
    </div>
</div>


{% endblock %}