{% extends "racks/rack_base.html" %} {% block title %} Stunable | Browse Items {% endblock %} {% block page_tab %}{% endblock %}





{% block content %}
<div class="content {% block content-class%}carousel{%endblock%}wishlist" id="page-content" >

    <div data-type="list" data-orient="vertical" class="scrollbox listbox inner-page-content item-list medium">

        
            <!-- <div class="sizecontrols"><span>tiny</span><span>small</span><span>medium</span>large</span></div> -->
            <div  id="container" >

                                
                {% for f in rack_items_list %}
                   <div class="item friend">
		                <div class="friend-img-item">
					        <img src="https://graph.facebook.com/{{f.id}}/picture">
					        <div class="friend-name{% if f.user %}{% else%} friend_adder{% endif %}"><a {% if not f.user %}class="friend_adder"{% endif %} data-value="{{ f.id }}" data-type="{% if f.user %}both{%else%}facebook{% endif %}" href="{%if f.user %}{% url trendsetters f.user.id %}{%else%}#{% endif %}">{{f.name}}</a></div>
					        <a href="{%if f.user %}{% url trendsetters f.user.id %}{% else %}#{% endif %}" data-value="{{ f.id }}" data-name="{{f.name}}" data-type="{% if f.user %}both{%else%}facebook{% endif %}" class="icon {% if f.user %}stfb_friend-icon{% else%}friend_adder{% endif %} plus-inline plus-icon" title="Add Friend">Add Trendsetter</a>
					    </div>
		            </div>

                {% empty %}
                <div class="content-message">
                    {{ CMS.friends_placeholder|safe }}
                </div>
                {% endfor %}
                               

            </div>
      
    </div>
</div>


{% endblock %}