{% block content %}

{% load voting_tags %}

{% votes_by_user user on user_items as vote_dict %}
<style>
	#bigform-error, #bigform-error1 {
		height: 25px;
		width: 100%;
		text-align: center;
		color: #E84E4B;
		top: 0px;
		font-family: 'Play', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 1.2em;
		text-transform: none;
		display: none;
		opacity: 0;
		margin-bottom: 15px;
	}
	#add-to-cart-link {
		text-transform: uppercase;
	}
	#loading1 {
	    display: inline;
	}
	#loading1 img{
	    vertical-align: bottom;
	}
	
</style>
<script>
	var size2color = {{size2color|safe}};
	var inventories = {{inventories|safe}};
    
	var thumb_image_width = {{item.get_image.image_dims.large.width}};
	var thumb_image_height= {{item.get_image.image_dims.large.height}};

	var source_image_width  = {{item.get_image.image_dims.extralarge.width}};
	var source_image_height = {{item.get_image.image_dims.extralarge.height}};

</script>
	<div id="modal_contents">
		<div class="modal_inner_frame">
			
			<div class="item-visuals" id="item_visual_{{item.pk}}">
				<ul id="images">

				<li>
					<img class="zoom_this featured" data-big="{{item.get_image.extralarge.url}}"  src="{{item.get_image.large.url}}">
				</li>
				{% for each_image in item.get_additional_images %}
				<li>
	                <img style="display:none" class="zoom_this" data-big="{{each_image.extralarge.url}}"  src="{{each_image.large.url}}">
				</li>
				{% endfor %}
			</div><!--/.item-visuals-->
			<div class="modal-item-details">
				<div class="description">
					{{item.description|safe}}
				</div>		
			</div>
		</div>
	</div>
	{% endblock %}
