{% block content %}

{% load voting_tags %}

{% votes_by_user user on user_items as vote_dict %}
<style>
	#bigform-error, #bigform-error1 {
		height: 25px;
		width: 100%;
		text-align: center;
		color: #E84E4B;
		top: 0px;
		font-family: 'Play', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 1.2em;
		text-transform: none;
		display: none;
		opacity: 0;
		margin-bottom: 15px;
	}
	#add-to-cart-link {
		text-transform: uppercase;
	}
	#loading1 {
	    display: inline;
	}
	#loading1 img{
	    vertical-align: bottom;
	}
	
</style>
<script>
	// var size2color = {{size2color|safe}};
	// var inventories = {{inventories|safe}};
    
	var thumb_image_width = {{item.get_image.image_dims.large.width}};
	var thumb_image_height= {{item.get_image.image_dims.large.height}};

	var source_image_width  = {{item.get_image.image_dims.extralarge.width}};
	var source_image_height = {{item.get_image.image_dims.extralarge.height}};

</script>
	<div id="modal_contents" style="background-color:{{item.get_image.color}}" class="{{item.get_image.orientation}}">
		<div class="modal_inner_frame">
			
			<div class="item-visuals" id="item_visual_{{item.pk}}">
				<ul id="images">

				<li>
					<img class="zoom_this featured" data-big="{{item.get_image.extralarge.url}}"  src="{{item.get_image.large.url}}">
				</li>
				{% for each_image in item.get_additional_images %}
				<li>
	                <img style="display:none" class="zoom_this" data-big="{{each_image.extralarge.url}}"  src="{{each_image.large.url}}">
				</li>
				{% endfor %}
			</div><!--/.item-visuals-->
			<!-- <div id="retailer-header">
				<div class="modalitem"><span>{{item.name}}</span></div>
				<div class="retailer"><span>{{item.retailer}}</span></div>
			</div> -->
			<div class="modal-item-details">
				<div class="item-data"> 
					<div class="description">
						{{item.description|safe}}
					</div>	
				</div>
				{% if not wished_variation %}
				<div class="item-actions">						
					<div class="item-size">
						<div id="variation_choices">
							<div style="color:black">SELECT SIZE:</div>
							<div class="item-size-list">
								{% regroup variations_by_size by size as sizes %}
									{% for size in sizes %}
									<span data-target=".color-in-sizes" class="size-in-colors{% for v in size.list %} color-{{v.custom_color_name|slugify}}{% endfor %}" data-name="size-{{size.grouper|slugify}}">
										<a href="#">{{size.grouper.size}}</a>
										{% for v in size.list %}
											<input type="hidden" class="size-{{v.size|slugify}} color-{{v.custom_color_name|slugify}}" value="{{v.id}}">
										{% endfor %}
									</span>

										{# {{size.list}} #}
								{% endfor %}
							</div>
							<br>
							<div style="color:black">SELECT COLOR:</div>
							
							<div class="item-color-list">
								{% regroup variations_by_color by custom_color_name as colors %}
								{% for color in colors %}
									
									<span data-target=".size-in-colors" data-name="color-{{color.grouper|slugify}}" class="color-in-sizes{% for v in color.list %} size-{{v.size|slugify}}{% endfor %}">
										<a href="#">{{color.grouper}}</a>
									</span>
								{% endfor %}
							</div>
							
						</div>
				{% endif %}		
						
						<div class="buy-wrapper bootstrap">
							{% if request.user.is_authenticated %}
								{% if wished_variation %}
								{# FOR WISH LIST MODAL #}
								<!-- 	<a data-callback="remove_and_close" data-target="#list_item_{{wished_variation.id}}" class="btn btn-primary refclick" data-href="{% url update_wishlist wished_variation.id %}">Remove From Wishlist</a>
									<a class="btn btn-primary" data-href="{% url add_to_cart wished_variation.id %}" id="add-to-cart-link">ADD TO CART</a> -->
								{% else %}
								{# FOR NORMAL ITEM MODAL #}
								<!-- 	<a class="btn btn-primary click_to_cart" data-href="/cart/update_wishlist/" href="" id="add-to-wishlist-link">Add To Wish List</a> -->
								<a class="btn btn-primary click_to_cart" data-href="/cart/add_to_cart/" href="" id="add-to-cart-link">ADD TO CART</a>
								{% endif %}
							{% endif %}					
						</div>
					</div>
				</div>
				<ul class="sharelinks">
					<li><a href="http://www.facebook.com/GreatAmericanArt"><span class="share iconFacebook"></span> Facebook</a></li>
					<li><a href="http://www.twitter.com"><span class="share iconTwitter"></span> Twitter</a></li>
				</ul>	
			</div>
		</div>

	</div>
	{% endblock %}
