{% extends "racks/rack_base.html" %} {% block title %} Stunable | Browse Items {% endblock %} {% block page_tab %}{% endblock %}





{% block content %}

<div class="content {% block content-class%}carousel{%endblock%}" id="page-content" >



    <div class="inner-page-content">
        <div id="stunable-tabs-nav">
            <ul id="tabs-container" class="nav tabbed clearfix">

                        <li class="stunable-tab tab {% if current == 'all' %} active{% endif %}">
                            <a href="/"><span>all</span></a>
                        </li>
                        <li class="stunable-tab tab{% if current == 'new' %} active{% endif %}">
                            <a href="{% url new %}"  title=""><span>new</span></a>
                        </li>
                        <li class="stunable-tab tab{% if current == 'sale' %} active{% endif %}">
                            <a href="{% url sale %}"  title=""><span>sale</span></a>
                        </li>
                        
                        {% include 'racks/includes/tag_tabs.html' %}

                        {% if request.user.is_authenticated %}
                            <li class="stunable-tab tab">
                                <a class="click-show" data-target="#tab-adder" href="" title="" class="text-link"><span class="bigplus">+</span> more<input id="tab-adder" style="display:none" data-target="#tabs-container" data-href="{% url add_tab '' %}" class="refsubmit" placeholder="add a tab" type="text"></a>
                            </li>
                        {% else %}
                            <li class="stunable-tab tab">
                                 <a data-href="/" class="login-check" href="" ><span class="bigplus">+</span><span class="under"> more</span></a>
                            </li>
                        {% endif %}
                        
                   
            </ul>
            <div id="new_tab_field">
             <!--     <input data-target="#tabs-container" data-href="{% url add_tab '' %}" class="refsubmit" placeholder="add a tab" type="text"> -->
            </div>
        </div>
        <div data-orient="horizontal" data-type="carousel" class="carouselbox item-list medium scrollbox">
        
            <!-- <div class="sizecontrols"><span>tiny</span><span>small</span><span>medium</span>large</span></div> -->
            <div id="container" >
                                
                                {% for list_3_items in rack_items_list %}
                                {% for item in list_3_items %}
                                {% with item as target_item %}
                                    {% if item.pk %}
                                    
                                        {% include "racks/includes/new_item_list_content.html" %}
                                    
                                    {% endif %}
                                {% endwith %}
                                {% endfor %}
                                {% endfor %}
                               

        </div>
        <div id="carousel-nav-container" class="directional">
            <div class="btn prev"></div>
            <div class="btn next"></div>
        </div>
    </div>
</div>


{% endblock %}