{% extends "racks/rack_base.html" %} {% block title %} Stunable | Browse Items {% endblock %} {% block page_tab %}{% endblock %}





{% block content %}

<div class="content {% block content-class%}carousel{%endblock%}" id="page-content" >
    <div class="inner-page-content">
        <div id="stunable-tabs-nav">
            <div style="display:inline-block" id="search_tab" title="search" class="stunable-tab tab">
                                <div class="text-link"><input data-lookup="{% url search_api %}" id="tab-search" data-target="#tabs-container" data-href="{% url add_tab '' %}" class="refsearch" placeholder="brand, product, mood, or occasion..." type="text"></div>
                            </div>
            <div id="tabs-container-container">
            <ul id="tabs-container" class="nav tabbed">
                            
                        {% comment %}
                        {% if request.user.is_authenticated %}
                            <li id="more-tabs-tab" title="click to add a new tab" class="stunable-tab tab">
                                <div class="click-show" data-target="#tab-adder" href="" title="" class="text-link"><span class="bigplus">+</span> more<input data-lookup="/lookups/tagging/tag" id="tab-adder" style="display:none" data-target="#tabs-container" data-href="{% url add_tab '' %}" class="refsubmit" placeholder="add a tab" type="text"></div>
                            </li>
                        {% else %}
                            <li id="more-tabs-tab" class="stunable-tab tab">
                                 <a data-href="/" class="login-check" href="" ><span class="bigplus">+</span><span>more</span></a>
                            </li>
                        {% endif %}
                        {% endcomment %}



                         {% with specials as tags %}
                            {% include 'racks/includes/tag_tabs.html' %}
                        {% endwith %}
                        <li class="stunable-tab tab {% if current == 'all' %} active{% endif %}">
                            <a href="/"><span>all</span></a>
                        </li>
                        <li class="stunable-tab tab{% if current == 'new' %} active{% endif %}">
                            <a href="{% url new %}"  title=""><span>new</span></a>
                        </li>
                        <li class="stunable-tab tab{% if current == 'sale' %} active{% endif %}">
                            <a href="{% url sale %}"  title=""><span>sale</span></a>
                        </li>
                        
                        {% include 'racks/includes/tag_tabs.html' %}

                        
                        
                   
            </ul>
            <!--  -->

        </div>
        <div id="carousel-container">
            <div data-orient="horizontal" data-type="carousel" class="carouselbox item-list medium scrollbox">
            
                <!-- <div class="sizecontrols"><span>tiny</span><span>small</span><span>medium</span>large</span></div> -->
                <div id="container" >
                                    {% if direct_link_item %}
                                        {% with direct_link_item as item %}
                                        {% with item as target_item %}
                                            {% if item.pk %}
                                            
                                                {% include "racks/includes/new_item_list_content.html" %}
                                            
                                            {% endif %}
                                        {% endwith %}
                                        {% endwith %}
                                    {% endif %}


                                    {% for item in rack_items_list %}
                                        {% if item.Item %}
                                        {% with item.Item as item %}
                                            {% with item as target_item %}
                                            {% if item.pk %}
                                            
                                                {% include "racks/includes/new_item_list_content.html" %}
                                            
                                            {% endif %}
                                            {% endwith %}
                                            {% endwith %}

                                        {% else %}
                                        {% with item as target_item %}
                                            {% if item.pk %}
                                            
                                                {% include "racks/includes/new_item_list_content.html" %}
                                            
                                            {% endif %}
                                        {% endwith %}
                                        {% endif %}
                                         {% empty %}
                                        <div class="content-message">
                                            {{CMS.empty_carousel|safe}}
                                        </div>
                                    {% endfor %}
                                   

                </div>
                
            </div>
            <div id="carousel-nav-container" class="directional">
                    <div class="btn prev"></div>
                    <div class="btn next"></div>
                </div>
        </div>
    </div>
</div>


{% endblock %}
