{% extends "racks/rack_base.html" %}

{% block title %}Stunable | Browse Items {% endblock %}

{% block page_tab %}{% endblock %}
{% load thumbnail %}

{% block content %}



<style type="text/css">
    .head-link {
        margin-right: 10px;
    }
    .static {
        display: inline;
    }
    .editable {
        display: inline-block;
    }
    .editable input {
        display: inline;
    }
</style>

{% load voting_tags %}

{% votes_by_user request.user on rack.rack_items.all as vote_dict %} 
<div id="item_count" style="display: none">
    {{item_count}}
</div>
<body class="internal gallery" id="carousel-body">
    <div class="" id="page-content">
        <div id="happening-events">
            <div class="icon"></div>
            <div id="event-table" class="event-table" style="display:none;">
                {% if notice_unseen_count|default_if_none:0 != 0 and request.user.get_profile.view_happenings %} 
                {% else %}
                    {% if not request.user.get_profile.view_happenings %}
                    You have disabled happenings. Feel free to enable using the settings page.
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="special" id="item-viewer">
            <div class="tab-detail clearfix" id="carousel" style="padding:10px 0 0 0;">
                <div class="views" id="rotator">
                    <div class="header">
                        <h1 style="font-size: 2em;text-transform: capitalize;">Your Rack</h1>
                        <div class="header">
                        <h2 class="static" style="font-family: 'Advent Pro', sans-serif;font-size: 1.5em;text-transform: lowercase;color: #888;text-align: left;font-weight: 100; padding-bottom:10px">{% if request.user == rack.owner %}<a class="edit" href="#">{{rack.name}}</a>{% endif %}</h2>
                        <form action="{% url update_rack_name rack.id %}" method="POST" class="editable form-horizontal" >
                            {% csrf_token %}
                            <input type="text" value="{{ rack.name }}" name="name" />
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </form>
                        {% if user.username == rack.owner.username %}
                        <a href="{% url share_modal_view rack.id %}" type="button" class="btn head-link item-ref">{% if shared_admirers %} Send It Again {% else %} Share{% endif %}</a>
                        <a href="{% url rack_delete rack.id %}" type="button" class="btn" onclick="return confirm('Are you sure you want to delete this rack?')">Delete</a>
                        {% endif %}
                        <a href="/cart/buy_rack/{{rack.id}}" type="button" class="btn" >Buy</a>
                        </div>
                    </div>
                   <!--  <a href="?order_by=brand-ascending" {% if order_by == 'brand-ascending' %}class="highlighted"{% endif %}><img src="{{ STATIC_URL }}images/gui/sg_arrow_down.png"/></a>
                    Brand
                    <a {% if order_by == 'brand-descending' %}class="highlighted" {% endif %} href="?order_by=brand-descending"><img src="{{ STATIC_URL }}images/gui/sg_arrow_up.png"/> </a>
                    <a href="?order_by=price-ascending"><img src="{{ STATIC_URL }}images/gui/sg_arrow_down.png"/></a>
                    Price
                    <a href="?order_by=price-descending"><img src="{{ STATIC_URL }}images/gui/sg_arrow_up.png"/> </a>
                    <form action="" method="GET" id="item-filter-form" class="bootstrap">
                    <input type="text" name="q" id="filter" placeholder="Filter Keyword" style="margin-bottom: 0" />
                    <input type="submit" value="View" class="btn btn-primary" />
                    </form>
                    </div> -->
                    <div class="separator"></div>
                    <ul class="item-list">
                        {# for item in rack.rack_items.all #}
                        {% for item in items %}
                        <li id="list_item_{{item.id}}" class="item some-crazy-class">
                             {% include "racks/includes/item_list_content.html" %}
                        </li>
                        {% empty %}
	                       	<div class="center" >
	                            <p style="line-height: 500px; text-align: center;">This rack is empty, you can drag drop an item into this rack from carousel page</p>
	                        </div>
                        {% endfor %}

                    </ul><!--/.item-list -->
                    <!-- ********************************************* Recurring-Item-List END ********************************************* -->
                </div><!--/.views -->
                <p class="p-bottom"></p>
            </div>
        </div><!--/.special#item-carousel"-->
    </div><!--/.section#page-content"-->
    {% endblock %}
    {% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function(){
            // make inline edit
            $('.editable').hide();

            $('.edit').click(function(event) {
                event.preventDefault();
                if($(this).html() == 'Edit') {
                    $(this).html("Close");
                } else {
                    $(this).html("Edit");
                }

                var stc = $(this).parent().parent().find('.static');
                var editable = $(this).parent().parent().find('.editable');

                if($(stc).css('display') == 'none') {
                    $(stc).css('display', '');
                    $(editable).css('display', 'none');
                } else {
                    $(stc).css('display', 'none');
                    $(editable).css('display', '');
                }
            });
            
            $('#left-panel').portamento({wrapper: $('#carousel-wrapper')});

            $('.remove').click(function(e){
                var $item = $(this).closest('.item')
                e.preventDefault();
                $.post($(this).attr('href'),function(data){
                    if (data.result === true){
                        $item.fadeOut('slow')
                    }
                })
            })
        })
    </script>
    {% endblock %}
