{% extends "user_base.html"  %}

{% block body_class %}gallery{% endblock %}


{% block page_tab_hide_for_now %}
<style>
	#admirer_search_btn {
	background:#000;
	/* Gradient bg = WebKit (Safari, Google Chrome etc) */
	background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
	/* Gradient bg = Mozilla/Gecko (Firefox etc) */
	background:-moz-linear-gradient(top, #000, #333);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#333333);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#333333)";
}
</style>
<ul class="nav tabbed clearfix">
	<li class="tab" id="tab-title">
		<span class="text">Your Racks:</span>
	</li>
	{% block current_tab %}
	<li class="tab" id="tab-private">
		<a href="{% url racks_index %}" title="" class="text-link" {% if not rack.shared_users.all %} id="current-tab" {% endif %}><span>Private</span></a>
	</li>
	<li class="tab" id="tab-shared">
		<a href="{% url list_shared_racks %}" title="View your shared racks." class="text-link" {% if rack.shared_users.all %} id="current-tab" {% endif %}><span>Shared</span></a>
	</li>
	{% endblock %}
	<li class="tab" id="tab-filter">
				<form action="{% url rack_search %}" class="clearfix" id="filter-form" method="GET">
					<label for="filter-by" class="unseen">Filter by</label>					
					<div class="clearfix ui-widget" id="admirer-search-form">
						<label for="filter-by" class="unseen">Filter your racks</label>
						<input type="submit" value="search" id="admirer-search-form" class="btn" style="float: right" />
						<input type="hidden" name="rack_id" value="{{rack.id}}"/>
						<input type="input" name="q" style="float:right;width: 125px" class="txt srch" placeholder="Search your racks"/>						
						<select name="filter" id="filter" style="margin-right: 5px">
							<option value="filter_by">Filter by&hellip;</option>
							<option value="designer">Designer</option>
							<option value="category">Type</option>
							<option value="color">Color</option>
						</select>
												
					</div>
					
				</form>
	</li>
</ul>
{% endblock %}
{% block rack_scripts %}
<script>
	$(document).ready(function() {
		initDragDrop()
	    initTouch();
	      function initAddFriend(){
	          // unbind the click function just in case
	          $('.plus-inline').unbind("click");
	          // when click on the add friend icon
	          $('.plus-inline').click(function(){
	              var current_item = $(this).parent().parent();
	              var span = $(this).parent().find("span");
	              var spinner = $('<div class="spinner" style="float:right;"></div>');
	              var plusBtn = $(this);
	              plusBtn.hide();         
	              spinner.appendTo(plusBtn.parent());
	              spinner.sprite({ fps: 10, no_of_frames: 12 });
	              
	              $.getJSON($(this).attr('href'), function(result){
	                  // remove the plus icon when invitation is sent
	                  plusBtn.remove();
	                  spinner.remove();
	                  // plusBtn.show();
	                  
	                  if(result['result'] == true){
	                      // notice user
	                      var temp = $(span).html();
	                      $(span).html("Request Sent!").delay(3000).fadeOut(500, function() {
	                          $(span).html(temp);
	                          $(span).fadeIn(500);
	                      });
	                  }else{
	                      alert(result['error']);
	                  }
	              });
	              return false;
	          });
	      }
	      
	      function listFilter(input, list) {
	          $(input).change(function() {
	              var filter = $(this).val();
	              // get the value of the input, which we filter on
	              if(filter) {
	                  $(list).find("span:not(:contains(" + filter + "))").parent().parent().slideUp();
	                  $(list).find("span:contains(" + filter + ")").parent().parent().slideDown();
	              } else {
	                  $(list).find("li").slideDown();
	              }
	          }).keyup(function() {
	              // fire the above change event after every letter
	              $(this).change();
	          });
	      }
	      
	      var oldFilter = "";
	      var original_friends=$('#result-list').clone()
	      function getUserlist(input, list){
	          var form = $(input).parent();
	          var href = $(form).attr('action');

	          $(input).change(function(){
	              // from the jquery document, the change event is fired 
	              // only if the input loses focus, so we need to compare
	              // the old and new value of the input box after it loses
	              // focus, so we can decide to init the plus icon or just ignor 
	              var filter = $(this).val();
	              if (filter != oldFilter && filter != ""){
	                  var link = href + '?q=' + filter;           
	                  $.get(link, function(returnValue){
	                  	$('#result-list').children().remove();
	                      $.each(list, function(){
	                          $(this).html(returnValue);
	                      });
	                      initFriendDragDrop();
	                      initAddFriend();
	                      oldFilter = filter;
	                  });
	              }else{
	              	$('#result-list').append(original_friends.children())
	              }
	              // else ignore it for god sake
	          }).keyup(function() {
	              // fire the above change event after every letter
	              $(this).change();
	          });
	      }


	      $('.panel-tab').click(function() {
	  
	          if(!$(this).hasClass('active')) {
	              $('.panel-tab').removeClass('active');
	              $(this).addClass('active');
	              $('.panel-inner-content').fadeOut(500, function() {
	                  $('.panel-inner-content').html($('.panel-header .active').find('.tab-content').html()).fadeIn(500, function() {
	                      initDragDrop();
	                      {% if request.user.is_authenticated %}
		                      initFancyBox('#add-rack ');
		                      initFancyBox('#add-friend ');
	                     
	                      initFancyBox();
	                      {% endif %}
	                      fixDragDropIssue();
	                  });
	                  if($('.friend-search-box').length > 1) {
	                      // because there are exactly identical elements so i need to choose the last one (the first one is hidden)
	                      // listFilter($('.friend-search-box')[1], $('.friend-list')[1]);
	                      getUserlist($('.friend-search-box')[1], $('.search-result'));
	                      initFriendDragDrop();
	                  }
	              });
	          }
	      });

	      $('.panel-inner-content').html($('.panel-header .active').find('.tab-content').html()).fadeIn(1000, function() {
	          initDragDrop();
            	{% if request.user.is_authenticated %}
                  	initFancyBox('#add-rack ');
                  	initFancyBox('#add-friend ');
	          		initFancyBox();
	          {% endif %}
	          fixDragDropIssue();
	      });
	      
	  });
</script>
{% endblock %}


