{% extends "racks/rack_base.html" %} {% block title %} Stunable | Browse Items {% endblock %} {% block page_tab %}{% endblock %}





{% block content %}

<div class="content {% block content-class%}carousel{%endblock%}wishlist" id="page-content" >

    <div data-type="list" data-orient="vertical" class="scrollbox listbox inner-page-content item-list medium">

        
            <!-- <div class="sizecontrols"><span>tiny</span><span>small</span><span>medium</span>large</span></div> -->
            <div  id="container" >
                                
                            {% for list_3_items in rack_items_list %}
                                {% for wishlistitem in list_3_items %}
                                    {% with wishlistitem.item_variation as target_item %}
                                    {% with wishlistitem.item as item %}
                                    {% if item.pk %}
                                        
                                        {% include "racks/includes/new_item_list_content.html" %}
                                    
                                    {% endif %}
                                    {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                            {% endfor %}
                               

        </div>
      
    </div>
</div>


{% endblock %}