{% extends "clean_base.html" %}

{% block title %} Stunable | Retailer Administration {% endblock %}

{% block body_class %}common large_common{% endblock %}
{% block content-class%}round-corner-shadow{%endblock%}

{% block content %}

<div id="page-content">



    <div class="body-copy inner-page-content">
        <div id="cart-item-list" class="purchased">
             
        {% for checkout in checkouts %}
        {% with checkout.purchase_set.all.0 as first_purchase %}
        <div class="cart-retailer-group">
                <table cellpadding="0" cellspacing="0" width="100%" border="0" class="retailer-item-group">
                            <tr>
                                <td colspan="2" class="retailer-header">
                                    {{first_purchase.purchased_at}}<br>
                                    <span class="item-retailer">{{checkout.retailer}}</span>    
                                </td>
                                <td style="text-align:right" class="cart-item-shipping-edit">
                                    reference number: <span class="reference-number"> {{checkout.ref}} </span>
                                </td>
                                <td>
                                    <div class="shipping-options">
                                    

                                        Return Policy:{% if checkout.retailer.not_accept_refund %}
                                        Final Sale
                                        {% else %}
                                        Return within 14 Days
                                        {% endif %}

                                    
                                    </div>
                                </td>
                                

                            </tr>
                            {% for purchase in checkout.purchase_set.all %}
                            {% with item=purchase.item %}
                            <tr class="item-name cart-item-{{item.id}}">
                                <td colspan="4">
                                    {{ item.item_name }}
                                </td>
                            </tr>
                            <tr class="item cart-item-{{item.id}}">  
                               
                                <td class="item-img">
                                    <img src="{{item.picture}}">
                                </td>
                                <td colspan="2" class="item-info">
                                    <br>size:<span>{{ item.item_variation.size }}</span>
                                    <br>color:<span>{{ item.item_variation.color }}</span>
                                    <br>quantity:<span>{{ item.quantity }}</span>
                                </td>
                                    
                            <td>
                                {% include purchase_actions %}
                            </td>
                                    
                            </tr>
                            {% endwith %}
                            {% endfor %}
                </table>
                </div>
            {% endwith %}
            {% endfor %}

    </div>
    </div>
</div>
{% endblock %}



