{% extends "user_base.html" %}

{% block title %}Stunable | Contact{% endblock %}

{% block body_class %}contact{% endblock %}
{% block body_id %}gallery{% endblock %}

{% block rack %}
{% endblock %}

{% block content1 %}
<div id="page-content" class="section clearfix round-corner-shadow">
	<div class="section intro">
		<h2><span class="font-bella">Contact</span><span>Stunable</span></h2>
		<p>
			Want to get in touch?<br />
Please contact us via email, phone, or social! <br />
We look forward to hearing from you! 
		</p>
	</div><!--/.section#intro-->
	<div class="separator"></div>
	<div class="section body-copy">
	    <form action="" method="POST">
	        {% csrf_token %}
		<div class="column-left">
			<input type="text" name="firstname" placeholder="FIRST NAME" class="txt" />
			<input type="text" name="lastname" placeholder="LAST NAME" class="txt" />
			<input type="text" name="email" placeholder="EMAIL" class="txt" />			
		</div>
		<div class="column-right">			
			 <textarea type="text" name="message" placeholder="PRIVATE MESSAGE: less then 160 characters" class="txt no-border "></textarea>
			 <div class="separator" style="margin-bottom: 7px;"></div>
			 <div class="bootstrap" style="text-align: right;padding-right: 8px;">
			 	<input type="submit" class="btn btn-primary" value="SEND IT">
		 	</div>
		</div>
		</form>
	</div>
</div>
<div id="extra-content" class="round-corner-shadow">
	<p>General inquiries? Drop us a line at <a href="mailto:info@stunable.com?subject=General Inquiries">info@stunable.com</a></p>
	<p>Want a job? Send us your resume at <a href="mailto:info@stunable.com?subject=I want a Job!">info@stunable.com</a></p>
	<p class="title">Retailers & Merchants</p>
	<p>Interested in a partnership or advertising? Please contact <a href="mailto:stylists@stunable.com?subject=Interested in Becoming Stunable Stylist">stylists@stunable.com</a></p>
	<p> Phone: 1 (866) 752-4348 </p>
</div>
{% endblock %}
