{% load thumbnail %}
{% load voting_tags %} {% votes_by_user request.user on user_items as vote_dict %}


<li class="item some-crazy-class"{% if parent_loop_counter > 1 %} style='display:none;'{% endif %}> <h5 class="item-label"><span>{{item.brand}}</span></h5>
    <h4 class="item-name"><a class="item-ref top-ref" data-value="{{ item.id }}" href="{% url item_modal item.id %}">{{item.name}}</a></h4>
    <div class="wp drag_item">
        <a class="item-ref bottom-ref rel_pos" data-value="{{ item.id }}" href="{% url item_modal item.id %}"> {% thumbnail item.get_image "200x390" as im %} <img src="{{ im.url }}"> {% empty %} <img src="{{item.get_image}}" alt="" /> {% endthumbnail %} </a>
    </div>
    {% dict_entry_for_item item from vote_dict as vote %}
    <div class="link-holder content" id="item_{{item.pk}}">
        <p class="icon-link yes-no no {% if vote and vote.is_downvote %}voted{% endif %} no_{{item.pk}}">
            <a href="{% url item_vote item.pk 'down' %}" class="icon disapprove">No way.</a>
        </p>
        <p class="icon-link hanger">
            <a href="{% url add_item_from_modal %}" data-value="{{ item.id }}" class="icon rack-icon">Rack it.</a>
        </p>
        <p class="icon-link yes-no yes {% if vote and vote.is_upvote %}voted{% endif %} yes_{{item.pk}}">
            <a href="{% url item_vote item.pk 'up' %}" class="icon approve">Yes, please!</a>
        </p>
    </div>
    <div class="carousel_price_tag">
        {{item.price_range_text|safe}}
</li>