{% load cache %}
{% if item.slug %}
	<div data-id="{{target_item.id}}" id="list_item_{{target_item.id}}" class="touchcarousel-item item retailer-{{item.retailer_profile.id}} {{item.get_image.orientation}}">

		<div class="picbox">
			<a class="item-ref pic-container wp drag_item touchable"  rel="modal:open" data-options="item_modal_options" 
			{% if is_wishlist %}href="{% url variation_modal wishlistitem.id %}"
				{%else%}href="{% url item_modal item.slug %}"
			{% endif %} data-value="{{ item.id }}" >    
				
				 <img alt="{{target_item.name}} by {{target_item.retailer}}" src="{{ target_item.get_image.medium.url }}"> 
			</a>
			<div class="item-info">
			<div class="item-label"><span>{{item.brand}}</span></div>
			
			 <div class="item-name"><span>{{item.name}}<span></div>

			 <div class="carousel_price_tag">
			    {{item.price_range_text|safe}}
			</div>
		</div>
		</div>

		
		
		
		



 		{% if is_wishlist %}
			 <div class="controls">
			 <a href="" data-target="#list_item_{{target_item.id}}" data-href="{% url update_wishlist wishlistitem.item_variation.id %}?remove=1" title="Remove this item." class="icon close-modal  refclick"></a></div>
		 {% endif %}

		
	</div>

{% endif %}